<template>
    <main v-if="getBlock2 && getBlock3 && getBlock4">
        <i class="hr"></i>
        <specialArticle></specialArticle>
        <div class="q">
            <a
                v-if="getBanners && getBanners[3]"
                :href="bannerLink(getBanners[3].link)"
                target="_blank"
            >
                <img
                    :src="path(getBanners[3].img_desktop)"
                    alt="commonClass.img_desktop_alt"
                />
            </a>
        </div>
        <div class="articleAndSidebar">
            <div class="innerWrap df fdc">
                <div class="df jcsb ait mb20 border-b ais">
                    <router-link class="blockTitle" :to="{ path: '/publishing' }">
                        <h2 class="mt0">Актуально</h2>
                        <i class="icon ic-arrow-right"></i>
                    </router-link>
                </div>
                <article-list class="articleList"></article-list>

                <slider :sliderData="getBlock2.items" class="firstSlider">
                    <div class="df jcsb ait border-b">
                        <template v-if="getBlock2.category.type == 'category'">
                            <router-link
                                class="sliderLink blockTitle"
                                :to="{ path: getBlock2.category.url }"
                            >
                                <h2>{{ getBlock2.category.name }}</h2>
                                <i class="icon ic-arrow-right"></i>
                            </router-link>
                        </template>
                        <template v-else>
                            <router-link
                                class="sliderLink blockTitle"
                                :to="{
                                    name: 'Archive',
                                    query: { tag: getBlock2.category.name },
                                }"
                            >
                                <h2>{{ getBlock2.category.name }}</h2>
                                <i class="icon ic-arrow-right"></i>
                            </router-link>
                        </template>
                    </div>
                </slider>
                <div class="df jcsb dbSlider">
                    <slider :sliderData="getBlock3.items" class="vline">
                        <div class="df jcsb ait border-b">
                            <template
                                v-if="getBlock3.category.type == 'category'"
                            >
                                <router-link
                                    class="sliderLink blockTitle"
                                    :to="{ path: getBlock3.category.url }"
                                >
                                    <h2>{{ getBlock3.category.name }}</h2>
                                </router-link>
                            </template>
                            <template v-else>
                                <router-link
                                    class="sliderLink blockTitle"
                                    :to="{
                                        name: 'Archive',
                                        query: { tag: getBlock3.category.name },
                                    }"
                                >
                                    <h2>{{ getBlock3.category.name }}</h2>
                                </router-link>
                            </template>
                        </div>
                    </slider>
                    <slider :sliderData="getBlock4.items">
                        <div class="df jcsb ait border-b">
                            <template
                                v-if="getBlock4.category.type == 'category'"
                            >
                                <router-link
                                    class="sliderLink blockTitle"
                                    :to="{ path: getBlock4.category.url }"
                                >
                                    <h2>{{ getBlock4.category.name }}</h2>
                                </router-link>
                            </template>
                            <template v-else>
                                <router-link
                                    class="sliderLink blockTitle"
                                    :to="{
                                        name: 'Archive',
                                        query: { tag: getBlock4.category.name },
                                    }"
                                >
                                    <h2>{{ getBlock4.category.name }}</h2>
                                </router-link>
                            </template>
                        </div>
                    </slider>
                </div>
            </div>
            <right-sidebar
                :blogData="getBlogData"
                class="rSidebar"
            ></right-sidebar>
        </div>
    </main>
</template>

<script>
// import mainArticle from "./blocks/app-mainArticle.vue";
import specialArticle from "./blocks/app-specialArticle.vue";
import articleList from "./blocks/app-articleList.vue";
import rightSidebar from "./blocks/app-rSidebar.vue";
import slider from "./blocks/app-slider.vue";
import { mapGetters } from "vuex";
export default {
    name: "app-content-wrapper",
    components: {
        // mainArticle,
        specialArticle,
        articleList,
        rightSidebar,
        slider,
    },
    data() {
        return {
            commonClass: "",
        };
    },
    computed: {
        ...mapGetters([
            "getBlock2",
            "getBlock3",
            "getBlock4",
            "getBlogData",
            "getBanners",
        ]),
    },
    created() {
        // this.axios.post("/api/re/get-by-ids", {
        //     lang: this.currentLang,
        //     ids: [3],
        // }).then(res => {
        //     this.commonClass = res.data.data[3];
        // })
    },
};
</script>

<style lang="sass" scoped>
.q
  margin: 30px 0px
  position: relative
  img
    width: 100%
  &::before
    content: ''
    position: absolute
    width: 100%
    height: 1px
    background-color: $c-gray-light-1
    left: 0px
  &::before
    top: -15px
//   &::after
//     bottom: -15px
.q a
    position: relative
    &::after
      content: ''
      position: absolute
      width: 100%
      height: 1px
      background-color: $c-gray-light-1
      left: 0px
      bottom: -15px
.innerWrap
  // width: calc(70% - 15px)
  // max-width: 418px
  @media (max-width: 820px)
    max-width: unset
.test
  width: 100%
.articleList
  margin-bottom: 15px
  margin-top: 0px
  position: relative
.rSidebar
  max-width: 250px
  @media (max-width: 820px)
    max-width: unset
.dbSlider
  & > div
    width: calc(50% - 15px)
  @media (max-width: 640px)
    flex-direction: column
    & > div
      width: 100%
.articleAndSidebar
  display: grid
  grid-template-columns: auto 250px
  grid-gap: 30px
  @media (max-width: 820px)
    grid-template-columns: 1fr
.sliderLink
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between
    margin-bottom: 10px
    h2
        margin-bottom: 0px
.blockTitle h2
    font-weight: 500
    font-size: 24px
    line-height: 100%
    text-transform: uppercase
    transition: .3s
    color: #111325
.blockTitle i
    transition: .3s
.blockTitle:hover
    h2, i
        color: $c-green
.vline
    position: relative
    &::before
        content: ''
        background-color: #fff
        position: absolute
        width: 1px
        height: 95%
        background-color: #DEDDE7
        right: -15px
        top: 5%
.firstSlider .blockTitle h2
    margin-top: 0px
.mb20
    margin-bottom: 20px
.mt0
    margin-top: 0px
    margin-bottom: 15px
.ais > a
    align-items: flex-start
</style>
