<template>
    <router-link :to="landing_link || url">
        <div class="df jcsb" :class="{ fdc: direction == 'column', hasVideo: hasVideo == 1 }">
            <div class="l">
                <div class="imgWrp">
                    <img :src="image" alt="" />
                </div>
            </div>
            <div class="r df fdc">
                <div class="infoWarpper">
                    <span>{{ date }}</span
                    ><span>{{ viwed }} <i class="icon ic-eye"></i></span>
                    <p class="title">
                        {{ title }}
                    </p>
                    <p class="desc" v-if="descr != ''" v-html="descr"></p>
                </div>
            </div>
        </div>
    </router-link>
</template>

<script>
export default {
    name: "item-div",
    props: {
        image: {
            type: String,
            default:
                "http://2124023.mf417489.web.hosting-test.net//storage/app/public/media/uploads/articles/74c83b6---------------------------------5.png",
        },
        title: {
            type: String,
            default: `AGROGEAR. Збереження вологи. Кожне господарство обирає найкращі технології під свої умови`,
        },
        descr: {
            type: String,
            default: "",
        },
        direction: {
            type: String,
            default: "row",
        },
        date: {
            type: String,
            default: "29 серпня 2021, 13:00",
        },
        landing_link: {
            type: String
        },
        viwed: {
            type: Number,
            default: 0,
        },
        hasVideo: {
            type: Number,
        },
        url: {
            type: String
        }
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
.article
    margin-bottom: 10px
    &:last-of-type
        margin-bottom: 15px
    .l
        width: 55%
        margin-right: 10px
    .r
        width: 45%
.article .title
    @include subtitle-3
.footerArticle
    .title
        @include subtitle-1
        font-weight: 400
.infoWarpper .title
    margin-top: 10px
.hasVideo .l .imgWrp
    position: relative
    &::before
        content: ''
        position: absolute
        background-color: red
        width: 30px
        height: 30px
        background: url(../../assets/images/play.png) center/cover no-repeat
        bottom: 10px
        left: 5px
.specialArticle
    .title
        transition: .3s
    &:hover
        .title
            color: $c-green
</style>
