<template>
    <li>
        <a :href="this.bannerData.link" target="_blank" class="bannerWrapper">
            <picture>
                <img
                    :src="path(this.bannerData.img_desktop)"
                    :alt="this.bannerData.alt"
                />
            </picture>
            <div class="r">
                <p>{{ this.bannerData.text }}</p>
                <button>{{ this.bannerData.btn_name }}<i class="icon ic-arrow-right"></i></button>
            </div>
        </a>
    </li>
</template>

<script>
export default {
    name: "native-banner",
    props: {
        bannerData: {
            type: Object,
        },
        direction: {
            type: String,
            default: "row",
        },
    },
    computed: {

    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
.article
    transition: .3s
    margin-bottom: 10px
    &:last-of-type
        margin-bottom: 15px
    .l
        width: 55%
        margin-right: 10px
    .r
        width: 45%
    &:hover
        color: $c-green
.article .title
    @include subtitle-3
.footerArticle
    .title
        @include subtitle-1
        font-weight: 400
.tags
    display: flex
    flex-wrap: wrap
    li
        padding: 2px
        background: #F6F5FA
        border: 1px solid #DEDDE7
        box-sizing: border-box
        border-radius: 1px
        font-weight: 500
        font-size: 10px
        margin-bottom: 5px
        &:not(:last-of-type)
            margin-right: 5px
.fdc
    .l
        margin-right: 0px
        width: 100%
    .r
        width: 100%
    .article .l
        margin-right: 10px
.bannerWrapper
    display: flex
    width: 100%
    grid-gap: 10px
    img
        width: auto
        height: auto
        max-width: 470px
        min-width: 150px
        display: block
    .r
        display: flex
        flex-direction: column
        justify-content: space-between
        @media (max-width: 576px)
            width: 100%
    p
        @include subtitle-2
        margin-top: 0px
    button
        background-color: $c-green
        color: #fff
        border: none
        display: flex
        padding: 15px
        align-items: center
        justify-content: flex-end
        font-weight: 600
        font-size: 16px
        line-height: 100%
        i
            margin-left: 10px
            color: inherit
    @media (max-width: 991px)
        flex-direction: column
        img
            max-width: unset
            width: 100%
.viewd
    display: flex
li
    border-bottom: 1px solid $c-gray-light-1
    padding-bottom: 15px
    margin-bottom: 15px
</style>
