<template>
    <router-link :to="{ path: landingUrl || url }" class="df jcsb">
        <slot />
        <li
            class="df jcsb"
            :class="{ fdc: direction == 'column', hasVideo: hasVideo == 1 }"
        >
            <div class="l">
                <template v-if="articleType == 'category'">
                    <span class="date">{{ date }}</span>
                    <span class="viewd"
                        >{{ viwed }} <i class="icon ic-eye"></i
                    ></span>
                </template>
                <div class="imgWrp">
                    <img :src="image" alt="" />
                </div>
            </div>
            <div class="r df fdc">
                <div class="infoWarpper">
                    <template v-if="articleType == 'default'">
                        <span>{{ date }}</span>
                        <span>{{ viwed }} <i class="icon ic-eye"></i></span>
                    </template>

                    <template
                        v-if="
                            $route.fullPath == '/blogs' ||
                            $route.name == 'Rubric' ||
                            $route.name == 'Search' ||
                            $route.name == 'BlogerArticle'
                        "
                    >
                        <router-link
                            class="category"
                            v-if="categoryText && categoryUrl"
                            :to="{ path: categoryUrl }"
                            >{{ categoryText }}</router-link
                        >
                    </template>

                    <p class="title">
                        {{ title }}
                    </p>
                    <p class="desc" v-if="descr != ''" v-html="descr"></p>
                    <ul v-if="tagList" class="tags">
                        <li v-for="(tag, idx) in tagList" :key="idx">
                            <router-link
                                :to="{
                                    name: 'Search',
                                    params: {
                                        locale:
                                            $i18n.locale == 'uk'
                                                ? null
                                                : $i18n.locale,
                                    },
                                    query: {
                                        q:  $i18n.locale == 'uk' ? tag.url.split('/').splice(2, 1).join() : tag.url.split('/').splice(3, 1).join(),
                                        t: 1
                                    },
                                }"
                            >
                                {{ tag.name }}
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </router-link>
</template>

<script>
export default {
    name: "item",
    props: {
        itemData: {
            type: Object,
        },
        type: {
            type: String,
            default: "article",
        },
        image: {
            type: String,
            default: "",
            // validator: (value) => {
            //    return value ? value : null
            // }
        },
        title: {
            type: String,
            default: "empty props title",
        },
        landingUrl: {
            type: String
        },
        descr: {
            type: String,
        },
        direction: {
            type: String,
            default: "row",
        },
        date: {
            type: String,
            default: "empty props date",
        },
        viwed: {
            type: Number,
        },
        hasVideo: {
            type: Number,
        },
        articleType: {
            type: String,
            default: "default",
        },
        categoryText: {
            type: String,
        },
        categoryUrl: {
            type: String,
        },
        tags: {
            type: [Object, Array],
        },
        slug: {
            type: String,
        },
        url: {
            type: String,
        },
    },
    data() {
        return {
            isLoaded: false,
        };
    },
    computed: {
        tagList() {
            return this.tags ? this.tags : null;
        },
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
.blogerArticle .date
    margin-right: 0px
.preloader
    background-color: red
    width: 100%
    height: 200px
.article
    transition: .3s
    margin-bottom: 10px
    &:last-of-type
        margin-bottom: 15px
    .l
        width: 55%
        margin-right: 10px
    .r
        width: 45%
li
    .title
        transition: .3s
    &:hover
        .title
            color: $c-green
.article .title
    @include subtitle-3
.footerArticle
    .title
        @include subtitle-1
        font-weight: 400
.tags
    display: flex
    flex-wrap: wrap
    li
        padding: 2px
        background: #F6F5FA
        border: 1px solid #DEDDE7
        box-sizing: border-box
        border-radius: 1px
        font-weight: 500
        font-size: 10px
        margin-bottom: 5px
        &:not(:last-of-type)
            margin-right: 5px
.fdc
    .l
        margin-right: 0px
        width: 100%
    .r
        width: 100%
    .article .l
        margin-right: 10px
.rubricItem
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px solid $c-gray-light-1
    .l
        max-width: 150px
        width: 100%
    .title
        margin-top: 0px
.hasVideo .l .imgWrp
    position: relative
    &::before
        content: ''
        position: absolute
        background-color: red
        width: 30px
        height: 30px
        background: url(../../assets/images/play.png) center/cover no-repeat
        bottom: 10px
        left: 5px
li
    .l
        @media (max-width: 576px)
            max-width: 120px !important
    .r
        @media (max-width: 576px)
            width: calc(100% - 120px)
.news .sidebar
    li .l
        max-width: unset !important
.category
    font-weight: 500
    font-size: 12px
    line-height: 135%
    letter-spacing: 0.01em
    text-decoration-line: underline
    color: #555861
    display: block
.blogerArticle
    img
        display: none
</style>
