<template>
    <div>
        <router-link
            :to="{
                name: `Rubric`,
                params: {
                    rubric: 'news',
                    locale: $i18n.locale == 'uk' ? null : $i18n.locale,
                },
            }"
            class="blockTitle"
        >
            <h2 class="title">{{ $t("news") }}</h2>
            <i class="icon ic-arrow-right"></i>
        </router-link>
        <ul class="filter df">
            <li
                @click="filterNewsKey = 'all'"
                :class="{ active: filterNewsKey == 'all' }"
            >
                {{ $t("last") }}
            </li>
            <li
                @click="filterNewsKey = 'important'"
                :class="{ active: filterNewsKey == 'important' }"
            >
                {{ $t("main") }}
            </li>
        </ul>
        <i class="hr"></i>
        <!-- <side-bar-list></side-bar-list> -->
        <ul>
            <component
                :is="item.type == 'date' ? 'app-date-item' : 'list-item'"
                v-for="(item, idx) in filterNews"
                :key="idx"
                :name="item.name"
                :interview="item.interview"
                :views="item.views"
                :date="item.date"
                :label="item.labels"
                :url="item.url"
                :landing_url="item.landing_link"
            ></component>
            <li class="view_all viewAll-Homepage">
                <router-link
                    :to="{
                        name: `Rubric`,
                        params: {
                            rubric: 'news',
                            locale: $i18n.locale == 'uk' ? null : $i18n.locale,
                        },
                    }"
                >
                    {{ $t("view") }} все <i class="icon ic-arrow-right"></i>
                </router-link>
            </li>
        </ul>
        <slot></slot>
    </div>
</template>

<script>
import AppDateItem from "./app-data-item.vue";
import listItem from "./app-list-item.vue";
// import sideBarList from "./app-list.vue";
export default {
    name: "app-side-bar",
    data() {
        return {
            filterNewsKey: "all",
        };
    },
    created() {},
    components: {
        // sideBarList,
        listItem,
        AppDateItem,
    },
    props: {
        news: {
            type: [Array, Object],
        },
    },
    computed: {
        filterNews() {
            if (this.filterNewsKey == "all") {
                return this.news.latest;
            } else {
                // return this.news.filter((el) => el.interview == 1);
                return this.news.interview;
            }
        },
    },
};
</script>

<style lang="sass" scoped>
.title
  font-style: normal
  font-weight: 500
  font-size: 24px
  line-height: 120%
  text-transform: uppercase
  color: #111325
  margin-top: 0px
.filter
    li
        padding: 3px 7px 5px 7px
        cursor: pointer
        border: 1px solid #BABABB
        color: $c-black
        border-radius: 25px
        transition: .3s
        @include menu-3
        &:hover, &.active
            background-color: $c-green
            color: $c-white
        &:not(:last-of-type)
            margin-right: 5px
        @media (max-width: 820px)
            padding: 10px 15px
.view_all
    font-weight: 600
    padding: 15px
    font-size: 16px
    line-height: 100%
    text-align: center
    color: #66B31E
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px
    @media (max-width: 820px)
        background-color: $c-green-bright
        color: #fff
        text-align: left
        padding: 0px
        a
            width: 100%
            height: 100%
            text-align: center
            padding: 15px
    i
        margin-left: 10px
        color: inherit
.blockTitle
    margin-bottom: 10px
    h2
        margin-bottom: 0px
.viewAll-Homepage
    display: none
    @media (max-width: 820px)
        display: flex
</style>
