<template>
    <li class="articleItem" :class="{important: interview == 1}">
        <router-link :to="{path: landing_url || url}">
            <span>{{ date }}</span>
            <span>{{ views }}<i class="icon ic-eye"></i> </span>
            <ul class="labelWrp">
                <li v-for="(item, idx) in label" :key="idx" class="label">{{ item }}</li>
            </ul>
            <span class="sticker" v-if="sticker">{{ sticker }}</span>
            <p class="title">{{ name }}</p>
        </router-link>
    </li>
</template>

<script>
export default {
    name: "app-list-item",
    props: {
        url: {
            type: String,
        },
        date: {
            type: [String, Object],
        },
        views: {
            type: Number,
        },
        interview: {
            type: Number,
        },
        name: {
            type: String,
        },
        sticker: {
            type: String
        },
        label: {
            type: [Array, String]
        },
        landing_url: {
            type: String
        }
    },
};
</script>

<style lang="sass" scoped>
.articleItem
    padding: 15px 0px
    cursor: pointer
    transition: .3s
    &.important
       .title
            color: #111325
            font-weight: 800
            transition: .3s
    &:not(:last-of-type)
        border-bottom: 1px solid $c-gray-light-1
    &:hover
        color: $c-green !important
        .title
            text-decoration: underline
        &.important .title
            color: $c-green !important
            text-decoration: underline
    a
        display: block
    span
        font-style: normal
        font-weight: 500
        font-size: 12px
        line-height: 135%
        letter-spacing: 0.01em
        color: $c-gray-light-2
        display: inline-flex
        align-items: center
        &:first-of-type
            margin-right: 10px
        i
            font-size: 15px
            color: $c-gray-light-2
    .sticker
        font-style: normal
        font-weight: bold
        font-size: 10px
        line-height: 120%
        letter-spacing: 0.05em
        text-transform: uppercase
        color: $c-white
        background-color: $c-green
        padding: 3px 4px
        border-radius: 4px
    .title
        margin-bottom: 0px
        margin-top: 8px
        @include subtitle-3
.labelWrp
    display: flex
.label
    font-weight: 600 !important
    font-size: 9px !important
    line-height: 120% !important
    text-align: center
    letter-spacing: 0.05em
    text-transform: uppercase
    color: #FFFFFF !important
    background-color: $c-green
    border-radius: 2px
    padding: 2px 4px
    margin-top: 8px
    width: fit-content
    margin-right: 5px
</style>
