<template>
    <li class="date">
        <span class="dayNum">{{ date.d }}</span>
        <span class="mounth">{{ date.m }}, </span>
        <span class="day">{{ date.w }}</span>
    </li>
</template>

<script>
    export default {
        name: 'data-item',
        props: {
            date: {
                type: [Object, Array],
            },
        },
    }
</script>

<style lang="sass" scoped>
.dayNum
    @include day-name-1
    margin-right: 5px
.mounth, .day
    @include day-name
.date
    margin-top: 15px
    .day
        display: inline
</style>
