@import './ico'
@import 'sass/normalize'
@import './Gill'
html
    scroll-behavior: smooth
*
  font-family: Gilroy
  box-sizing: border-box
i
  color: $c-gray-text-icons
.container, .container-full, .errorLayout
  width: 100%
  margin: 0px auto
  padding: 0px 15px
  @media (min-width: 1200px)
    max-width: $container-width
  @media (max-width: 1200px)
    max-width: $container-width
  @media (min-width: 820px) and (max-width: 1200px)
      padding: 0px 50px
  @media (max-width: 992px)
    max-width: unset
  @media (max-width: 820px)
    max-width: unset
  @media (max-width: 576px)
    max-width: unset
  &-full
    padding: 0px
.df
  display: flex
  &.jcsb
    justify-content: space-between
  &.jcsa
    justify-content: space-around
  &.fdc
    flex-direction: column
    &-m
      @media (max-width: 576px)
        flex-direction: column
  &.ait
    align-items: center
ul, ol
  list-style-type: none
  padding-left: 0px
a
  text-decoration: none
  color: inherit
button
  cursor: pointer
*
  appearance: none
  -webkit-appearance: none
// text
.light
  font-weight: normal
.bold
  font-weight: bold
.hr
  width: 100%
  height: 1px
  background-color: $c-gray-light-1
  display: block
.vl
  width: 1px
  height: 100%
  background-color: $c-gray-light-1
  display: block
img
  object-fit: contain
  display: block
  max-width: 100%
.flickity-page-dots
  position: relative !important
  bottom: 0px !important
  margin-bottom: 10px !important
.flickity-page-dots
    .dot
        width: 15px !important
        height: 3px !important
        border-radius: 0px !important
        &.is-selected
            background-color: $c-green2
.border-b
  border-bottom: 4px solid $c-green2
.pb-2
  padding-bottom: 20px
h1
    @include heading-1
.home-aside
    grid-column: 1
    grid-row: 1/3
    @media (max-width: 640px)
        grid-row: 2
        grid-column: unset
//
.home
  grid-template-columns: 240px auto
.news, .articleWrp, .blog, .search, .bloggerArticle
  grid-template-columns: auto 240px
.globalWrapper
  display: grid
  grid-gap: 30px
  max-width: 1000px
  margin: 0 auto
  background-color: #fff
  padding: 15px 15px
  @media (max-width: 640px)
    grid-template-columns: 100%
.fade-enter-active .fade-leave-active
  transition: opacity 0.5s
.fade-enter .fade-leave-to
  opacity: 0
.componentWrapper
    i
        color: unset
    &.quoute
        .text > p
            font-style: italic !important
    div, p
        white-space: unset !important
        div, p, li, span
            @include text-2
            color: $c-black-text
            a
                color: #039be5
                text-decoration: underline
    .table
        display: table
        tbody
            width: 100%
    position: relative
    &::before
         font-size: 12px
            font-family: 'agroPortal' !important
            content: "\e90f"
            width: 27px
            height: 27px
            border-radius: 4px
            border: 1px solid $c-green
            display: block
            text-align: center
            position: absolute
            top: 0px
            line-height: 27px
            color: $c-green
            left: -40px
.componentWrapper, .articleWrp .text
    ol, ul
        padding-left: 40px
        li
            position: relative
            &::before
                font-size: 12px
                width: 27px
                height: 27px
                border-radius: 4px
                border: 1px solid $c-green
                display: block
                text-align: center
                position: absolute
                top: 0px
                line-height: 27px
                color: $c-green
                left: -40px
            &:not(:last-of-type)
                margin-bottom: 15px
    ul
        li::before
            font-size: 12px
            font-family: 'agroPortal' !important
            content: "\e90f"
    ol
        counter-reset: section
        li
            &::before
                counter-increment: section
                content: counter(section)
.overflow
    overflow: hidden
.blockTitle
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    transition: .3s
    h2, i
        transition: .3s
    &:hover
        h2, i
            color: $c-green
.ic-eye
    font-size: 19px !important
    line-height: 16px
.dataPickers
    input
        border: none
        outline: none
.dataPickers input
    box-shadow: none
iframe
    width: 100%
.cell.active
    background-color: $c-green !important
.cell.in-range
    background-color: #CEE8B5 !important
    color: $c-black-text !important
.cell.not-current-month.in-range
    background-color: #fff !important
    color: #ccc !important
.mx-calendar-header
    position: relative
    .mx-btn-icon-double-right, .mx-btn-icon-double-left
        display: none
    .mx-calendar-header-label
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 5px
        button
            font-family: Gilroy
            font-style: normal
            font-weight: 600
            font-size: 16px
            line-height: 130%
            color: #000000
            transition: .3s
            &:hover
                color: $c-green
    .mx-btn-icon-right, .mx-btn-icon-left
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 5px
        font-size: 30px
        i
            transition: .3s
            &::before
                transform: rotate(135deg) scale(1)
        &:hover
            i
                color: $c-green
    .mx-btn-icon-left
        right: 35px
        i
            &::before
                transform: rotate(-45deg) scale(1)
.navGallery
    position: relative
    .carousel-cell
        width: calc(100% - 5px) !important
        cursor: pointer
.mainGallery .slick-arrow
    background-color: transparent
    border: none
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 1
    font-size: 0px
    width: 40px
    height: 60px
    border: 1px solid #fff
    background-color:  rgba(0, 0, 0, 0.5)
    transition: 0.3s
    &::before
        transition: 0.3s
        color: #fff
        font-family: "agroPortal"
        font-size: 16px
    &.slick-prev
        left: 0px
        &::before
            content: ""
    &.slick-next
        right: 0px
        &::before
            content: ""
.text img
    max-width: 100% !important
.text a
    color: #039BE5 !important
    text-decoration: underline
.rss .text a
    color: #75AD40 !important
iframe[src^="https://instagram.com"]
    height: 618px !important
    width: 336px !important
    display: flex
    margin: 0 auto
.headerContainer.sticky
    @media (max-width: 1024px)
        position: fixed !important
        top: 0px
        .df.jcsb.ait
            display: none
        .commonClass
            display: none
        .commonClass
            margin-top: 10px
    @media (max-width: 576px)
        .navMenu
            display: none
.isSticky
    .socWrapper
        opacity: 0
    @media (max-width: 576px)
        .navMenu, .hr
            opacity: 0
.headerSticky
    .hr
        position: relative
        &::before
            content: ''
            position: absolute
            background-color: #fff
            right: 0px
            width: 15px
            height: 1px
        &::after
            content: ''
            position: absolute
            background-color: #fff
            left: 0px
            width: 15px
            height: 1px
.navGallery .slick-slide
    height: 130px
.blockTitle h2
    font-weight: 500
    font-size: 24px
    line-height: 100%
    text-transform: uppercase
    color: #111325
.bannerBlock
    picture
        display: block
        margin-bottom: 15px
        @media (max-width: 820px)
            margin-bottom: 0px !important
    @media (max-width: 820px)
        .hr
            display: none
    @media (max-width: 576px)
        .hr
            display: block
            margin-top: 10pxarticleList
.mainGallery
    .slick-slide img
        width: 99.3%
.mainGallery .slick-arrow.slick-next
    right: 4px
.dbSlider
    .flickity-enabled.is-draggable .flickity-viewport
        min-height: 255px
.table
    border: none
    border-collapse: collapse
    td
        border: solid #000000 1pt
        padding: 5pt 5pt 5pt 5pt
.cookie
    position: fixed
    bottom: 0px
    background-color: #31333C
    width: 100%
    height: 65px
    z-index: 1000
    display: flex
    // justify-content: center
    @media (max-width: 576px)
        height: unset
        padding: 0px 10px 10px 10px
        &-content
            flex-direction: column
    &-content
        margin: 0 auto
        max-width: 1000px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        font-family: Gilroy
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 145%
        letter-spacing: -0.02em
        color: rgba(#F6F5FA, .9)
    .btns
        display: flex
        align-items: center
        a
            cursor: pointer
        a:first-of-type
            padding: 12px 20px
            border: 1px solid #555555
            border-radius: 25px
        a:last-of-type
            margin-left: 30px
            i
                color: #DEDDE7
.articleWrp
    overflow: hidden
    .article
        li .l
            @media (max-width: 576px)
                max-width: unset !important
.bloggerArticle
    .viewd
        display: flex
.text
    p
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 145%
        letter-spacing: -.02em
        color: #111325
    figure
        img
            width: unset !important
            height: unset !important
.text.annot p
    color: darken(#111325, 30)
    font-weight: 600
video
    display: block
.seoBottom
    grid-column: 1/3
    background-color: #F6F5FA
    padding: 30px
    width: calc( 100% + 30px)
    margin-left: -15px
    margin-top: 0px
    margin-bottom: -15px
    padding-bottom: 0px
    text-align: center
    @media (max-width: 576px)
        grid-column: 1
    a
        color: #4F80FF !important
.seo, .seo > p, .seo > p *, .hideDiv > p *
    font-weight: 400
    font-size: 16px
    line-height: 145%
    letter-spacing: -0.02em
    // color: #111325 !important
.seo > p a, .hideDiv > p a
    text-decoration: underline
    color: #4F80FF !important
.seo p
    text-align: left
    color: rgb(138, 143, 157)
    b
        font-weight: 600
.seo h2
    font-weight: 600
    font-size: 26px
    line-height: 120%
    // color: #111325
.seoAccordion
    background-color: #F6F5FA
    margin-bottom: -15px
    .accordion__trigger
        border-bottom: unset !important
        font-weight: 600 !important
        font-size: 16px !important
        line-height: 100%
        text-align: center
        color: #555555 !important
        width: fit-content
        margin: 0 auto
        display: flex
        align-items: center
        padding: 15px !important
        p
            margin-right: 12px
    .accordion__trigger_active
        background-color: unset !important
        color: #555 !important
        .icon
            transform: rotate(180deg)
    .accordion__content
        padding: 0px 0px 20px 0px !important
        ul
            grid-template-columns: 1fr !important
            text-decoration: none !important
        p
            margin-top: 0px
            font-weight: 400
            font-size: 16px
            line-height: 145%
            letter-spacing: -0.02em
            text-decoration: none
            color: #111325
.seoTop
    margin-top: 0px
.archiveH1
    margin-top: 10px
    margin-bottom: 10px
.toggleBtn
    font-weight: 600
    font-size: 16px
    line-height: 100%
    text-align: center
    color: #555555
    border: none
    background-color: unset
    position: relative
    padding-right: 30px
    &::after
        font-family: "agroPortal"
        content: ""
        top: 50%
        position: absolute
        transform: translateY(-50%)
        right: 0px
        transition: .3s
    &.active
        &::after
            transform: translateY(-50%) rotate(180deg)
.accordBtnWrapper
    display: flex
    justify-content: center
.hideDiv
    text-align: left
.Slide_description
    position: absolute
    bottom: 4px
    left: 0
    width: 100%
    padding: 10px
    font-weight: 500
    font-size: 16px
    line-height: 125%
    color: #FFFFFF
    background-color: rgba(0, 0, 0, 0.35)
.slick-slide
    position: relative
    img
        width: 100% !important
        display: block
