@font-face {
    font-family: 'agroPortal';
    src:  url('./assets/fonts/ico/agroPortal.eot?lz4yhb');
    src:  url('./assets/fonts/ico/agroPortal.eot?lz4yhb#iefix') format('embedded-opentype'),
      url('./assets/fonts/ico/agroPortal.woff2?lz4yhb') format('woff2'),
      url('./assets/fonts/ico/agroPortal.ttf?lz4yhb') format('truetype'),
      url('./assets/fonts/ico/agroPortal.woff?lz4yhb') format('woff'),
      url('./assets/fonts/ico/agroPortal.svg?lz4yhb#agroPortal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  .icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'agroPortal' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .ic-linkedin2:before {
    content: "\e915";
  }
  .ic-date:before {
    content: "\e913";
  }
  .ic-close:before {
    content: "\e912";
  }
  .ic-download:before {
    content: "\e911";
  }
  .ic-done:before {
    content: "\e90f";
  }
  .ic-arrow-left:before {
    content: "\e900";
  }
  .ic-arrow-right:before {
    content: "\e90e";
  }
  .ic-burger:before {
    content: "\e901";
  }
  .ic-chewron:before {
    content: "\e902";
  }
  .ic-dropdown:before {
    content: "\e910";
  }
  .ic-up:before {
    content: "\e914";
  }
  .ic-eye:before {
    content: "\e903";
  }
  .ic-fb:before {
    content: "\e904";
  }
  .ic-inst:before {
    content: "\e905";
  }
  .ic-link:before {
    content: "\e906";
  }
  .ic-messanger:before {
    content: "\e907";
  }
  .ic-owlwebLogo:before {
    content: "\e908";
  }
  .ic-rss:before {
    content: "\e909";
  }
  .ic-search:before {
    content: "\e90a";
  }
  .ic-tik-tok:before {
    content: "\e90b";
  }
  .ic-tl:before {
    content: "\e90c";
  }
  .ic-youtube:before {
    content: "\e90d";
  }
