<template>
    <div>
        <h2>{{ listing.title }}</h2>
        <div class="df jcsb downloadLogo">
            <a target="_blank" :href="item.link" v-for="(item, idx) in listing.list" :key="idx"> <img :src="path(item.image)" alt="">{{ item.text }}</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'press-kit-widget',
        props: {
            content: {
                type: [Object, Array],
            },
            propData: {
                type: [Object, Array],
            },
        },
        computed: {
        listing() {
            return this.propData ? this.propData : this.content
        }
    },
    }
</script>

<style lang="sass" scoped>
    @import '@/assets/sass/textPage'
</style>
