<template>
    <div class="members">
        <div class="member" v-for="(item, idx) in content.list" :key="idx">
            <div class="l">
                <picture class="blogerImg">
                    <source
                        media="(max-width: 820px)"
                        :srcset="path(item.image_mob)"
                    />
                    <img :src="path(item.image)" alt="" />
                </picture>
            </div>
            <div class="r">
                <p class="name">
                    {{ item.name }}
                </p>
                <p class="position">
                    {{ item.position }}
                </p>
                <a :href="`mailto:${item.email}`" class="email">
                    {{ item.email }}
                </a>
                <p class="text" v-html="item.text"></p>
                <ul class="social">
                    <li v-if="item.soc_facebook">
                        <a :href="item.soc_facebook" target="_blank">
                            <i class="icon ic-fb"></i>
                        </a>
                    </li>
                    <li v-if="item.soc_instagram">
                        <a :href="item.soc_instagram" target="_blank">
                            <i class="icon ic-inst"></i>
                        </a>
                    </li>
                    <li v-if="item.soc_telegram">
                        <a :href="item.soc_telegram" target="_blank">
                            <i class="icon ic-tl"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "member-widget",
    props: {
        content: {
            type: [Object, Array],
        },
    },
};
</script>

<style lang="sass" scoped>
.member
    display: flex
    justify-content: space-between
    position: relative
    &:not(:first-of-type)
        margin-top: 15px
    &::before
        content: ''
        position: absolute
        background-color: #DEDDE7
        width: 100%
        height: 1px
        bottom: 0px
    .l
        width: 150px
        @media (max-width: 820px)
            text-align: center
            width: 120px
            img
                border-radius: 50%
                border: 3px solid #DEDDE7
        @media (max-width: 576px)
            width: 65px
    .r
        width: calc(100% - 170px)
        @media (max-width: 820px)
            width: calc(100% - 120px)
        @media (max-width: 576px)
            width: calc(100% - 75px)
    .name
        font-weight: 500
        font-size: 24px
        line-height: 120%
        color: #111325
        margin-top: 0px
        margin-bottom: 10px
    .position
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #8A8F9D
        margin-top: 0px
        margin-bottom: 0px
    .email
        font-weight: 500
        font-size: 22px
        line-height: 145%
        color: #75AD40
        margin-top: 0px
        margin-bottom: 0px
    .text
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #111325
    .social
        display: flex
        li
            width: 31px
            height: 31px
            border-radius: 50%
            border: 1px solid #DEDDE7
            display: flex
            justify-content: center
            align-items: center
            transition: .3s
            margin-right: 10px
            cursor: pointer
            &:hover
                background-color: #75AD40
                i
                    color: #fff
            i
                color: #8A8F9D
                &::before
                    font-size: 18px
            a
                height: 18px
</style>
