<template>
    <div class="htmlWrapper">
        <h2>{{ content.title }}</h2>
        <div class="text" v-html="content.description"></div>
         <i class="hr"></i>
    </div>
</template>

<script>
    export default {
        name: 'text-widget',
        props: {
            content: {
                type: [Object, Array],
            },
        },
    }
</script>

<style lang="sass">
// @import '@/assets/sass/textPage'
.htmlWrapper
    .hr
        margin-top: 15px
    h2
        font-family: Gilroy
        font-style: normal
        font-weight: 600
        font-size: 26px
        line-height: 120%
        color: #111325
    .text
        margin-bottom: 25px
    .text, li
        @include text-2
    h6
        font-family: Gilroy
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 130%
        color: #111325
    ol, ul
        padding-left: 40px
        li
            position: relative
            &::before
                font-size: 12px
                width: 27px
                height: 27px
                border-radius: 4px
                border: 1px solid $c-green
                display: block
                text-align: center
                position: absolute
                top: 0px
                line-height: 27px
                color: $c-green
                left: -40px
            &:not(:last-of-type)
                margin-bottom: 15px
    ul
        li::before
            font-size: 12px
            font-family: 'agroPortal' !important
            content: "\e90f"
    ol
        counter-reset: section
        li
            &::before
                counter-increment: section
                content: counter(section)
</style>
