<template>
    <div>
            <ul class="listWidget">
                <li v-for="(i, idx) in content.list" :key="idx">
                    <div class="l">
                        <img :src="path(i.image)" alt="">
                    </div>
                    <div class="r">
                        <span class="count">{{ i.count }}</span>
                        <p>{{ i.text }}</p>
                    </div>
                </li>
            </ul>
            <span class="smallText">{{ content.title }}</span>
            <i class="hr"></i>
            <!-- <p class="text">
                Будь-який текст, який ви можете вставляти самі за бажанням.
                текст може містити заголовки від 2 до 6 рівня, параграфи,
                посилання в тексті, нумеровані таненумеровані списки, цитату.
                будь-які інші елементи, що ви використовуєте в статті.
            </p> -->
    </div>
</template>

<script>
    export default {
        name: 'choose-widget',
        props: {
            content: {
                type: Object,
            },
        },
    }
</script>

<style lang="sass" scoped>
    @import '@/assets/sass/textPage'
</style>
