<template>
    <div>
        <ul class="social">
            <li v-for="(i, idx) in listing.list" :key="idx">
                <a :href="i.link" target="_blank">
                    <img :src="path(i.image)" alt="" />
                    <p>{{ i.text }}</p>
                    <span class="count">{{ i.count }}</span>
                </a>
            </li>
        </ul>
        <i class="hr"></i>
    </div>
</template>

<script>
export default {
    name: "social-widget",
    props: {
        content: {
            type: [Object, Array],
        },
        propData: {
            type: Object
        }
    },
    computed: {
        listing() {
            return this.propData ? this.propData : this.content
        }
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/textPage'
.social
    flex-wrap: wrap
    li
        width: calc(20% - 5px)
    a
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    @media (max-width: 576px)
        flex-direction: row
        li
            width: calc(50% - 30px)
</style>
