footer
    flex-wrap: wrap
    width: 100%
    background-color: $c-gray-dark-1
.colWrapper
    width: 100%
    display: flex
.col
    border-right: 1px solid $c-gray-dark-3
    padding: 40px
    display: flex
    justify-content: center
    align-items: flex-start
    color: $c-gray-light-2
    text-align: center
    @include menu-dark-1
    @media (max-width: 820px)
        padding: 40px 24px
    &:last-of-type
        border-right: none
    &.w30
        width: 30%
    &.w70
        width: 70%
    img
        max-width: 100%
        object-fit: contain
    ul
        width: 100%
        li
            padding: 10px
            &:not(:last-of-type)
                border-bottom: 1px solid $c-gray-dark-3
            a
                width: 100%
                display: block
                transition: .3s
                &:hover
                    color: $c-green-on-black
        &.no-bb li
            border-bottom: none
.hr
    width: 100%
    height: 1px
    background-color: $c-gray-dark-3
.w100
    width: 100%
.footerForm
    width: 100%
    input
        border-radius: 0px
        outline: none
        background-color: transparent
        border: none
        padding: 10px
        width: 80%
        font-weight: 500
        font-size: 16px
        line-height: 145%
        border-top: 1px solid $c-gray-light-2
        border-bottom: 1px solid $c-gray-light-2
        border-right: 1px solid $c-gray-light-2
        color: #fff
        &::placeholder
            color: $c-gray-light-2
        &:autofill, &:-webkit-autofill
            background-color: red !important
        &:focus
            border-color: $c-green-on-black
            & + button
                background-color: $c-green-on-black
                border-color: $c-green-on-black
                i
                    color: #fff
    button
        border: none
        padding: 10px 30px
        background-color: transparent
        border-top: 1px solid $c-gray-light-2
        border-bottom: 1px solid $c-gray-light-2
        transition: .3s
        outline: none
        i
            transition: .3s
            color: $c-gray-light-2
        &:hover
            background-color: rgba(#A5BE8C, .15)
            i
                color: $c-gray-light-0
        &:active, &:focus
            background-color: $c-green-on-black
            i
                color: $c-gray-light-0
.copy
    width: 100%
    border-top: 1px solid $c-gray-dark-3
    padding: 15px 30px 25px 30px
    color: $c-gray-light-2
    p
        margin: 0px
    @include menu-3
    i
        color: $c-gray-light-2
.proj
    max-width: 1024px
    margin: 0 auto
.projTopSide
    padding: 44px 0px !important
    @media (max-width: 1920px)
        padding: 44px 15px !important
    @media (min-width: 1920px)
        padding: 44px 15px !important
    .social
        margin: 0px
    @media (max-width: 576px)
        padding: 44px 15px !important
