<template>
    <div class="wrapper df">
        <div class="mainArticle" v-if="mainBlockData">
            <router-link :to="mainBlockData[0].landing_link || mainBlockData[0].url" :class="{hasVideo: mainBlockData[0].video == 1}">
                <div class="img-wrapper">
                    <div class="imgWrp">
                        <img :src="path(mainBlockData[0].image)" alt="" />
                    </div>
                </div>
                <div class="infoWarpper">
                    <span>{{ mainBlockData[0].public_date }}</span>
                    <span
                        >{{ mainBlockData[0].views }} <i class="icon ic-eye"></i
                    ></span>
                    <p class="title">
                        {{ mainBlockData[0].name }}
                    </p>
                    <p class="desc" v-html="mainBlockData[0].annot">
                    </p>
                </div>
            </router-link>
        </div>
        <div class="bannerBlock" v-if="mainBlockData">

                <div class="img-wrapper">
                    <a v-if="getBanners && getBanners[2]" :href="bannerLink(getBanners[2].link)" target="_blank">
                        <picture>
                            <source
                                :srcset="path(getBanners[2].img_mob)"
                                media="(max-width: 640px)"
                            />
                            <img :src="path(getBanners[2].img_desktop)" alt="" />
                        </picture>
                    </a>
                </div>
                <router-link :to="mainBlockData[1].landing_link || mainBlockData[1].url">
                <div class="infoWarpper">
                    <span>{{ mainBlockData[1].public_date }}</span>
                    <span
                        >{{ mainBlockData[1].views }} <i class="icon ic-eye"></i
                    ></span>
                    <p class="title">
                        {{ mainBlockData[1].name }}
                    </p>
                    <!-- <p class="desc">
                        {{ mainBlockData[1].annot }}
                    </p> -->
                </div>
            </router-link>
        </div>
        <a  :href="bannerLink(getBanners[5].link)" v-if="getSize != 'desktop' && getBanners && getBanners[5]">
            <i class="hr"></i>
            <picture>
                <source media="(max-width: 576px)" :srcset="path(getBanners[5].img_mob)">
                <img class="commonClass" :src="path(getBanners[5].img_tablet)" alt="">
            </picture>
        </a>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

// import articleItemDiv from "../app-articleItem-div.vue";
export default {
    name: "app-mainArticle",
    props: {
        mainBlockData: {
            type: Array,
        },
    },
    computed: {
        ...mapGetters(["getBanners", "getSize"]),
    },
    created() {
        // this.axios
        //     .post("/api/re/get-by-ids", {
        //         lang: this.currentLang,
        //         ids: [2],
        //     })
        //     .then((res) => {
        //         this.commonClass = res.data.data[2];
        //     });
    },
};
</script>

<style lang="sass" scoped>
.wrapper
    grid-column: 2
    column-gap: 30px
    @media (max-width: 1024px)
        flex-wrap: wrap
        .commonClass
            padding-top: 20px
            width: 100%
            i
                margin-top: 20px
    @media (max-width: 820px)
        flex-direction: column
        .mainArticle
            position: static
            max-width: unset
            width: 100%
            margin-right: 0px
            border-bottom: 1px solid #DEDDE7
            margin-bottom: 15px
            img
                width: 100%
            .title
                @include subtitle-3
                font-size: 18px
                font-weight: 500
        .bannerBlock
            width: 100%
            max-width: unset
            margin-left: 0px
            picture
                margin-bottom: 15px
                display: block
            a
                display: flex
                width: 100%
                @media (max-width: 640px)
                    flex-direction: column
                    .img-wrapper, .infoWarpper
                        width: 100%
                        position: static
                        margin-left: 0px
            .img-wrapper
                width: 100%
                margin-right: 15px
                position: relative
                &::before
                    @media (min-width: 640px)
                        content: ''
                        position: absolute
                        right: -15px
                        background-color: $c-gray-light-1
                        width: 1px
                        height: 100%
            .infoWarpper
                margin-left: 15px
                width: 50%
                .title
                    @include subtitle-3
    @media (max-width: 640px)
        grid-row: 1
        grid-column: unset
.mainArticle::before
    @media (min-width: 640px)
        content: ''
        position: absolute
        height: 100%
        width: 1px
        background-color: $c-gray-light-1
        top: 0px
        right: -15px
.mainArticle, .bannerBlock
    max-width: 430px
    // margin-right: 15px
    position: relative
    transition: .3s
    .title
        @include subtitle-1
        font-weight: 600 !important
        transition: .3s
    &:hover
        .title
            color: $c-green
    span
        font-style: normal
        font-weight: 500
        font-size: 12px
        display: inline-flex
        align-items: center
        line-height: 135%
        letter-spacing: 0.01em
        color: #9E9EA7
        &:first-of-type
            margin-right: 10px
        i
            color: #9E9EA7
            font-size: 15px
            margin-left: 5px
    .desc
        color: #8a8f9d
        @include text-3
.bannerBlock
    max-width: 240px
    .title
        margin-top: 6px
    .infoWarpper
        margin-top: 15px
    .img-wrapper
        margin-bottom: 15px
        img
            margin-bottom: 12px
.hasVideo .imgWrp
    position: relative
    &::before
        content: ''
        position: absolute
        background-color: red
        width: 30px
        height: 30px
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAhCAYAAABX5MJvAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHqSURBVHgBvViLccIwDFU6ARvgTtB0ArIB2QA2KJ0AOkHYgG7QEQgTwAawQbuBKl+kINykZ+X37t4FHEt+WLJsk4ABiJjRw/OFmBKden1jlsRTkiQlDAUaeEbcEb/RhitxBX1BTnJ2JvBCCuKSOA/6ptx+CGy6ieFfv1eOjsSF0cc6EFNYjL2As/rlb9ADZL/Beyi931mM0VlNo4MB4P2oWflfiArBYAJahBRtndYqBA5GAAuR0ORNHURlrxyIELJRsz3TL2QWrjABeLV5bHWjzEL/4hInIpPQhw2TzIISIrmRPdF3KUIlGIBVZXTQHZ/8XOj4LMEAvKOTGKy2BI8vnQ+p0YmG97Ez2rs6DcQLGIHNuFqSux57YBF1iCw+xpiJ3OpD58QcDAgG98ttizE75N0+FeF+iV643ZSYCnviMx3nPog/BjvHz5sWkYENJfGVBn43Di5Y1n4wLKETQaXBQhrqEgoTAJs2TE4qjyNMAGzaMLE6V8qLDYwIVOeJppe5Wm4ORgA+nqxWbZ0KVXQcDAiMOWNyR33cH0xIIOAcYxDeO3rlCHa5dyhjCY3Miunoh1X9OSofhUmAchRe5fznAydxGvR13F7g4+XZ20RvahYxMYje1BIwAKsSmzEd/P1/4sIsaT85QSR+AU2XF5XqZQ6CAAAAAElFTkSuQmCC) center/cover no-repeat
        bottom: 10px
        left: 5px
        border-radius: 50%
        box-shadow: 0px 0px 1px #000
.bannerBlock .img-wrapper
    position: relative
    &::after
        content: ''
        position: absolute
        width: 100%
        height: 1px
        background-color: $c-gray-light-1
        left: 0px
        bottom: -15px
        margin-bottom: 10px
</style>
