<template>
    <div>
        <slot />
        <Flickity class="slider" :options="flickityOptions" ref="flickity">
            <router-link
                v-for="slide in sliderData"
                :to="slide.landing_link || slide.url"
                class="slide"
                :key="slide.id"
            >
                <img :src="path(slide.image)" :alt="slide.img" @load="imgLoad" />
                <div class="infoWarpper">
                    <span>{{ slide.public_date }}</span
                    ><span>{{ slide.views }} <i class="icon ic-eye"></i></span>
                    <p class="title">
                        {{ slide.name }}
                    </p>
                </div>
            </router-link>
        </Flickity>
    </div>
</template>

<script>
import Flickity from "vue-flickity";
export default {
    name: "app-slider",
    components: {
        Flickity,
    },
    props: ["sliderData"],
    data() {
        return {
            flickityOptions: {
                prevNextButtons: false,
                pageDots: true,
                autoPlay: 5000,
                // pauseAutoPlayOnHover: false
                // wrapAround: true
            },
        };
    },
    methods: {
        imgLoad() {
            this.$refs.flickity.resize();
        },
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
.slider
    width: 100%
    margin-top: 20px
    transition: .3s
    &:hover
        color: $c-green
    .infoWarpper
        height: 125px
.slide
    width: 100%
    img
        width: 100%
.infoWarpper .title
    @include subtitle-3
.newsSlider .slider
    margin-top: 0px
</style>
