<template>
    <div class="specialArticle">
        <div class="df jcsb ait border-b">
            <router-link
                class="blockTitle"
                :to="{ path: getBlock1.category.url }"
            >
                <h2>{{ getBlock1.category.name }}</h2>
                <i class="icon ic-arrow-right"></i>
            </router-link>
        </div>
        <article-item-div
            class="spesialProject df jcsb"
            :title="getBlock1.items[0].name"
            :date="getBlock1.items[0].public_date"
            :viwed="getBlock1.items[0].views"
            :url="getBlock1.items[0].url"
            :image="path(getBlock1.items[0].image)"
            :descr="getBlock1.items[0].annot"
            :landing_link="getBlock1.items[0].landing_link"
            :hasVideo="getBlock1.items[0].video"
        ></article-item-div>
    </div>
</template>

<script>
import articleItemDiv from "../app-articleItem-div.vue";
import { mapGetters } from "vuex";
export default {
    name: "special-item",
    components: {
        articleItemDiv,
    },
    computed: {
        ...mapGetters(["getBlock1"]),
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
h2
    font-weight: 500
    font-size: 24px
    line-height: 100%
    text-transform: uppercase
    color: #111325
</style>
