<template>
    <ul>
        <template  v-for="(item, idx) in listing">
            <article-item
                v-if="item"
                :key="idx"
                :title="item.name"
                :date="item.public_date"
                :viwed="item.views"
                :url="item.url"
                :landingUrl="item.landing_link"
                :image="path(item.image)"
                class="article"
            ></article-item>
        </template>
            <i class="hr"></i>
    </ul>
</template>

<script>
import { mapGetters } from "vuex";
import articleItem from "../app-articleItem.vue";
export default {
    name: "article-List",
    components: {
        articleItem,
    },
    computed: {
        ...mapGetters(["getMainArticlesData"]),
        listing() {
            let temp = [];
            for (let i = 2; i <= 4; i++) {
                temp.push(this.getMainArticlesData[i]);
            }
            return temp;
        },
    },
};
</script>

<style lang="sass" scoped></style>
