<template>
  <!-- <section class="infoSection">
    <h1>H1 - AgroPortal.ua -</h1>
    <p class="description">
        агроновини України і світу: технології, рослинництво, тваринництво, органіка, сільгосптехніка, клімат
    </p>
    <ul class="df jcsb">
        <li v-for="(li, idx) in list" :key="idx">
            {{ li.text }}
        </li>
    </ul>
  </section> -->
  <section class="infoSection">
      <h1>{{ mainTitle }}</h1>
      <p v-html="infoData2"></p>
      <ul>
          {{ infoData.title }}
          <li v-for="(item, idx) in infoData.list" :key="idx">
              <p v-html="item.item"></p>
          </li>
      </ul>
  </section>
</template>

<script>
export default {
name: 'app-infoBlock',
props: {
    infoData: {
        type: [String, Object]
    },
    infoData2: {
        type: String
    },
    mainTitle: {
        type: String
    }
},
}
</script>

<style lang="sass">
.infoSection
    width: 100%
    background-color: $c-gray-light-0
    text-align: center
    grid-column: 1/3
    @media (max-width: 640px)
        grid-column: 1
        ul
            display: flex
            flex-direction: column
            li
                margin-bottom: 10px
    .table
        td
            margin: 5px
    ul
        li
            text-align: left
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 145%
            letter-spacing: -0.02em
            color: #3C3F49
            &:not(:last-of-type)
                margin-right: 20px
    .description
        font-style: normal
        font-weight: 500
        font-size: 22px
        line-height: 145%
        text-align: center
        color: #3C3F49
    h1
        font-weight: 500
        font-size: 28px
        line-height: 130%
        text-align: center
        color: #28282D
        margin-bottom: 0px
        margin-top: 10px
    p
        margin: 5px
.infoSection
    ul
        margin: 20px
        padding-left: 0px
        margin-top: 10px
        display: flex
        justify-content: space-between
        li
            width: calc(100% - 10px)
</style>
