<template>
    <div class="aside">
        <div class="df jcsb ait">
            <router-link class="blockTitle" :to="{ path: '/blogs' }">
                <h2 data-v-b8225eb0="">Блоги</h2>
                <i class="icon ic-arrow-right"></i>
            </router-link>
        </div>
        <ul class="articleList">
            <li v-for="(item, idx) in blogData" :key="idx" class="df jcsb">
                <router-link
                    :to="{
                        name: 'BlogerArticle',
                        params: { slug: item.blogger_slug },
                    }"
                >
                    <img
                        :src="path(item.blogger_image)"
                        alt="blogger"
                        width="75"
                        height="75"
                    />
                </router-link>
                <div class="textBlock">
                    <p class="date">
                        {{ item.public_date }}
                    </p>
                    <p class="view">
                        {{ item.views }} <i class="icon ic-eye"></i>
                    </p>
                    <router-link
                        :to="{
                            name: 'BlogerArticle',
                            params: { slug: item.blogger_slug },
                        }"
                    >
                        <p class="name">
                            {{ item.blogger_name }}
                        </p>
                    </router-link>
                    <p class="descr">
                        {{ item.blogger_text }}
                    </p>

                    <router-link
                        :to="{
                            path: item.url,
                        }"
                    >
                        <p class="descr2">
                            {{ item.name }}
                        </p>
                    </router-link>
                </div>
            </li>
        </ul>
        <router-link :to="{ path: 'blogs' }" class="viewAll"
            >{{ $t("viewAll") }}<i class="icon ic-arrow-right"></i
        ></router-link>
        <div class="q">
            <a
                v-if="getBanners && getBanners[4]"
                :href="bannerLink(getBanners[4].link)"
                target="_blank"
            >
                <img
                    :src="path(getBanners[4].img_desktop)"
                    alt="commonClass.img_desktop_alt"
                />
            </a>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: "app-blog",
    props: {
        blogData: {
            type: Array,
        },
    },
    data() {
        return {
            commonClass: "",
        };
    },
    computed: {
        ...mapGetters(["getBanners"]),
    },
    created() {
        // this.axios
        //     .post("/api/re/get-by-ids", {
        //         lang: this.currentLang,
        //         ids: [4],
        //     })
        //     .then((res) => {
        //         this.commonClass = res.data.data[4];
        //     });
    },
};
</script>

<style lang="sass" scoped>
.viewAll
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 100%
    text-align: center
    color: #66B31E
    margin-top: 50px
    margin-bottom: 50px
    display: block
    @media (max-width: 820px)
        background-color: $c-green-bright
        color: #fff
        text-align: left
        padding: 15px
    i
        margin-left: 10px
        color: inherit
    @media (max-width: 576px)
        display: none
.aside
    padding: 15px 10px
    border-top: 4px solid $c-green2
    background-color: $c-gray-light-0
    width: 100%
    position: relative
    h2
        margin-top: 0px
    &::before
        content: ''
        position: absolute
        width: 1px
        height: calc(100% + 4px)
        background-color: $c-gray-light-1
        left: -15px
        top: -4px
.articleList
    li
        .textBlock
            width: calc(100% - 85px)
        a
            display: flex
        .descr
            cursor: pointer
        &:not(:last-of-type)
            margin-bottom: 30px
        .name, .descr2
            cursor: pointer
        .descr2
            &:hover
                color: #75AD40
        &:hover
            color: #75AD40
            img, .descr, .name
                color: #75AD40
                border-color: #75AD40
        img
            &:hover
                border-color: #75AD40
        img
            margin-right: 10px
            width: 75px
            height: 75px
            border-radius: 50%
            border: 3px solid #DEDDE7
            transition: .3s
        .date, .view
            font-style: normal
            font-weight: 500
            font-size: 12px
            display: inline-flex
            align-items: center
            line-height: 135%
            letter-spacing: 0.01em
            color: #9E9EA7
            margin: 0px
            i
                color: inherit
        .view
            display: flex
            align-items: center
            @media (max-width: 820px)
                margin-bottom: 5px
        .name, .descr2
            transition: .3s
            font-style: normal
            font-weight: 600
            font-size: 13px
            line-height: 120%
            color: #111325
            margin: 0px
        .descr
            font-style: normal
            font-weight: 500
            font-size: 12px
            line-height: 130%
            color: #111325
            margin-top: 5px
            margin-bottom: 5px
.no-m
    padding: 0px
    &::before
        position: static
.blockTitle h2
    margin-bottom: 0px
.q
    text-align: center
</style>
