<template>
    <div class="dateRangeWrp" :class="{ mobView: getSize == 'mobile' }">
        <template v-if="getSize == 'desktop' || getSize == 'tablet'">
            <div class="wrp">
                <span>{{ $t('period') }}</span>
                <div class="inputField" @click="popupShown = true">
                    {{ rangeText }}
                </div>
            </div>
            <div class="dateRangePopupWrp" v-if="popupShown">
                <div class="dateRangePopup">
                <div class="shortCuts">
                    <div class="item" @click="pickShortCut(0)">{{ $t('calendarShort.1') }}</div>
                    <div class="item" @click="pickShortCut(1)">{{ $t('calendarShort.2') }}</div>
                    <div class="item" @click="pickShortCut(2)">{{ $t('calendarShort.3') }}</div>
                    <div class="item" @click="pickShortCut(3)">{{ $t('calendarShort.4') }}</div>
                    <div class="item" @click="pickShortCut(4)">{{ $t('calendarShort.5') }}</div>
                    <div class="item" @click="pickShortCut(6)">{{ $t('calendarShort.6') }}</div>
                </div>
                    <div class="delim"></div>
                    <div class="calendarsSide">
                        <div class="calendarsWrp">
                            <date-select
                                :rangeStart="rangeStart"
                                :rangeEnd="rangeEnd"
                                :focusDate="prewMonth"
                                @select="onDateSelect"
                            ></date-select>
                            <date-select
                                :rangeStart="rangeStart"
                                :rangeEnd="rangeEnd"
                                @select="onDateSelect"
                            ></date-select>
                        </div>
                        <div class="controls">
                            <div class="dateShow">
                                {{ $t('period') }} <span>{{ rangeText }}</span>
                            </div>
                            <button class="submit reset" @click="resetData">{{ $t('reset') }}</button>
                            <button class="submit" @click="onSubmit">
                                Показати
                                <span class="icon ic-arrow-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="wrp">
                <span>{{ $t('period') }}</span>
                <div class="inputField" @click="popupShown = true">
                    {{ rangeText }}
                </div>
            </div>
            <div class="dateRangePopupWrp" v-if="popupShown">
                <div class="shortCuts shortCuts-m">
                    <div class="item" @click="pickShortCut(0)">{{ $t('calendarShort.1') }}</div>
                    <div class="item" @click="pickShortCut(1)">{{ $t('calendarShort.2') }}</div>
                    <div class="item" @click="pickShortCut(2)">{{ $t('calendarShort.3') }}</div>
                    <div class="item" @click="pickShortCut(3)">{{ $t('calendarShort.4') }}</div>
                    <div class="item" @click="pickShortCut(4)">{{ $t('calendarShort.5') }}</div>
                    <div class="item" @click="pickShortCut(6)">{{ $t('calendarShort.6') }}</div>
                </div>
                <date-select
                    :rangeStart="rangeStart"
                    :rangeEnd="rangeEnd"
                    :focusDate="prewMonth"
                    @select="onDateSelect"
                ></date-select>
                <div class="controls controls-m">
                    <div class="dateShow">
                        {{ $t('period') }} <span>{{ rangeText }}</span>
                    </div>
                    <button class="submit" @click="onSubmit">
                        Показати
                        <span class="icon ic-arrow-right"></span>
                    </button>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import DateSelect from "./Calendar/DateSelect.vue";
export default {
    components: { DateSelect },
    name: "DateRangeInput",
    data() {
        return {
            rangeStart: null,
            rangeEnd: null,
            isFirstSelect: true,
            popupShown: false,
        };
    },
    methods: {
        onDateSelect(e) {
            if (this.isFirstSelect) {
                this.rangeEnd = null;
                this.rangeStart = e;
                this.isFirstSelect = false;
            } else {
                if (e < this.rangeStart) {
                    this.rangeEnd = null;
                    this.rangeStart = e;
                    this.isFirstSelect = false;
                } else {
                    this.rangeEnd = e;
                    this.isFirstSelect = true;
                }
            }
        },
        resetData(){
            this.$emit('resetFilter')
            this.rangeEnd = null;
            this.rangeStart = new Date();
            this.popupShown = false;
        },
        pickShortCut(s) {
            var a;
            var d;
            var n;
            switch (s) {
                case 0:
                    this.rangeEnd = null;
                    this.rangeStart = new Date();
                    break;
                case 1:
                    this.rangeEnd = null;
                    a = new Date();
                    n = a.getDate();
                    this.rangeStart = new Date(a.setDate(n - 1));
                    break;
                case 2:
                    a = new Date();
                    n = a.getDate();
                    d = a.getDay();
                    this.rangeStart = new Date(a.setDate(n - (6 + d)));
                    this.rangeEnd = new Date(a.setDate(a.getDate() + 6));
                    break;
                case 3:
                    a = new Date();
                    n = a.getDate();
                    this.rangeEnd = new Date(a.setDate(0));
                    this.rangeStart = new Date(a.setDate(1));
                    break;
                case 4:
                    a = new Date();
                    n = a.getDate();
                    this.rangeEnd = new Date(a.setDate(0));
                    a.setDate(0);
                    this.rangeStart = new Date(a.setDate(1));
                    break;
                case 5:
                    a = new Date();
                    n = a.getDate();
                    this.rangeEnd = new Date(a.setDate(0));
                    a.setDate(0);
                    a.setDate(0);
                    this.rangeStart = new Date(a.setDate(1));
                    break;
                case 6:
                    a = new Date();
                    n = a.getDate();
                    this.rangeEnd = new Date(a.setDate(0));
                    a.setDate(0);
                    a.setDate(0);
                    a.setDate(0);
                    a.setDate(0);
                    a.setDate(0);
                    this.rangeStart = new Date(a.setDate(1));
                    break;
            }
        },
        onSubmit() {
            let a = [];
            if (this.rangeEndText) {
                a[0] = this.rangeStartText;
                a[1] = this.rangeEndText;
            } else {
                a[0] = this.rangeStartText;
                a[1] = this.rangeStartText;
            }
            this.popupShown = false;
            this.$emit("submit", a);
        },
    },
    mounted() {
        this.rangeStart = new Date();
    },
    computed: {
        ...mapGetters(["getSize"]),
        rangeStartText() {
            if (this.rangeStart) {
                return `${Intl.DateTimeFormat(this.$i18n.locale, {
                    day: "2-digit",
                }).format(this.rangeStart)}.${Intl.DateTimeFormat(this.$i18n.locale, {
                    month: "numeric",
                    minimumIntegerDigits: 3,
                }).format(this.rangeStart)}.${Intl.DateTimeFormat(this.$i18n.locale, {
                    year: "numeric",
                }).format(this.rangeStart)}`;
            } else return null;
        },
        rangeEndText() {
            if (this.rangeEnd) {
                return `${Intl.DateTimeFormat(this.$i18n.locale, {
                    day: "2-digit",
                }).format(this.rangeEnd)}.${Intl.DateTimeFormat(this.$i18n.locale, {
                    month: "numeric",
                    minimumIntegerDigits: 3,
                }).format(this.rangeEnd)}.${Intl.DateTimeFormat(this.$i18n.locale, {
                    year: "numeric",
                }).format(this.rangeEnd)}`;
            } else return null;
        },
        rangeText() {
            if (this.rangeEnd) {
                return `${this.rangeStartText} - ${this.rangeEndText}`;
            } else {
                return `${this.rangeStartText}`;
            }
        },
        prewMonth() {
            let a = new Date().getMonth();
            return new Date(new Date().setMonth(a - 1));
        },
    },
};
</script>

<style lang="sass" scoped>
.dateRangeWrp
    position: relative
    width: 100%
    .wrp
        width: 100%
        display: flex
        align-items: center
        span
            font-style: normal
            font-weight: normal
            font-size: 13px
            line-height: 130%
            color: #8A8F9D
            margin-right: 13px
        .inputField
            width: 100%
            border: 1px solid #DEDDE7
            padding: 8px
    .dateRangePopupWrp
        padding: 15px
        background: #FFFFFF
        position: absolute
        top: 0
        right: 50%
        transform: translateX(50%)
        z-index: 100
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
        @media (max-width: 820px)
            right: unset
        .dateRangePopup
            display: grid
            grid-template-columns: 160px 41px 1fr
            @media (max-width: 820px)
                grid-template-columns: 1fr
            .shortCuts
                .item
                    border-radius: 3px
                    width: 100%
                    height: 43px
                    line-height: 43px
                    // padding: 0 10px
                    cursor: pointer
                    &::hover
                        box-shadow: 0 0 0 1px inset #75AD40
            .delim
                position: relative
                &::before
                    content: ''
                    position: absolute
                    height: 100%
                    width: 1px
                    background: #DEDDE7
                    top: 0
                    left: 50%
            .calendarsSide
                .calendarsWrp
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-gap: 30px
                    @media (max-width: 820px)
                        grid-template-columns: 1fr
                .controls
                    display: flex
                    justify-content: space-between
                    align-items: center
                    margin-top: 15px
                    .dateShow
                        font-style: normal
                        font-weight: 500
                        font-size: 13px
                        line-height: 130%
                        color: #8A8F9D
                        span
                            font-size: 16px
                            line-height: 145%
                            letter-spacing: -0.02em
                            margin-left: 30px
                    .submit
                        padding: 15px
                        background: #66B31E
                        border: none
                        font-style: normal
                        font-weight: 600
                        font-size: 16px
                        line-height: 100%
                        text-align: center
                        color: #FFFFFF
                        .icon
                            font-size: 13px
                            margin-left: 15px
                        &.reset
                            background-color: #f4f4f4
                            color: #8A8F9D
.shortCuts-m
    display: flex
    overflow-x: scroll
    div
        white-space: nowrap
        padding: 15px
        border: 1px solid #DEDDE7
        box-sizing: border-box
        border-radius: 3px
        &:not(:last-of-type)
            margin-right: 5px
.controls-m
    margin-top: 15px
    font-size: 16px
    line-height: 145%
    letter-spacing: -0.02em
    color: #8A8F9D
    button
        margin-top: 15px
        background: #66B31E
        color: #fff
        border: none
        padding: 15px 30px
.mobView
    &.dateRangeWrp
        width: 100%
        background-color: #fff
        padding: 15px
        left: 50%
        transform: translateX(-50%)
        position: absolute
    .shortCuts-m
        width: 320px
    .wrp
        display: flex
        align-items: center
        span
            font-style: normal
            font-weight: normal
            font-size: 13px
            line-height: 130%
            color: #8A8F9D
            margin-right: 13px
    .inputField
        width: 100%
        border: 1px solid #DEDDE7
        padding: 8px
    .dateRangePopupWrp
        right: 50%
        transform: translateX(50%)
</style>
