<template>
    <ul class="socPostList repostWrp">
        <li>
            <a :href="`https://telegram.me/share/url?url=${currentLocation}`">
                <img :src="require('@/assets/images/post/tg.png')" alt="">
            </a>
        </li>
        <li>
            <a :href="`https://www.facebook.com/sharer/sharer.php?u=${currentLocation}`">
                <img :src="require('@/assets/images/post/fb.png')" alt="">
            </a>

        </li>
        <li>
            <a href="#" @click.prevent="copyToClipboard">
                <img :src="require('@/assets/images/post/post.png')" alt="">
                <span v-if="isCopiedLabel" class="copyText">{{ $t("textCopyed") }}</span>
            </a>
            <input type="text" class="copy" ref="copyInpt" />
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'social-link-post',
        data() {
            return {
                isCopiedLabel: false
            }
        },
        methods: {
        copyToClipboard() {
            this.$refs.copyInpt.value = window.location.href;
            this.$refs.copyInpt.select();
            document.execCommand("copy");
            this.isCopiedLabel = true;
            this.copiedTimer = setTimeout(() => {
                this.isCopiedLabel = false;
            }, 2000);
        },
    },
    computed: {
        currentLocation() {
            return window.location.href;
        },
    },
    }
</script>

<style lang="sass" scoped>
.socPostList
    display: flex
    justify-content: flex-end
    margin: 10px 0px
    li:not(:last-of-type)
        margin-right: 10px
.repostWrp
    position: relative
    .copy
        position: absolute
        pointer-events: none
        opacity: 0
    .copyText
        background: #fff
        padding: 16px
        border-radius: 3px
        position: absolute
        top: calc(100% + 20px)
        right: 0
        white-space: nowrap
</style>
