<template>
  <div v-if="getFooterData">
    <top-side
      :articles="getFooterData.footer_article"
      :title="getFooterData.footer_form1_title"
      :placeholder="getFooterData.footer_form1_placeholder"
    ></top-side>
    <desktop-footer
      :menu1="getFooterData.footer_menu"
      :menu2="getFooterData.footer_menu2"
      :placeholder="getFooterData.footer_form2_placeholder"
      :footer_copyright="getFooterData.footer_copyright"
      v-if="getSize == 'desktop'"
    ></desktop-footer>
    <tablet-footer
      :menu1="getFooterData.footer_menu"
      :menu2="getFooterData.footer_menu2"
      :placeholder="getFooterData.footer_form2_placeholder"
      :footer_copyright="getFooterData.footer_copyright"
      v-else-if="getSize == 'tablet'"
    ></tablet-footer>
    <mob-footer
      :menu1="getFooterData.footer_menu"
      :menu2="getFooterData.footer_menu2"
      :placeholder="getFooterData.footer_form2_placeholder"
      :footer_copyright="getFooterData.footer_copyright"
      v-else
    ></mob-footer>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import topSide from "../footer/app-footerTopSide.vue";
import desktopFooter from "./app-footer-desktop.vue";
import tabletFooter from "./app-footer-tablet.vue";
import mobFooter from "./app-footer-mobile.vue";

export default {
  name: "app-footer",
  components: {
    desktopFooter,
    tabletFooter,
    mobFooter,
    topSide,
  },
  computed: {
    ...mapGetters([
      "getSize",
      "getSocialLinks",
      "getRubric",
      "getFooterData",
    ]),
  },
  data() {
    return {
      footerData: null,
    };
  },
  methods: {
    ...mapActions([
      "setSocialLinks",
      "setHedaerSocialLink",
      "setFooterData",
    ]),
  },
  created() {
    if (this.getFooterData === null) {
      this.axios
        .post("/api/settings/all", {
          lang: this.currentLang,
        })
        .then((res) => {
          this.footerData = res.data.data;
          this.setSocialLinks(res.data.data.links);
          const temp = [];
          temp.push(
            res.data.data.header_facebook,
            res.data.data.header_instagram,
            res.data.data.header_rss,
            res.data.data.header_telegram,
            res.data.data.header_tiktok,
            res.data.data.header_youtube,
            res.data.data.header_linkedin
          );
          this.setHedaerSocialLink(temp);
          this.setFooterData(res.data.data);
        });
    }
  },
  mounted() {},
};
</script>

<style lang="sass" scoped></style>
