<template>
    <footer class="df jcsb">
        <div class="col">
            <router-link
                :to="{
                    name: 'Home',
                    params: {
                        locale:
                            this.$i18n.locale == 'uk'
                                ? null
                                : this.$i18n.locale,
                    },
                }"
            >
                <img src="../../assets/dark.png" alt="logo" />
            </router-link>
            <ul>
                <li v-for="(item, idx) in menu1" :key="idx">
                    <router-link :to="{ path: item.url }">{{
                        item.name
                    }}</router-link>
                </li>
            </ul>
            <ul>
                <li v-for="(item, idx) in menu2" :key="idx">
                    <router-link :to="{ path: item.url }">{{
                        item.name
                    }}</router-link>
                </li>
            </ul>
            <p class="w100">{{ $t("subscribeOnNews") }}</p>
            <template v-if="statusEmail">
                <div class="success">{{ $t('form_success') }} 😀</div>
            </template>
            <template v-else>
                <form
                    class="df footerForm"
                    method="POST"
                    @submit.prevent="formSubmit"
                    :class="{ error: errorList.message }"
                >
                    <input
                        type="text"
                        :placeholder="placeholder"
                        name="email"
                        v-model="emailValue"
                    />
                    <button type="submit">
                        <i class="icon ic-arrow-right"></i>
                    </button>
                </form>
                <span v-if="errorList" :class="{ error: errorList.message }">{{
                    errorList.message
                }}</span>
            </template>
        </div>
        <div class="copy df jcsb">
            <p>{{ footer_copyright }}</p>
            <p>
                <a href="https://owlweb.com.ua/" target="_blank" rel="nofollow"
                    >Created by <i class="icon ic-owlwebLogo"></i
                ></a>
            </p>
        </div>
    </footer>
</template>

<script>
export default {
    name: "footer-mobile",
    props: ["menu1", "menu2", "placeholder", "footer_copyright"],
    data() {
        return {
            emailValue: "",
            errorList: "",
            statusEmail: false,
        };
    },
    methods: {
        formSubmit() {
            this.axios
                .post("/api/news/subscribe", {
                    lang: this.currentLang,
                    email: this.emailValue,
                })
                .then((res) => {
                    console.log(res);
                    this.statusEmail = res.data.success;
                    this.errorList = res.data.data.errors
                        ? res.data.data.errors
                        : "";
                });
        },
    },
};
</script>

<style lang="sass" scoped>
@import '../../assets/sass/footerStyle/footer'
.col
    width: 100%
    flex-direction: column
    align-items: center
.w100
    margin-top: 60px
.copy
    flex-direction: column
    align-items: center
    p:first-of-type
        margin-bottom: 0px
    p:last-of-type
        margin-top: 7px
.col
    display: flex
    flex-direction: column
    ul
        &:first-of-type
            margin-bottom: 0px
            li
                border-bottom: 1px solid #555861
        &:last-of-type
            margin-top: 0px
.error
    input, button
        border-color: #FF8B8B
span.error
    @include menu-2
    margin-top: 5px
    display: block
    text-align: left
    color: #FF8B8B
.success
    margin-top: 10px
    padding: 10px
    border-top: 2px solid $c-green-on-black
    border-bottom: 2px solid $c-green-on-black
    font-size: 20px
    line-height: 115%
    text-align: center
    color: #FFFFFF
</style>
