<template>
    <section class="topSide" :class="{'projTopSide': $route.name == 'Project'}">
        <template v-if="$route.name == 'Project'">
            <ul class="social">
                <li v-for="(item, idx) in getSocialLinks" :key="idx">
                    <a :href="item.link" target="_blank">
                        <i :class="item.icon" class="icon"></i>
                        <span v-if="getSize != 'mobile'">{{ item.name }}</span>
                    </a>
                </li>
            </ul>
        </template>
        <template v-else>
            <div class="topWrapper">
                <p class="title">
                    {{ title }}
                </p>
                <template v-if="statusEmail">
                    <div class="success">{{ $t("form_success") }} 😀</div>
                </template>
                <template v-else>
                    <form
                        id="footer-container"
                        class="df footerForm"
                        method="POST"
                        @submit.prevent="formSubmit"
                        :class="{ error: errorList.message }"
                    >
                        <input
                            type="text"
                            :placeholder="placeholder"
                            name="email"
                            v-model="emailValue"
                        />
                        <button type="submit">
                            <i class="icon ic-arrow-right"></i>
                        </button>
                    </form>
                    <span
                        v-if="errorList"
                        :class="{ error: errorList.message }"
                        >{{ errorList.message }}</span
                    >
                </template>

                <ul class="social">
                    <li v-for="(item, idx) in getSocialLinks" :key="idx">
                        <a :href="item.link" target="_blank">
                            <i :class="item.icon" class="icon"></i>
                            <span v-if="getSize != 'mobile'">{{
                                item.name
                            }}</span>
                        </a>
                    </li>
                </ul>
                <i class="hr"></i>
            </div>
            <ul class="articleList" v-if="articles">
                <li
                    class="article df"
                    v-for="(item, idx) in articles"
                    :key="idx"
                >
                    <router-link
                        v-if="item.category"
                        class="itemTitle"
                        :to="{ path: item.category.url }"
                    >
                        <h2>{{ item.category.name }}</h2>
                        <i class="icon ic-arrow-right"></i>
                    </router-link>
                    <!-- { name: 'Article', params: { slug: item.items[0].slug }} -->
                    <router-link
                        v-if="item.items[0]"
                        :to="{ path: item.items[0].url }"
                    >
                        <div class="l">
                            <img :src="path(item.items[0].image)" alt="" />
                        </div>
                        <div class="r df fdc">
                            <div class="infoWarpper">
                                <span>{{ item.items[0].public_date }}</span
                                ><span
                                    >{{ item.items[0].views
                                    }}<i class="icon ic-eye"></i
                                ></span>
                                <p class="title">
                                    {{ item.items[0].name }}
                                </p>
                            </div>
                        </div>
                    </router-link>
                </li>
                <!-- <article-item class="footerArticle" v-for="(item, idx) in articles" :key="idx"></article-item> -->
            </ul>
        </template>
    </section>
</template>

<script>
// import articleItem from '../contentZone/app-articleItem.vue'
import { mapGetters } from "vuex";
export default {
    name: "footerTopSide",
    components: {
        // articleItem,
    },
    props: {
        placeholder: {
            type: String,
        },
        title: {
            type: String,
        },
        articles: {
            type: [Object, Array],
        },
    },
    data() {
        return {
            emailValue: "",
            errorList: "",
            statusEmail: false,
        };
    },
    methods: {
        formSubmit() {
            this.axios
                .post("/api/news/subscribe", {
                    lang: this.currentLang,
                    email: this.emailValue,
                })
                .then((res) => {
                    console.log(res);
                    this.statusEmail = res.data.success;
                    this.errorList = res.data.data.errors
                        ? res.data.data.errors
                        : "";
                });
        },
    },
    computed: {
        ...mapGetters(["getSize", "getSocialLinks"]),
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
@import '../../assets/sass/footerStyle/footer'
.topWrapper
    padding: 50px 30px
    padding-bottom: 15px
    @media (max-width: 576px)
        padding-bottom: 0px
        padding-left: 15px
        padding-right: 15px
    .title
        font-weight: 500
        font-size: 22px
        line-height: 145%
        text-align: center
        color: rgba(255, 255, 255, 0.86)
.itemTitle
    height: 54px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px
    @media (max-width: 576px)
        border-bottom: 2px solid #8A8F9D
    h2
        font-weight: 500
        font-size: 24px
        line-height: 120%
        color: #DEDDE7
    i
        color: $c-gray-light-2
.articleList
  display: flex
  width: 100%
  li
    display: flex
    flex-direction: column
    width: 34%
    text-align: left
    position: relative
    padding: 0px 15px
    &:not(:last-of-type)
      border-right: 1px solid #555861
    //   @media (min-width: 640px)
    //     &::before
    //       content: ''
    //       position: absolute
    //       right: -15px
    //       background-color: $c-gray-dark-3
    //       width: 1px
    //       height: 100%
  @media (max-width: 576px)
      .article:not(:last-of-type)
          position: relative
          &::after
              position: absolute
              content: ""
              width: 90%
              height: 1px
              background-color: #555861
              bottom: 0px
              left: 50%
              transform: translateX(-50%)
  @media (max-width: 640px)
    flex-direction: column
    li
      position: static
      width: 100%
.topSide
  background-color: $c-gray-dark-2
  color: #fff
  text-align: center
  padding-bottom: 30px
button
  width: 20%
.articleList .infoWarpper .title
  @include text-1
  font-size: 20px
  color: $c-gray-light-0
.social
  color: $c-white
  margin-top: 70px
  display: flex
  justify-content: center
  margin-bottom: 35px
  justify-content: space-between
  @media (max-width: 576px)
      justify-content: center
      flex-wrap: wrap
  li
    &:not(:last-of-type)
      margin-right: 50px
      @media (max-width: 640px)
        margin-right: 12px
    a
      display: flex
      flex-direction: column
      align-items: center
    &:hover
      i
        background-color: #555861
  i
    transition: .3s
    color: inherit
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    font-size: 22px
    border-radius: 50%
    border: 1px solid #555861
    margin-bottom: 10px
.article
    *
        transition: .3s
    .l
        margin-right: 0px
    @media (max-width: 640px)
        margin-right: 0px
    @media (min-width: 1025px)
        &:hover
            .title, h2, .ic-arrow-right
                color: $c-green-on-black
.error
    input, button
        border-color: #FF8B8B
span.error
    @include menu-2
    margin-top: 5px
    display: block
    text-align: left
    color: #FF8B8B
.success
    margin-top: 10px
    padding: 10px
    border-top: 2px solid $c-green-on-black
    border-bottom: 2px solid $c-green-on-black
    font-size: 20px
    line-height: 115%
    text-align: center
    color: #FFFFFF
</style>
