<template>
  <li class="accordion__item">
    <div
      class="accordion__trigger"
      :class="{'accordion__trigger_active': visible}"
      @click="open">

      <!-- This slot will handle the title/header of the accordion and is the part you click on -->
      <slot name="accordion-trigger"></slot>
    </div>

    <transition
      name="accordion"
      @enter="start"
      @after-enter="end"
      @before-leave="start"
      @after-leave="end">

      <div class="accordion__content"
        v-show="visible">
        <ul>
          <!-- This slot will handle all the content that is passed to the accordion -->
          <slot name="accordion-content"></slot>
        </ul>
      </div>
    </transition>
  </li>
</template>


<script>
export default {
  props: {},
  inject: ["Accordion"],
  data() {
    return {
      index: null
    };
  },
  computed: {
    visible() {
      return this.index == this.Accordion.active;
    }
  },
  methods: {
    open() {
    this.$emit('active')
      if (this.visible) {
        this.Accordion.active = null;
      } else {
        this.Accordion.active = this.index;
      }
    },
    start(el) {
      el.style.height = el.scrollHeight + "px";
    },
    end(el) {
      el.style.height = "";
    }
  },
  created() {
    this.index = this.Accordion.count++;
  },
};
</script>

<style lang="sass" scoped>
.projectAccrodion > div
    border-bottom: none !important
.accordion__item > div
  @include menu-1
  cursor: pointer
  padding: 20px 20px 20px 40px
  border-bottom: 1px solid rgba(#aaa, .4)
  position: relative
  i::before
    color: #c3c2c2
.accordion__trigger
  display: flex
  justify-content: space-between

.accordion-enter-active,
.accordion-leave-active
  will-change: height, opacity
  transition: height 0.3s ease, opacity 0.3s ease
  overflow: hidden

.accordion-enter,
.accordion-leave-to
  height: 0 !important
  opacity: 0
.ic-dropdown
    transition: .3s

.accordion__trigger_active
    background-color: $c-green
    color: #fff

.projectAccrodion .accordion__trigger_active
    background-color: unset
    color: #111325
    .ic-dropdown
        transform: rotate(180deg)
        &::before
            color: var(--colorTheme) !important

.accordion__content ul
  display: grid
  grid-template-columns: repeat(2, 1fr)
  font-weight: 500
  font-size: 15px
  line-height: 125%
  color: #555555
  text-decoration-line: underline
  grid-row-gap: 10px

.projectAccrodion .accordion__content ul
    grid-template-columns: 1fr
.projectAccrodion
    .accordion__trigger
        justify-content: unset
        position: relative
        .icon.ic-dropdown
            color: #111325
            position: absolute
            right: -20px
            top: 7px
            &::before
                color: #555555
</style>
