<template>
    <div class="wrapper">
        <ul class="df fdc">
            <li v-for="i in 22" :key="i"></li>
        </ul>
        <aside></aside>
    </div>
</template>

<script>
export default {};
</script>

<style lang="sass" scoped>
ul
    margin-top: 0px
li
    width: 100%
    height: 180px
    background-color: #fafafa
    margin-bottom: 10px
    animation: anim1 3s infinite
@keyframes anim1
    0%
        background-color: #fafafa
    50%
        background-color: darken(#fafafa, 20)
    100%
        background-color: #fafafa
aside
    background-color: #fafafa
    height: 100%
    width: 100%
    animation: anim1 3s infinite
.wrapper
    display: grid
    grid-template-columns: auto 240px
    max-width: 1000px
    margin: 0 auto
    padding: 15px
    grid-gap: 15px
</style>
