<template>
    <div class="news globalWrapper" v-if="isLoaded">
        <div class="contentZone">
            <app-breadcrumbs class="newsBreadcrumbs" v-if="breadcrumbs" :breadcrumbsData="breadcrumbs"></app-breadcrumbs>
            <h1 class="archiveH1">{{ h1Text }}</h1>
            <p class="seo seoTop" v-if="currentPage === 1" v-html="newsItems.tag.description_short "></p>
            <!-- <article-item></article-item> -->
            <article-wrapper
                @currentPage="setcurrentPage"
                :newsArticleList="tagArticleList.models"
                :paginate="tagArticleList.paginate"
            ></article-wrapper>
        </div>
        <aside class="sidebar" v-if="asideData">
            <app-side-bar class="newsSidebar" :news="asideData"></app-side-bar>
        </aside>
        <div class="asidePreloader" v-else></div>
        <div class="seoBottom" ref="seoBottom" v-if="currentPage === 1">
            <h2 v-if="newsItems.tag.h2">{{ newsItems.tag.h2 }}</h2>
            <p class="seo" v-html="newsItems.tag.description"></p>
        </div>
    </div>
    <transition name="fade" v-else>
        <app-preloader></app-preloader>
    </transition>
</template>

<script>
import AppBreadcrumbs from "../components/navigation/app-breadcrumbs.vue";
import articleWrapper from "../components/news/app-news-wrapper.vue";
import AppSideBar from '../components/sidebar/app-side-bar.vue';
import AppPreloader from '../components/elements/app-preloader.vue';
export default {
    name: "Archive",
    components: {
        articleWrapper,
        // appSideBar,
        // AppRSidebar,
        // AppSlider,
        // AppArticleItem,
        AppBreadcrumbs,
        AppSideBar,
        AppPreloader,
    },
    data() {
        return {
            newsItems: null,
            pageTitle: "",
            isLoaded: null,
            asideData: null,
            msg: null,
            breadcrumbs: null,
            activeAcc: false,
            currentPage: 1,
        };
    },
    methods: {
        setcurrentPage(page){
            this.currentPage = page;
        },
        changeState(){
            this.activeAcc = !this.activeAcc;
        },
        getTagAside(){
            this.axios
            .post("/api/tags/get-by-tag-aside", {
                lang: this.currentLang,
                tag_name: this.newsItems.tag.transName,
            })
            .then((res) => {
                this.asideData = res.data.data.aside.news;
                this.breadcrumbs = res.data.data.breadcrumbs;
            })
        },
        getArchiveData(page = 1) {
            const tag = `${this.$route.params.tag}`;
            this.axios
            .post("/api/tags/get-by-tag-items", {
                lang: this.currentLang,
                page: page,
                tag_slug: tag,
            })
            .then((res) => {
                this.newsItems = res.data.data;
            })
            .finally(() => {
                this.isLoaded = true;
                this.getTagAside();
                setTimeout(() => {
                    this.initToggleSlideBtn(this.$refs.seoBottom, true)
                    console.log(this.$refs.seoBottom);
                },1000)
            });
        }
    },
    created() {

        this.getArchiveData(this.$route.query.page)

        if ( this.$route.query.q && this.$route.query.q.length >= 0 ) {
            this.$router.replace({name: 'Search', query: {q: this.$route.query.search}})
        }
    },
    computed: {
        tagArticleList() {
            return this.newsItems ? this.newsItems.items : null
        },
        h1Text() {
            // return this.$route.query.tag.split('=').splice(1,1).join() != '' ? this.$route.query.tag.split('=').splice(1,1).join() : this.$route.query.tag
            return this.newsItems.tag.transName != '' ? this.newsItems.tag.transName : null
        }
    },
};
</script>

<style lang="sass" scoped>
h1
    margin-top: 0px
.sidebar
  width: 100%
  margin-right: 15px
  position: relative
  &::before
    content: ''
    position: absolute
    width: 1px
    height: 100%
    background-color: $c-gray-light-1
    left: -15px
    top: 0px
.aboba
    height: 100vh
    width: 100%
    background-color: #ccc
    display: flex
    justify-content: center
.sidebar >
    div, ul
        border-top: 4px solid #78B043
        background-color: $c-gray-light-0
        padding: 25px 15px
        &:not(:last-of-type)
            margin-bottom: 15px
    .newsSidebar
        padding-bottom: 10px
@keyframes anim1
    0%
        background-color: #fafafa
    50%
        background-color: darken(#fafafa, 20)
    100%
        background-color: #fafafa
.asidePreloader
    background-color: #fafafa
    height: 100%
    width: 100%
    animation: anim1 3s infinite
h1:first-letter
    text-transform: uppercase
</style>
