<template>
    <div
        class="articleWrp globalWrapper"
        :class="{ z5: this.modalGal || this.showPopUp }"
        v-if="isLoaded"
    >
        <template v-if="isLoaded && articleData">
            <div class="contentZone">
                <app-breadcrumbs
                    v-if="breadcrumbs"
                    class="newsBreadcrumbs"
                    :breadcrumbsData="breadcrumbs"
                ></app-breadcrumbs>
                <h1>{{ articleData.translate.name }}</h1>
                <div class="dateAndViews">
                    <span v-html="articleData.model.public_date"></span>
                    <span
                        >{{ articleData.model.views
                        }}<span class="icon ic-eye"></span
                    ></span>
                </div>
                <social-link-post></social-link-post>
                <template v-if="!hasGalery && !articleData.model.iframe">
                    <img
                        v-if="articleData.model.image"
                        class="mainImg"
                        :src="path(articleData.model.image)"
                        alt="main_article_Img"
                    />
                </template>
                <template v-else-if="hasGalery && !articleData.model.iframe">
                    <VueSlickCarousel
                        class="mainGallery"
                        v-bind="mainSettings"
                        ref="main"
                    >
                        <div
                            class="carousel-cell"
                            v-for="(item, idx) in articleData.model.gallery"
                            :key="idx"
                            @click="mainSlideHandler(idx)"
                        >
                            <img
                                @load="imgLoad"
                                :src="path(item.image)"
                                alt=""
                            />
                            <div v-if="item.title" class="Slide_description">
                                {{ item.title }}
                            </div>
                        </div>
                    </VueSlickCarousel>
                    <VueSlickCarousel
                        class="navGallery"
                        v-bind="navSettings"
                        ref="nav"
                        @afterChange="navChange"
                    >
                        <div
                            class="carousel-cell"
                            v-for="(item, idx) in articleData.model.gallery"
                            :key="idx"
                            @click="slideClickHandler(idx)"
                        >
                            <img
                                @load="imgLoad"
                                :src="path(item.image)"
                                alt=""
                            />
                        </div>
                    </VueSlickCarousel>
                    <app-modal
                        v-if="modalGal"
                        :compdata="articleData.model.gallery"
                        @close="modalGal = !modalGal"
                        :curIndex="currentImg"
                    >
                    </app-modal>
                </template>
                <template>
                    <div
                        class="iframeWrp"
                        v-html="articleData.model.iframe"
                    ></div>
                </template>
                <router-link
                    class="blogerLink"
                    v-if="articleData.model.blogger_url"
                    :to="{
                        name: 'BlogerArticle',
                        params: { slug: articleData.model.blogger_slug },
                    }"
                    >{{ articleData.model.blogger_name }}</router-link
                >
                <p class="imgDesc">{{ articleData.translate.img_desc }}</p>
                <div
                    class="text annot"
                    v-if="articleData.translate.annot"
                    v-html="articleData.translate.annot"
                ></div>
                <p class="text textWrapper" v-html="articleData.translate.text"></p>
                <component
                    class="componentWrapper"
                    :is="item.component"
                    v-for="(item, idx) in componetList"
                    :key="idx"
                    :propData="item"
                    @showPopUp="showPopUpEvent"
                    @closePopUp="closePopUpEvent"
                ></component>

                <!-- script -->

                <div
                    v-if="articleData.translate.addtext"
                    id="iframeWrapper"
                    v-html="articleData.translate.addtext"
                ></div>
                <span class="hr" v-if="articleData.model.blogger_name"></span>
                <p class="disclamer" v-if="articleData.model.blogger_name">
                    {{ $t("disclamer") }}
                </p>
                <span class="hr" v-if="articleData.model.blogger_name"></span>
                <ul class="tags">
                    <li
                        v-for="(item, idx) in articleData.translate.tags_obj"
                        :key="idx"
                    >
                        <router-link
                            :to="{
                                name: 'Search',
                                params: {
                                    locale:
                                        $i18n.locale == 'uk'
                                            ? null
                                            : $i18n.locale,
                                },
                                query: {
                                    q:  $i18n.locale == 'uk' ? item.url.split('/').splice(2, 1).join() : item.url.split('/').splice(3, 1).join(),
                                    t: 1,
                                },
                            }"
                            >{{ item.name }}</router-link
                        >
                    </li>
                </ul>
                <span class="hr"></span>
                <social-link-post class="center"></social-link-post>
                <span class="hr"></span>
                <a
                    v-if="getBanners && getBanners[3]"
                    :href="bannerLink(getBanners[3].link)"
                    target="_blank"
                >
                    <img
                        class="commonClass"
                        :src="path(getBanners[3].img_desktop)"
                        :alt="path(getBanners[3].img_desktop_alt)"
                    />
                </a>
                <template v-if="article_multimedia">
                    <div class="df jcsb ait border-b">
                        <router-link
                            class="sliderLink blockTitle"
                            :to="{ path: article_multimedia.category.url }"
                        >
                            <h2>{{ article_multimedia.category.name }}</h2>
                            <i class="icon ic-arrow-right"></i>
                        </router-link>
                    </div>
                    <ul class="importantArticles df">
                        <li
                            v-for="(item, idx) in article_multimedia.items"
                            :key="idx"
                        >
                            <router-link
                                class="df jcsb"
                                :to="{ path: item.url }"
                            >
                                <div class="l">
                                    <img :src="path(item.image)" alt="" />
                                </div>
                                <div class="r df fdc">
                                    <div class="infoWarpper">
                                        <span>{{ item.public_date }}</span
                                        ><span
                                            >{{ item.views }}
                                            <i class="icon ic-eye"></i
                                        ></span>
                                        <p class="title">
                                            {{ item.name }}
                                        </p>
                                    </div>
                                </div>
                            </router-link>
                        </li>
                    </ul>
                    <i class="hr"></i>
                </template>
                <template v-if="newsByTheme">
                    <div class="df jcsb ait border-b">
                        <div class="sliderLink blockTitle">
                            <h2>{{ $t("newsByTheme") }}</h2>
                        </div>
                    </div>
                    <ul class="newsByTheme">
                        <template v-for="(item, idx) in newsByTheme">
                            <app-article-item
                                class="rubricItem articleItem"
                                v-if="item.model && item.translate"
                                :key="idx"
                                :image="path(item.model.image)"
                                :title="item.translate.name"
                                :descr="item.translate.annot"
                                :date="item.model.public_date"
                                :viwed="item.model.views"
                                :articleType="'category'"
                                :tags="item.translate.tags_obj"
                                :url="item.model.url"
                                :hasVideo="item.model.video"
                            >
                            </app-article-item>
                        </template>
                    </ul>
                </template>
                <div class="rubricItem articleItem bannerNative">
                    <a
                        v-if="getBanners && getBanners[7]"
                        :href="this.getBanners[7].link"
                        target="_blank"
                        class="bannerWrapper"
                    >
                        <picture>
                            <img
                                :src="path(this.getBanners[7].img_desktop)"
                                :alt="this.getBanners[7].alt"
                            />
                        </picture>
                        <div class="r">
                            <p>{{ this.getBanners[7].text }}</p>
                            <button>
                                детально <i class="icon ic-arrow-right"></i>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
            <aside class="sidebar" v-if="aside">
                <a
                    v-if="getBanners && getBanners[2]"
                    :href="bannerLink(getBanners[2].link)"
                    target="_blank"
                    class="commonClass"
                >
                    <picture>
                        <source
                            media="(max-width: 576px)"
                            :srcset="path(getBanners[2].img_desktop)"
                        />
                        <img
                            :src="path(getBanners[2].img_desktop)"
                            alt="commonClass.img_desktop_alt"
                        />
                    </picture>
                </a>

                <app-slider
                    class="newsSlider"
                    v-if="aside.cat1"
                    :sliderData="aside.cat1.items"
                >
                    <div class="df jcsb ait h2fix">
                        <!-- v-if="aside.cat1.category.type == 'category'" -->
                        <template>
                            <router-link
                                class="sliderLink blockTitle"
                                :to="{ path: aside.cat1.category.url }"
                            >
                                <h2>{{ aside.cat1.category.name }}</h2>
                                <i class="icon ic-arrow-right"></i>
                            </router-link>
                        </template>
                        <!-- <template v-else>
                            <router-link
                                class="sliderLink blockTitle"
                                :to="{
                                    name: 'Archive',
                                    query: { tag: aside.cat1.category.name },
                                }"
                            >
                                <h2>{{ aside.cat1.category.name }}</h2>
                                <i class="icon ic-arrow-right"></i>
                            </router-link>
                        </template> -->
                    </div>
                </app-slider>

                <app-side-bar
                    class="newsSidebar"
                    v-if="aside.news"
                    :news="aside.news"
                ></app-side-bar>

                <ul v-if="aside.cat2">
                    <div class="df jcsb ait h2fix">
                        <template>
                            <router-link
                                class="sliderLink blockTitle"
                                :to="{ path: aside.cat2.category.url }"
                            >
                                <h2>{{ aside.cat2.category.name }}</h2>
                                <i class="icon ic-arrow-right"></i>
                            </router-link>
                        </template>
                    </div>
                    <app-article-item
                        class="article"
                        v-for="(item, idx) in aside.cat2.items"
                        :key="idx"
                        :image="path(item.image)"
                        :viwed="item.views"
                        :title="item.name"
                        :url="item.url"
                        :date="item.public_date"
                        :direction="'column'"
                    ></app-article-item>
                </ul>
                <app-r-sidebar
                    v-if="aside.blog"
                    class="no-m"
                    :blogData="aside.blog"
                ></app-r-sidebar>
            </aside>
            <div class="asidePreloader" v-else></div>
        </template>
    </div>
    <transition name="fade" v-else>
        <app-preloader></app-preloader>
    </transition>
</template>

<script>
import appBreadcrumbs from "../components/navigation/app-breadcrumbs.vue";
import simpleText from "../components/article/simpleText.vue";
import Gallery from "../components/article/gallery.vue";
import Images from "../components/article/images.vue";
import List from "../components/article/list.vue";
import imageAndText from "../components/article/image-and-text.vue";
import Quotes from "../components/article/quotes.vue";
import Telegram from "../components/article/telegram.vue";
import SeeAlso from "../components/article/see-also.vue";
import { mapGetters } from "vuex";
import AppSideBar from "../components/sidebar/app-side-bar.vue";
import AppSlider from "../components/contentZone/blocks/app-slider.vue";
import AppRSidebar from "../components/contentZone/blocks/app-rSidebar.vue";
import AppArticleItem from "../components/contentZone/app-articleItem.vue";
import SocialLinkPost from "../components/common/socialLinkPost.vue";

import AppModal from "../components/common/app-modal.vue";
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import AppPreloader from "../components/elements/app-preloader.vue";
import SeeAlsoLand from '../components/article/see-also-land.vue';
import ArticleTable from '../components/article/article-table.vue';
import Villages from '../components/article/villages.vue';

export default {
    name: "Article",
    data() {
        return {
            constructorData: null,
            articleData: null,
            article_multimedia: null,
            newsByTheme: null,
            isLoaded: null,
            aside: null,
            modalGal: false,
            showPopUp: false,
            breadcrumbs: null,
            mainSettings: {
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: true,
                adaptiveHeight: true,
            },
            navSettings: {
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                arrows: false,
            },
        };
    },
    computed: {
        ...mapGetters(["getBanners", "getRubrics"]),
        hasGalery() {
            return this.articleData.model.gallery.length > 0;
        },
        componetList() {
            let a = [];
            if (this.constructorData) {
                this.constructorData.forEach((el) => {
                    a.push(el);
                });
                return a;
            } else {
                return null;
            }
        },
    },
    methods: {
        showPopUpEvent() {
            this.showPopUp = true;
        },
        closePopUpEvent() {
            this.showPopUp = false;
        },
        slideClickHandler(idx) {
            console.log(idx);
            this.$refs.main.goTo(idx);
        },
        mainSlideHandler(idx) {
            console.log(idx);
            this.modalGal = !this.modalGal;
        },
        componentList(component) {
            return component;
        },
        imgLoad() {
            // this.$refs.main.resize();
            // this.$refs.nav.resize();
        },
        navChange(idx) {
            console.log(idx);
            console.log(this.$refs.main);
            this.$refs.main.goTo(idx);
        },
        getAside() {
            this.axios
                .post("/api/news/get-by-slug-aside", {
                    lang: this.currentLang,
                    category_id: this.articleData.model.category_id,
                })
                .then((res) => {
                    this.aside = res.data.data.aside;
                    this.breadcrumbs = res.data.data.breadcrumbs;
                });
        },
        getNewsByTheme() {
            this.axios
                .post("/api/news/get-by-slug-news-by-theme", {
                    lang: this.currentLang,
                    model_id: this.articleData.model.id,
                    tags_str: this.articleData.translate.tags,
                })
                .then((res) => {
                    this.newsByTheme = res.data.data.news_by_theme;
                });
        },
        getArticleMultimedia() {
            this.axios
                .post("/api/news/get-by-slug-multimedia", {
                    lang: this.currentLang,
                    category_id: this.articleData.model.category_id,
                })
                .then((res) => {
                    this.article_multimedia =
                        res.data.data.article_multimedia.block1;
                });
        },
    },
    components: {
        appBreadcrumbs,
        AppSlider,
        AppArticleItem,
        VueSlickCarousel,
        AppRSidebar,
        "simple-text": simpleText,
        gallery: Gallery,
        images: Images,
        list: List,
        "image-and-text": imageAndText,
        quotes: Quotes,
        telegram: Telegram,
        "see-also": SeeAlso,
        AppSideBar,
        SocialLinkPost,
        AppModal,
        AppPreloader,
         "see-also-landing-for-site": SeeAlsoLand,
        "table-component-for-site": ArticleTable,
        "incredible-villages": Villages,
    },
    created() {
        const slug = this.$route.params.slug;
        const params = {
            lang: this.currentLang,
            slug,
        };
        if (this.$route.query.prevw) {
            params.prevw = this.$route.query.prevw;
        }
        this.axios
            .post("/api/news/get-by-slug-model", params)
            .then((res) => {
                document.title =
                    res.data.data.translate.meta_title || "AgroPortal.ua";
                this.articleData = res.data.data;
                this.constructorData = res.data.data.constructor;
            })
            .catch((e) => {
                console.log();
                if (e.response.status == 302) {
                    this.$router.push({
                        name: "Home",
                        params: {
                            locale:
                                this.$i18n.locale == "uk"
                                    ? null
                                    : this.$i18n.locale,
                        },
                    });
                } else {
                    this.$router.push({
                        name: "error404",
                        params: {
                            locale:
                                this.$i18n.locale == "uk"
                                    ? null
                                    : this.$i18n.locale,
                        },
                    });
                }
            })
            .finally(() => {
                this.getAside();
                this.getNewsByTheme();
                this.getArticleMultimedia();
                this.isLoaded = true;
            });
    },
    mounted() {},
};
</script>
<style lang="sass">
.contentZone
    table
        display: inline-block
        width: 100% !important
        @media (max-width: 820px)
            overflow-x: scroll
    .textWrapper
        ul, ol
            padding-left: 40px !important
            li
                margin-bottom: 15px !important
</style>
<style lang="sass" scoped>
.contentZone
    max-width: 700px
    @media (max-width: 820px)
        max-width: 467px
.componentWrapper
    margin: 20px 0px
.sidebar
  width: 100%
  margin-right: 15px
  position: relative
  background-color: #F6F5FA
  border-top: 4px solid #78B043
  padding: 25px 15px
  &::before
    content: ''
    position: absolute
    width: 1px
    height: 100%
    background-color: $c-gray-light-1
    left: -15px
    top: 0px
.disclamer
    font-style: italic
    font-weight: normal
    font-size: 16px
    line-height: 145%
    letter-spacing: -0.02em
    color: #555861
.dateAndViews
    font-style: normal
    font-weight: 500
    font-size: 12px
    line-height: 135%
    letter-spacing: 0.01em
    color: #8A8F9D
    display: inline-flex
    align-items: center
    span:first-of-type
        margin-right: 10px
    span:last-of-type
        display: flex
        align-items: center
.tags
    display: flex
    grid-gap: 10px
    flex-wrap: wrap
    li
        background: #F6F5FA
        border: 1px solid #DEDDE7
        box-sizing: border-box
        border-radius: 2px !important
        padding: 5px 10px !important
        font-size: 12px !important
        line-height: 135% !important
        cursor: pointer
        color: $c-gray-light-2
        transition: .3s
        &:hover
            background-color: $c-green-on-black
            color: $c-black-text
.importantArticles
    margin-top: 15px
    justify-content: space-between
    @media (max-width: 820px)
        flex-direction: column
    li
        width: calc(33% - 15px)
        position: relative
        &:not(:last-of-type)
            &::before
                width: 1px
                content: ''
                height: 100%
                background-color: #DEDDE7
                position: absolute
                right: -15px
        @media (max-width: 820px)
            width: 100%
            border: none
        a
            display: flex
            flex-direction: column
        .l
            margin-right: 0px
        span
            font-weight: 500
            font-size: 12px
            line-height: 135%
            letter-spacing: 0.01em
            color: #9E9EA7
            &:last-of-type
                display: inline-flex
                margin-left: 10px
            i
                color: inherit
        .title
            font-weight: 500
            font-size: 16px
            line-height: 125%
            color: #111325
.blockTitle h2
    font-weight: 500
    font-size: 24px
    line-height: 100%
    text-transform: uppercase
    color: #111325
.mainImg
    width: 100%
h1
    font-weight: 600
    font-size: 30px
    line-height: 120%
    color: #111325
.center
    justify-content: center
.commonClass
    margin-top: 15px
    width: 100%
.authorName
    font-weight: 500
    margin-top: 10px
    font-size: 16px
    line-height: 145%
    letter-spacing: -0.02em
    color: #8A8F9D
.mainGallery
    cursor: pointer
    .carousel-cell
        // background-color: red
        width: 100%
        // margin-right: 10px
        // height: 100px
        // padding: 20px
.secondGallery
    .carousel-cell
        width: 25%
.blogerLink
    margin-bottom: 10px
    display: block
    font-weight: 600
    color: #8A8F9D
    transition: .3s
    color: $c-green
.annot, .text.annot p
    color: darken(#111325, 30)
    font-weight: 600
.articleWrp.z5
    z-index: 5
.imgDesc
    font-weight: 500
    font-size: 13px
    line-height: 130%
    color: #8A8F9D
.h2fix
    .sliderLink
        margin-top: 0px
        margin-bottom: 20px
    h2
        font-weight: 500
        margin: 0px
        font-size: 24px
        line-height: 100%
        text-transform: uppercase
        color: #111325
.sidebar
    padding: 0px
    background-color: unset
    border: none
.sidebar .commonClass picture
    display: block
    margin-bottom: 15px
.sidebar >
    div, ul
        border-top: 4px solid #78B043
        background-color: $c-gray-light-0
        padding: 25px 15px
        padding-bottom: 15px
        &:not(:last-of-type)
            margin-bottom: 15px
    .newsSidebar
        padding-bottom: 10px
.article
    transition: .3s
    margin-bottom: 10px
    &:last-of-type
        margin-bottom: 15px
    .l
        width: 55%
        margin-right: 10px
    .r
        width: 45%
    &:hover
        color: $c-green
.article .title
    @include subtitle-3
.footerArticle
    .title
        @include subtitle-1
        font-weight: 400
.tags
    display: flex
    flex-wrap: wrap
    li
        padding: 2px
        background: #F6F5FA
        border: 1px solid #DEDDE7
        box-sizing: border-box
        border-radius: 1px
        font-weight: 500
        font-size: 10px
        margin-bottom: 5px
        &:not(:last-of-type)
            margin-right: 5px
.fdc
    .l
        margin-right: 0px
        width: 100%
    .r
        width: 100%
    .article .l
        margin-right: 10px
.bannerWrapper
    display: flex
    width: 100%
    grid-gap: 10px
    img
        width: auto
        height: auto
        max-width: 470px
        min-width: 150px
        display: block

    .r
        display: flex
        width: 100%
        flex-direction: column
        justify-content: space-between
        @media (max-width: 576px)
            width: 100%
    p
        @include subtitle-2
        margin-top: 0px
    button
        background-color: $c-green
        color: #fff
        border: none
        display: flex
        padding: 15px
        align-items: center
        justify-content: flex-end
        font-weight: 600
        font-size: 16px
        line-height: 100%
        i
            margin-left: 10px
            color: inherit
    @media (max-width: 991px)
        flex-direction: column
        img
            max-width: unset
            width: 100%
.viewd
    display: flex
li
    border-bottom: 1px solid $c-gray-light-1
    padding-bottom: 15px
    margin-bottom: 15px
.articleWrp
    .importantArticles li
        border-bottom: none
@keyframes anim1
    0%
        background-color: #fafafa
    50%
        background-color: darken(#fafafa, 20)
    100%
        background-color: #fafafa
.asidePreloader
    background-color: #fafafa
    height: 100%
    width: 100%
    animation: anim1 3s infinite
</style>
