<template>
    <div class="globalWrapper blog">
        <div class="textContainer contentZone">
            <!-- <app-breadcrumbs
                class="newsBreadcrumbs"
                :breadcrumbsData="pageInfo.breadcrumbs"
            ></app-breadcrumbs> -->
            <!-- <h1>{{ componentTitle }}</h1> -->
            <div class="members" v-if="pageInfo.items">
                <router-link
                    :to="{name: 'BlogerArticle', params: {slug: item.model.slug}}"
                    class="member"
                    v-for="(item, idx) in pageInfo.items.models"
                    :key="idx"
                >
                    <div class="l">
                        <picture v-if="item.model.image">
                            <source :srcset="path(item.model.image_thumbnail)" media="(max-width: 1024px)">
                            <img :src="path(item.model.image)" alt="" />
                        </picture>
                    </div>
                    <div class="r">
                        <p class="name">
                            {{ item.model.name }}
                        </p>
                        <p class="position">
                            {{ item.model.position }}
                        </p>
                        <a :href="`mailto:${item.model.email}`" class="email">
                            {{ item.model.email }}
                        </a>
                        <p class="text" v-html="item.model.text"></p>
                        <ul class="social">
                            <li v-if="item.model.soc_facebook">
                                <a :href="item.model.soc_facebook" target="_blank">
                                    <i class="icon ic-fb"></i>
                                </a>
                            </li>
                            <li v-if="item.model.soc_instagram">
                                <a :href="item.model.soc_instagram" target="_blank">
                                    <i class="icon ic-inst"></i>
                                </a>
                            </li>
                            <li v-if="item.model.soc_telegram">
                                <a :href="item.model.soc_telegram" target="_blank">
                                    <i class="icon ic-tl"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </router-link>
            </div>
        </div>
        <aside class="sidebar">
            <app-side-bar class="newsSidebar" :news="asideData"></app-side-bar>
        </aside>
    </div>
</template>

<script>
import appSideBar from '../components/sidebar/app-side-bar.vue';
// import appBreadcrumbs from '../components/navigation/app-breadcrumbs.vue';
export default {
  components: { appSideBar },
//   components: { appBreadcrumbs },
    name: "Authors",
    data() {
        return {
            pageInfo: null,
            asideData: null,
        }
    },
    created() {
        this.axios
            .post("/api/authors/all", {
                lang: this.currentLang,
                slug: this.$route.params.textPageSlug,
            })
            .then((res) => {
                this.pageInfo = res.data.data;
                this.constructorInfo = res.data.data.constructor;
                this.asideData = res.data.data.aside.news
            })
            .catch(() => {
                this.$router.push({ name: "error404", params: {locale: this.$i18n.locale == 'uk' ? null : this.$i18n.locale,} });
            });
    },
};
</script>

<style lang="sass" scoped>
.sidebar
    width: 100%
    // margin-right: 15px
    position: relative
    background-color: #F6F5FA
    border-top: 4px solid #78B043
    padding: 25px 15px
    &::before
        content: ''
        position: absolute
        width: 1px
        height: 100%
        background-color: $c-gray-light-1
        left: -15px
        top: 0px
.member
    display: flex
    justify-content: space-between
    position: relative
    &:not(:first-of-type)
        margin-top: 15px
    &::before
        content: ''
        position: absolute
        background-color: #DEDDE7
        width: 100%
        height: 1px
        bottom: 0px
    .l
        width: 150px
        @media (max-width: 820px)
            text-align: center
            width: 100%
            width: 120px
            border-radius: 50%
            margin-right: 20px
            img
                border-radius: 50%
                position: relative
                border: 3px solid #DEDDE7
    .r
        width: calc(100% - 170px)
        @media (max-width: 820px)
            width: 100%
    .name
        font-weight: 500
        font-size: 24px
        line-height: 120%
        color: #111325
        margin-top: 0px
        margin-bottom: 10px
    .position
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #8A8F9D
        margin-top: 0px
        margin-bottom: 0px
    .email
        font-weight: 500
        font-size: 22px
        line-height: 145%
        color: #75AD40
        margin-top: 0px
        margin-bottom: 0px
    .text
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #111325
    .social
        display: flex
        li
            width: 31px
            height: 31px
            border-radius: 50%
            border: 1px solid #DEDDE7
            display: flex
            justify-content: center
            align-items: center
            transition: .3s
            margin-right: 10px
            cursor: pointer
            &:hover
                background-color: #75AD40
                i
                    color: #fff
            i
                color: #8A8F9D
                &::before
                    font-size: 18px
            a
                height: 18px
</style>
