<template>
    <div class="globalWrapper bloggerArticle" v-if="isLoaded">
        <div class="textContainer contentZone">
           <div class="blogger" v-if="bloggerData">
               <div class="l">
                   <picture class="blogerImg">
                    <source
                        media="(max-width: 820px)"
                        :srcset="path(bloggerData.image_thumbnail)"
                    />
                    <img :src="path(bloggerData.image)" alt="" />
                </picture>
               </div>
               <div class="r">
                   <p class="name">{{ bloggerData.name }}</p>
                   <i class="hr"></i>
                   <p class="position">{{ bloggerData.position }}</p>
                   <p class="text" v-html="bloggerData.text"></p>
                   <ul class="social">
                       <li v-if="bloggerData.socials.facebook">
                           <a :href="bloggerData.socials.facebook"><i class="icon ic-fb" ></i></a>
                       </li>
                       <li v-if="bloggerData.socials.instagram">
                           <a :href="bloggerData.socials.instagram"><i class="icon ic-inst" ></i></a>
                       </li>
                       <li v-if="bloggerData.socials.telegram">
                           <a :href="bloggerData.socials.telegram"><i class="icon ic-tl" ></i></a>
                       </li>
                       <li v-if="bloggerData.socials.email">
                           <a :href="bloggerData.socials.email"><i class="icon ic-fb" ></i></a>
                       </li>
                   </ul>
               </div>
           </div>
           <ul v-if="bloggerArticlesData">
               <template v-for="(item, idx) in bloggerArticlesData.models">
                    <app-article-item
                        class="rubricItem articleItem blogerArticle"
                        v-if="item.model && item.translate"
                        :key="idx"
                        :image="path(item.model.image)"
                        :title="item.model.name"
                        :descr="item.translate.annot"
                        :date="item.model.public_date"
                        :categoryText="item.model.category_name"
                        :categoryUrl="item.model.category_url"
                        :viwed="item.model.views"
                        :articleType="'category'"
                        :tags="item.translate.tags_obj"
                        :url="item.model.url"
                        :hasVideo="item.model.video"
                    >
                    </app-article-item>
                </template>
           </ul>
        </div>
        <aside class="sidebar" v-if="asideData">
            <app-side-bar  class="newsSidebar" :news="asideData"></app-side-bar>
        </aside>
        <div class="asidePreloader" v-else></div>
    </div>
    <transition name="fade" v-else>
        <app-preloader></app-preloader>
    </transition>
</template>

<script>
import appArticleItem from '../components/contentZone/app-articleItem.vue';
import AppSideBar from '../components/sidebar/app-side-bar.vue';
import AppPreloader from "../components/elements/app-preloader.vue";
    export default {
  components: { appArticleItem, AppSideBar, AppPreloader },
        name: 'BlogerArticle',
        data() {
            return {
                bloggerData: null,
                bloggerArticlesData: null,
                asideData: null,
                isLoaded: null
            }
        },
        created () {
            this.axios.post('/api/authors/get-by-slug-items', {
                lang: this.currentLang,
                slug: this.$route.params.slug
            }).then(res => {
                document.title = res.data.data.blogger.meta_title || 'AgroPortal.ua'
                this.bloggerData = res.data.data.blogger;
                this.bloggerArticlesData = res.data.data.items;
            })
            .finally(() => {
                this.isLoaded = true;
                this.axios.post('/api/authors/get-by-slug-aside',{lang: this.currentLang})
                .then(res => {
                    this.asideData = res.data.data.aside.news
                })
            })
        },
    }
</script>

<style lang="sass" scoped>
.sidebar
  width: 100%
  margin-right: 15px
  position: relative
  &::before
    content: ''
    position: absolute
    width: 1px
    height: 100%
    background-color: $c-gray-light-1
    left: -15px
    top: 0px
.blogger
    display: flex
    justify-content: space-between
    position: relative
    padding-bottom: 15px
    &:not(:first-of-type)
        margin-top: 15px
    &::before
        content: ''
        position: absolute
        background-color: #DEDDE7
        width: 100%
        height: 1px
        bottom: 0px
    .l
        width: 150px
        @media (max-width: 820px)
            text-align: center
            width: 120px
            margin-right: 20px
            img
                border-radius: 50%
                position: relative
                border: 3px solid #DEDDE7
    .r
        width: calc(100% - 170px)
        @media (max-width: 820px)
            width: 100%
        @media (max-width: 576px)
            width: calc(100% - 120px)
    .name
        font-weight: 500
        font-size: 24px
        line-height: 120%
        color: #111325
        margin-top: 0px
        margin-bottom: 10px
    .position
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #8A8F9D
        margin-bottom: 0px
    .email
        font-weight: 500
        font-size: 22px
        line-height: 145%
        color: #75AD40
        margin-top: 0px
        margin-bottom: 0px
    .text
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #111325
    .social
        display: flex
        li
            width: 31px
            height: 31px
            border-radius: 50%
            border: 1px solid #DEDDE7
            display: flex
            justify-content: center
            align-items: center
            transition: .3s
            margin-right: 10px
            cursor: pointer
            &:hover
                background-color: #75AD40
                i
                    color: #fff
            i
                color: #8A8F9D
                &::before
                    font-size: 18px
            a
                height: 18px
@keyframes anim1
    0%
        background-color: #fafafa
    50%
        background-color: darken(#fafafa, 20)
    100%
        background-color: #fafafa
.asidePreloader
    background-color: #fafafa
    height: 100%
    width: 100%
    animation: anim1 3s infinite
</style>
