<template>
    <div class="home globalWrapper" v-if="isLoaded">
        <aside class="sidebar home-aside">
            <app-side-bar class="floatingState" :news="getNewsData">
            </app-side-bar>
            <div class="view_all viewAll-o">
                <router-link
                    :to="{
                        name: `Rubric`,
                        params: {
                            rubric: 'news',
                            locale: $i18n.locale == 'uk' ? null : $i18n.locale,
                        },
                    }"
                >
                    {{ $t("viewAll") }} <i class="icon ic-arrow-right"></i>
                </router-link>
            </div>
        </aside>
        <main-article :mainBlockData="getMainArticlesData"></main-article>
        <content-block class="main"></content-block>
        <info-block
            :mainTitle="mainTitle"
            :infoData="infoData"
            :infoData2="infoData2"
        ></info-block>
    </div>
    <transition name="fade" v-else>
        <div class="mainPreloader">
            <img src="@/assets/preloaderLogo.png" alt="" />
        </div>
    </transition>
</template>

<script>
import mainArticle from "../components/contentZone/blocks/app-mainArticle.vue";
import contentBlock from "../components/contentZone/app-content-wrapper.vue";
import appSideBar from "../components/sidebar/app-side-bar.vue";
import infoBlock from "../components/contentZone/blocks/app-infoBlock.vue";
import { mapActions, mapGetters } from "vuex";
export default {
    name: "Home",
    data() {
        return {
            infoData: null,
            isLoaded: false,
            mainTitle: "",
        };
    },
    components: {
        appSideBar,
        contentBlock,
        infoBlock,
        mainArticle,
    },
    methods: {
        ...mapActions([
            "setBlock1",
            "setBlock2",
            "setBlock3",
            "setBlock4",
            "setBlogData",
            "setMainArticlesData",
            "setNewsData",
            "setBanners",
        ]),
    },
    created() {
        this.axios
            .post("/api/get-main-page", {
                lang: this.currentLang,
                news_count: "25",
            })
            .then((res) => {
                document.title =
                    res.data.data.translate.meta_title || "AgroPortal.ua";
                this.mainPageData = res.data.data.blocks;
                this.setBlock1(res.data.data.blocks.block1);
                this.setBlock2(res.data.data.blocks.block2);
                this.setBlock3(res.data.data.blocks.block3);
                this.setBlock4(res.data.data.blocks.block4);
                this.setBlogData(res.data.data.blocks.blog);
                this.setMainArticlesData(res.data.data.blocks.main);
                this.setNewsData(res.data.data.blocks.news);
                this.infoData = res.data.data.constructor[0].content;
                this.infoData2 = res.data.data.translate.description;
                this.mainTitle = res.data.data.translate.title;
            })
            .finally(() => {
                this.isLoaded = true;
            });
    },
    computed: {
        ...mapGetters(["getMainArticlesData", "getNewsData"]),
    },
};
</script>
<style lang="sass" scoped>
.floatingState
    overflow: hidden
.sidebar
  width: 100%
  margin-right: 15px
  background-color: $c-gray-light-0
  position: relative
  border-top: 4px solid #78B043
  padding: 25px 15px
  position: relative
  @media (min-width: 640px)
    &::before
      content: ''
      position: absolute
      height: calc(100% + 4px)
      width: 1px
      background-color: $c-gray-light-1
      top: -4px
      right: -15px
  .floatingState
    position: absolute
    top: 25px
    bottom: 25px
    left: 15px
    right: 15px
    @media (max-width: 640px)
        position: static
main
  width: 100%
  position: relative
.viewAll-o
    position: absolute
    bottom: 15px
    background-color: #F6F5FA
    width: 100%
    left: 50%
    transform: translate(-50%)
    a
        justify-content: center
        color: $c-green-bright
        display: flex
        font-weight: 600
        font-size: 16px
        align-items: center
        i
            margin-left: 10px
            color: inherit
    @media (max-width: 820px)
        color: #66B31E
    @media (max-width: 820px)
        display: none
    &::before
        content: ''
        top: -40px
        left: 0px
        width: 100%
        position: absolute
        height: 40px
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background: linear-gradient(360deg, rgba(246,245,250,1) 0%, rgba(255,255,255,0) 100%)
        background: -moz-linear-gradient(360deg, rgba(246,245,250,1) 0%, rgba(255,255,255,0) 100%)
        background: -webkit-gradient(360deg, rgba(246,245,250,1) 0%, rgba(255,255,255,0) 100%)
        background: -webkit-linear-gradient(360deg, rgba(246,245,250,1) 0%, rgba(255,255,255,0) 100%)
        background: -o-linear-gradient(360deg, rgba(246,245,250,1) 0%, rgba(255,255,255,0) 100%)
        background: -ms-linear-gradient(360deg, rgba(246,245,250,1) 0%, rgba(255,255,255,0) 100%)
.mainPreloader
    width: 100%
    max-width: 1000px
    margin: 0 auto
    height: 80vh
    background-color: #fff
    display: flex
    justify-content: center
    align-items: center
    img
        animation: anim1 2s infinite
@keyframes anim1
    0%
        transform: scale(1)
    50%
        transform: scale(1.3)
    100%
        transform: scale(1)
</style>
