<template>
    <div class="news globalWrapper" v-if="isLoaded">
        <div class="contentZone">
            <app-breadcrumbs
                class="newsBreadcrumbs"
                v-if="breadcrumbs"
                :breadcrumbsData="breadcrumbs"
            ></app-breadcrumbs>
            <h1>{{ pageTitle }}</h1>
            <!-- <article-item></article-item> -->
            <article-wrapper
                @currentPage="setcurrentPage"
                :newsArticleList="newsItems.items.models"
                :paginate="newsItems.items.paginate"
            ></article-wrapper>
        </div>
        <aside class="sidebar" v-if="aside">
            <a
                v-if="getBanners && getBanners[2]"
                :href="bannerLink(getBanners[2].link)"
                target="_blank"
                class="commonClass"
            >
                <picture>
                    <source
                        media="(max-width: 576px)"
                        :srcset="path(getBanners[2].img_desktop)"
                    />
                    <img
                        :src="path(getBanners[2].img_desktop)"
                        alt="commonClass.img_desktop_alt"
                    />
                </picture>
            </a>
            <i class="hr" v-if="getBanners[2]"></i>
            <app-slider
                class="newsSlider"
                v-if="aside.cat1"
                :sliderData="aside.cat1.items"
            >
                <div class="df jcsb ait h2fix">
                    <template>
                        <router-link
                            class="sliderLink blockTitle"
                            :to="{ path: aside.cat1.category.url }"
                        >
                            <h2>{{ aside.cat1.category.name }}</h2>
                            <i class="icon ic-arrow-right"></i>
                        </router-link>
                    </template>
                </div>
            </app-slider>
            <i class="hr" v-if="aside.cat1"></i>
            <app-side-bar
                class="newsSidebar"
                v-if="aside.news"
                :news="aside.news"
            ></app-side-bar>
            <i class="hr" v-if="aside.cat1"></i>
            <ul v-if="aside.cat2">
                <div class="df jcsb ait h2fix">
                    <template>
                        <router-link
                            class="sliderLink blockTitle"
                            :to="{ path: aside.cat2.category.url }"
                        >
                            <h2>{{ aside.cat2.category.name }}</h2>
                            <i class="icon ic-arrow-right"></i>
                        </router-link>
                    </template>
                </div>
                <app-article-item
                    class="article"
                    v-for="(item, idx) in aside.cat2.items"
                    :key="idx"
                    :image="path(item.image)"
                    :viwed="item.views"
                    :title="item.name"
                    :url="item.url"
                    :date="item.public_date"
                    :direction="'column'"
                    :landingUrl="item.landing_link"
                ></app-article-item>
            </ul>
            <i class="hr" v-if="aside.cat2"></i>
            <app-r-sidebar
                class="no-m"
                v-if="aside.blog"
                :blogData="aside.blog"
            ></app-r-sidebar>
        </aside>
        <div class="asidePreloader" v-else></div>
        <div class="seoBottom" ref="seoBottom" v-if="currentPage === 1">
            <h2>{{ newsItems.category.h2 }}</h2>
            <p class="seo" v-html="newsItems.category.description"></p>
        </div>
    </div>
    <app-preloader v-else></app-preloader>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import AppArticleItem from "../components/contentZone/app-articleItem.vue";
import AppRSidebar from "../components/contentZone/blocks/app-rSidebar.vue";
import AppSlider from "../components/contentZone/blocks/app-slider.vue";
import AppPreloader from "../components/elements/app-preloader.vue";
import AppBreadcrumbs from "../components/navigation/app-breadcrumbs.vue";
import articleWrapper from "../components/news/app-news-wrapper.vue";
import appSideBar from "../components/sidebar/app-side-bar.vue";
// import articleItem from '../components/contentZone/app-articleItem-div.vue'
export default {
    name: "news",
    components: {
        articleWrapper,
        appSideBar,
        AppRSidebar,
        AppSlider,
        AppArticleItem,
        AppBreadcrumbs,
        AppPreloader,
    },
    data() {
        return {
            newsItems: null,
            isLoaded: null,
            aside: null,
            breadcrumbs: null,
            msg: null,
            activeAcc: false,
            currentPage: 1,
        };
    },
    methods: {
        setcurrentPage(page){
            this.currentPage = page
        },
        changeState(){
            this.activeAcc = !this.activeAcc;
        },
        ...mapActions(["setNativeBanner"]),
        getAsideAndBreadcrumbs() {
            if (this.newsItems) {
                this.axios
                    .post("/api/news/category-only-aside-and-breadcrumbs", {
                        lang: this.currentLang,
                        category_id: this.newsItems.category.id,
                        category_parent_id: this.newsItems.category.parent_id,
                        category_name: this.newsItems.category.name,
                        category_path: this.newsItems.category.path,
                    })
                    .then((res) => {
                        this.aside = res.data.data.aside;
                        this.breadcrumbs = res.data.data.breadcrumbs;
                    });
            }
        },
        getRubricData(page = 1) {
            let slug = "";
            if (this.$route.name == "RubricArticle") {
                slug = `${this.$route.params.rubric}/${this.$route.params.subRubric}`;
            } else if (this.$route.name == "Rubric") {
                slug = `${this.$route.params.rubric}`;
            }
            this.axios
                .post("/api/news/category-only-items", {
                    lang: this.currentLang,
                    page: page,
                    category_slug: slug,
                })
                .then((res) => {
                    document.title =
                        res.data.data.category.meta_title || "AgroPortal.ua";
                    this.newsItems = res.data.data;
                })
                .catch(() => {
                    let res = this.getRubrics.find((item) => item == slug);
                    if (!res) {
                        this.$router.push({
                            name: "TextPage",
                            params: {
                                textPageSlug: slug
                                    .split("/")
                                    .slice(0, 1)
                                    .join(),
                            },
                        });
                    } else {
                        this.$router.push({
                            name: "error404",
                            params: {
                                locale:
                                    this.$i18n.locale == "uk"
                                        ? null
                                        : this.$i18n.locale,
                            },
                        });
                    }
                })
                .finally(() => {
                    this.getAsideAndBreadcrumbs()
                    this.isLoaded = true;
                    setTimeout(() => {
                      this.initToggleSlideBtn(this.$refs.seoBottom, true)
                      console.log(this.$refs.seoBottom);
                    },1000)
                });
        },
    },
    computed: {
        ...mapGetters(["getRubrics", "getPageSlugs", "getBanners"]),
        pageTitle() {
            return this.newsItems ? this.newsItems.category.name : null;
        },
    },
    created() {
        if (this.$route.params.rubric) {
            this.getRubricData(this.$route.query.page);
        } else {
            this.$router.push({
                name: "error404",
                params: {
                    locale:
                        this.$i18n.locale == "uk" ? null : this.$i18n.locale,
                },
            });
        }
    },
};
</script>

<style lang="sass" scoped>
.sidebar
  width: 100%
  margin-right: 15px
  position: relative
  &::before
    content: ''
    position: absolute
    width: 1px
    height: 100%
    background-color: $c-gray-light-1
    left: -15px
    top: 0px
.aboba
    height: 100vh
    width: 100%
    background-color: #ccc
    display: flex
    justify-content: center
.sidebar >
    div, ul
        border-top: 4px solid #78B043
        background-color: $c-gray-light-0
        padding: 25px 15px
        padding-bottom: 15px
        &:not(:last-of-type)
            margin-bottom: 15px
    .newsSidebar
        padding-bottom: 10px
        @media (max-width: 576px)
            padding-top: 15px
h1
    font-weight: 500
    font-size: 36px
    line-height: 130%
    color: #111325
    margin: 15px 0px
.newsBreadcrumbs
    margin: 0px
.h2fix
    .sliderLink
        margin-top: 0px
        margin-bottom: 20px
    h2
        font-weight: 500
        margin: 0px
        font-size: 24px
        line-height: 100%
        text-transform: uppercase
        color: #111325
.sidebar .commonClass picture
    display: block
    margin-bottom: 15px
.sidebar
    .hr
        margin-bottom: 15px
    ul li .l
        max-width: unset !important
.bannerNative
    margin-top: 0px
@keyframes anim1
    0%
        background-color: #fafafa
    50%
        background-color: darken(#fafafa, 20)
    100%
        background-color: #fafafa
.asidePreloader
    background-color: #fafafa
    height: 100%
    width: 100%
    animation: anim1 3s infinite
</style>
