<template>
    <div class="search globalWrapper" v-if="isLoaded && showSearchResult">
        <div class="contentZone">
            <app-breadcrumbs
                class="newsBreadcrumbs"
                :breadcrumbsData="paginate"
            ></app-breadcrumbs>
            <!-- <h1>{{ search }}</h1> -->
            <div class="searchInput">
                <input
                    type="text"
                    @keyup.enter="getSearchResult(search, 1)"
                    v-model="search"
                    :placeholder="$t('i_search')"
                />
                <button @click="getSearchResult(search, 1)">
                    <i class="icon ic-search"></i>
                </button>
            </div>
            <div class="filterWrapper">
                <div class="selectWrapper">
                    <span>{{ $t("showPub") }}</span>
                    <div class="selectPresset" @click="isOpen = !isOpen">
                        <span>{{ selectedPresset }}</span>
                        <ul class="options" v-show="isOpen">
                            <li
                                v-for="i in testList"
                                :value="i.valId"
                                :key="i.valId"
                                @click="changeSelect($event, i.text)"
                            >
                                {{ i.text }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="dataPickers">
                    <app-date-range
                        class="customDatePicker"
                        @resetFilter="filterReset"
                        @submit="onDatePickerSubmit"
                    ></app-date-range>
                </div>
            </div>
            <br />
            <i class="hr"></i>
            <ul v-if="showSearchResult && resultFilter">
                <template v-for="item in articleList">
                    <app-article-item
                        class="articleItem"
                        v-if="item"
                        :key="item.id"
                        :image="path(item.model.image)"
                        :title="item.translate.name"
                        :articleType="'category'"
                        :descr="item.translate.annot"
                        :date="item.model.public_date"
                        :viwed="item.model.views"
                        :categoryText="item.model.category_title"
                        :categoryUrl="item.model.category_url"
                        :tags="item.translate.tags_obj"
                        :url="item.model.url"
                    ></app-article-item>
                </template>
            </ul>
            <ul v-else class="preloader">
                <span>Знайдено:</span
                ><span>0 результатов</span>
            </ul>
            <app-pagination
                v-if="pagiData"
                :paginate="pagiData.items.paginate"
                @SearchPagePagination="SearchPagePagination"
                @getNewArticles="getNewArticles"
                @changePage="changePage"
            ></app-pagination>
        </div>
        <aside class="sidebar" v-if="asideData">
            <app-side-bar class="newsSidebar" :news="asideData"></app-side-bar>
        </aside>
        <div class="asidePreloader" v-else></div>
    </div>
    <transition name="fade" v-else>
        <app-preloader></app-preloader>
    </transition>
</template>

<script>
import AppArticleItem from "../components/contentZone/app-articleItem.vue";
import appBreadcrumbs from "../components/navigation/app-breadcrumbs.vue";
import AppPagination from "../components/navigation/app-pagination.vue";
import AppSideBar from "../components/sidebar/app-side-bar.vue";
import AppDateRange from "../components/common/app-date-range.vue";
import AppPreloader from "../components/elements/app-preloader.vue";
import { mapGetters } from "vuex";
export default {
    components: {
        appBreadcrumbs,
        AppArticleItem,
        AppPagination,
        AppSideBar,
        AppDateRange,
        AppPreloader,
    },
    name: "Search",
    data() {
        return {
            search: "",
            newsItems: null,
            pagiData: null,
            showSearchResult: false,
            currentPage: 1,
            timeRange: null,
            resultFilter: null,
            page: 1,
            asideData: null,
            isLoaded: null,
            isOpen: false,
            selectedPresset: "...",
            testList: [
                {
                    valId: 1,
                    text: this.$t("calendarShort.1"),
                },
                {
                    valId: 2,
                    text: this.$t("calendarShort.2"),
                },
                {
                    valId: 3,
                    text: this.$t("calendarShort.3"),
                },
                {
                    valId: 4,
                    text: this.$t("calendarShort.4"),
                },
                {
                    valId: 5,
                    text: this.$t("calendarShort.5"),
                },
                // {
                //     valId: 6,
                //     text: "Останній квартал",
                // },
                {
                    valId: 7,
                    text: this.$t("calendarShort.6"),
                },
                // {
                //     valId: 8,
                //     text: "Останні рік",
                // },
            ],
        };
    },
    watch: {
        timeRange(newValue) {
            this.isLoaded = false;
            this.axios
                .post("/api/news/search-items", {
                    q: this.search,
                    lang: this.currentLang,
                    page: this.currentPage,
                    from: newValue[0],
                    to: newValue[1],
                })
                .then((res) => {
                    this.newsItems = res.data.data.items.models;
                    this.pagiData = res.data.data;
                })
                .finally(() => {
                    this.showSearchResult = true;
                    this.isLoaded = true;
                });
        },
        articleList() {
            if (this.articleList.length) {
                this.resultFilter = true;
            } else {
                this.resultFilter = false;
            }
        },
        getPagiLoad(e) {
            if (e) {
                this.setNewProp();
                window.scrollTo(0, 0);
            }
        },
    },
    computed: {
        ...mapGetters(["getPagiLoad"]),
        paginate() {
            return this.pagiData ? this.pagiData.breadcrumbs : null;
        },
        articleList() {
            return this.newsItems ? this.newsItems : null;
        },
        timeRangePlaceholder() {
            return this.timeRange
                ? `${this.timeRange[0]} ~ ${this.timeRange[1]}`
                : null;
        },
    },
    methods: {
        changeStart() {
            console.log("start");
            this.isLoaded = false;
        },
        setNewProp() {
            this.isLoaded = this.getPagiLoad;
        },
        filterReset() {
            this.getSearchResult(this.$route.query.q);
        },
        onDatePickerSubmit(e) {
            this.timeRange = e;
        },
        changeSelect(e, selectedText) {
            const val = e.target.value;
            this.selectedPresset = selectedText;
            let d = new Date(),
                tempArr = [];
            if (val == 1) {
                tempArr.push(
                    this.$moment(d).format("DD.MM.YYYY").toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 2) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("days", 1)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 3) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("days", 7)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 4) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("months", 1)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 5) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("months", 2)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 6) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("months", 3)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 7) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("months", 6)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else if (val == 8) {
                tempArr.push(
                    this.$moment(d)
                        .subtract("months", 12)
                        .format("DD.MM.YYYY")
                        .toString(),
                    this.$moment(d).format("DD.MM.YYYY").toString()
                );
            } else {
                console.warn("something went wrong");
            }
            this.timeRange = tempArr;
        },
        getNewArticles(items) {
            console.log(items);
            window.scrollTo(0, 0);
            this.newsItems = items.model;
        },
        changePage(pageNumber) {
            this.currentPage = pageNumber;
            this.page = pageNumber;
        },
        getSearchAside() {
            this.axios
                .post("/api/news/search-aside", { lang: this.currentLang })
                .then((res) => {
                    this.asideData = res.data.data.aside.news;
                });
        },
        getSearchResult(value, page) {
            this.isLoaded = false;
            this.showSearchResult = false;
            const options = {
                q: value,
                lang: this.currentLang,
                page: page,
            };
            if (this.$route.query.t) {
                options.t = 1;
            }
            this.axios
                .post("/api/news/search-items", options)
                .then((res) => {
                    document.title = "AgroPortal.ua";
                    this.newsItems = res.data.data.items.models;
                    this.pagiData = res.data.data;

                    if (this.$route.query.t) {
                        this.$router.replace({
                            name: "Search",
                            params: {
                                locale:
                                    this.$i18n.locale == "uk"
                                        ? null
                                        : this.$i18n.locale,
                            },
                            query: {
                                q: value,
                                page: page,
                                t: 1,
                            },
                        });
                    } else {
                        this.$router.replace({
                            name: "Search",
                            params: {
                                locale:
                                    this.$i18n.locale == "uk"
                                        ? null
                                        : this.$i18n.locale,
                            },
                            query: {
                                q: value,
                                page: page,
                            },
                        });
                    }
                })
                .finally(() => {
                    this.showSearchResult = true;
                    this.isLoaded = true;
                    this.getSearchAside();
                });
        },
    },
    created() {
        if (this.$route.query.q.length >= 0 ) {
            this.getSearchResult(this.$route.query.q, this.$route.query.page);
        }
    },
    mounted() {
        this.search = this.$route.query.q;
        this.page = this.$route.query.page;
        this.isLoaded = true;
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
.breadcrumbs
    margin-top: 0px
.sidebar
    width: 100%
    // margin-right: 15px
    position: relative
    background-color: #F6F5FA
    border-top: 4px solid #78B043
    padding: 25px 15px
    &::before
        content: ''
        position: absolute
        width: 1px
        height: 100%
        background-color: $c-gray-light-1
        left: -15px
        top: 0px
.searchInput
    color: $c-gray-light-2
    width: 100%
    display: flex
    input
        border: none
        padding: 3px 0px
        border-bottom: 1px solid $c-gray-light-2
        transition: .3s
        outline: none
        color: $c-black-text
        font-weight: 600
        width: calc(100% - 20px)
        &:placeholder
            font-weight: 500
            font-size: 36px
            line-height: 130%
            color: #8A8F9D
        &:focus
            border-color: $c-green
    button
        border: none
        transition: .3s
        background-color: transparent
        i
            transition: .3s
        &:hover
            i
                color: $c-green
.preloader
    width: 100%
    height: 1000px
    span:first-of-type
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #8A8F9D
        margin-right: 10px
    span:last-of-type
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #111325
.filterWrapper
    display: flex
    justify-content: space-between
    margin-top: 15px
    @media (max-width: 820px)
        flex-direction: column
        .selectPresset, .dataPickers .wrp
            width: 100% !important
        .dataPickers span:first-of-type
            margin-left: 0px !important
    input
        border: none
    .dataPickers
        display: flex
        width: 100%
        align-items: center
        @media (max-width: 576px)
            margin-top: 25px
        .wrp
            padding: 8px
            display: block
            width: 282px
            border: 1px solid #DEDDE7
        span
            @include text-3
            color: $c-gray-light-2
            margin-right: 13px
            margin-left: 13px
    .selectWrapper
        display: flex
        align-items: center
        width: 100%
        @media (max-width: 820px)
            margin-bottom: 10px
        span
            @include text-3
            color: $c-gray-light-2
            margin-right: 13px
        .selectPresset
            border: 1px solid #DEDDE7
            padding: 8px
            max-width: 170px
            width: 100%
            position: relative
            z-index: 1
            @media (max-width: 820px)
                max-width: 336px
            .options
                position: absolute
                top: 30px
                left: 50%
                transform: translateX(-50%)
                background-color: #fff
                width: calc(100% + 2px)
                z-index: 2
                border: 1px solid #DEDDE7
                margin: 0px
                border-top: none
                li
                    padding: 8px
                    transition: .3s
                    &:hover
                        background-color: $c-green
                        color: #fff
                        cursor: pointer
@keyframes anim1
    0%
        background-color: #fafafa
    50%
        background-color: darken(#fafafa, 20)
    100%
        background-color: #fafafa
.asidePreloader
    background-color: #fafafa
    height: 100%
    width: 100%
    animation: anim1 3s infinite
</style>
