<template>
    <div class="globalWrapper blog" :class="textPageSlug">
        <div class="textContainer contentZone">
            <app-breadcrumbs class="breadcrumbs"></app-breadcrumbs>
            <h1>{{ componentTitle }}</h1>
            <p class="text" v-html="componentText"></p>
            <component
                v-for="(item, idx) in constructorInfo"
                :key="idx"
                :is="item.component"
                :content="item.content"
            ></component>
        </div>
        <aside class="sidebar">
            <app-side-bar class="newsSidebar" :news="asideData"></app-side-bar>
        </aside>
    </div>
</template>

<script>
import appBreadcrumbs from "../components/navigation/app-breadcrumbs.vue";
import WidgetChoose from "../components/textPage/widget-choose.vue";
import WidgetPressKit from "../components/textPage/widget-press-kit.vue";
import WidgetSocial from "../components/textPage/widget-social.vue";
import WidgetText from "../components/textPage/widget-text.vue";
import WidgetMember from "../components/textPage/widget-members.vue";
import AppSideBar from '../components/sidebar/app-side-bar.vue';

export default {
    components: {
        appBreadcrumbs,
        steps: WidgetChoose,
        "press-kit": WidgetPressKit,
        "steps-socials": WidgetSocial,
        "simple-text": WidgetText,
        "members": WidgetMember,
        AppSideBar
    },
    name: "text-page-view",
    data() {
        return {
            pageInfo: null,
            constructorInfo: null,
            asideData: []
        };
    },
    computed: {
        textPageSlug() {
            return this.$route.params.textPageSlug
        },
        componentTitle() {
            return this.pageInfo ? this.pageInfo.translate.title : null;
        },
        componentText() {
            return this.pageInfo ? this.pageInfo.translate.description : null;
        },
        componentList() {
            const temp = [];
            this.pageInfo.constructor.forEach((el) => {
                temp.push(el.component);
            });
            return temp;
        },
    },
    created() {
        this.axios
            .post("/api/page/get-by-slug", {
                lang: this.currentLang,
                slug: this.$route.params.textPageSlug,
            })
            .then((res) => {
                this.pageInfo = res.data.data;
                this.constructorInfo = res.data.data.constructor;
                this.asideData = res.data.data.aside.news;
                document.title = res.data.data.translate.meta_title || 'AgroPortal.ua'
            })
            .catch(() => {
                this.$router.push({ name: "error404", params: {locale: this.$i18n.locale == 'uk' ? null : this.$i18n.locale,} });
            })
    },
    mounted () {
        setTimeout(() => {
            console.table(this.pageInfo);
            console.table(this.constructorInfo);
        },1000)
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/textPage'
.breadcrumbs
    margin-top: 0px
    padding-left: 0px
    margin-bottom: 0px
.textContainer
    padding: 30px 15px
    display: flex
    flex-direction: column
.sidebar
    position: relative
    &::before
        content: ""
        position: absolute
        width: 1px
        height: 100%
        background-color: #DEDDE7
        left: -15px
        top: 0px
.contentZone
    max-width: 700px
    padding-top: 0px
h1
    margin-bottom: 0px
.hr
    margin-top: 15px
</style>
