.tree-node{

}
.tree-node-inner{
    border: 1px solid #ccc;
    cursor: move;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;

    .arrow-item-icon {
        transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #9ACD32;
        font-size: 18px;
        cursor: pointer;

        &.open {
            transform: rotate(90deg);
            transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        }
    }

    .no-child-item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: #9ACD32;
        font-size: 8px;
    }

    .btns {
        margin-right: 10px;

        .btns-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 40px;
            color: #9ACD32;
            font-size: 16px;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                transform: scale(1.3);
                transition: all .3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            }

            &.danger{
                color: orangered;
            }
        }
    }
}
.draggable-placeholder{
}
.draggable-placeholder-inner{
    border: 1px dashed #0088F8;
    box-sizing: border-box;
    background: rgba(0, 136, 249, 0.09);
    color: #0088f9;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
}
.tree3{
    .tree-node-inner{
        border: none;
        padding: 0px;
    }
    .tree-node-inner-back:hover{
        background: #ddd;
    }
}

.tree4{
    .tree-node-inner{
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        backgroud: #ccc;
    }
    .draggable-placeholder-inner{
        background-color: orangered;
    }
}


