.infoWarpper
    .title
        @include subtitle-1
        font-weight: 600
    .desc
        color: #8a8f9d
        @include text-3
.bannerBlock
    max-width: $sidebar-width
.spesialProject
    margin-top: 20px
    .l
        img
        // max-width: unset
        // max-height: 144px
    .r
        width: 100%
    @media (max-width: 820px)
        .df.jcsb
            flex-direction: column
        .l
            max-height: unset
            img
                width: 100%
.l
    margin-right: 10px
.news
    .viewd
        display: flex !important
.viewd
    margin-bottom: 15px
.infoWarpper span, .date, .viewd
        font-style: normal
        font-weight: 500
        font-size: 12px
        display: inline-flex
        align-items: center
        line-height: 135%
        letter-spacing: 0.01em
        color: #9E9EA7
        &:first-of-type
            margin-right: 10px
        i
            color: #9E9EA7
            font-size: 15px
            margin-left: 5px
.newsItem
    position: relative
    padding-bottom: 15px
    &:not(:last-of-type)
        margin-bottom: 15px
    &::before
        content: ''
        background-color: $c-gray-light-1
        width: 100%
        height: 1px
        position: absolute
        bottom: 0px
    img
        min-width: 150px
        height: 96px
    .title
        @include subtitle-2
        margin-top: 0px
        margin-bottom: 10px
    .descr
        margin-bottom: 10px
.articleItem
    padding-bottom: 15px
    margin-bottom: 15px
    border-bottom: 1px solid $c-gray-light-1
    .l
        max-width: 150px
        width: 100%
    .title
        margin-top: 0px
        margin-bottom: 10px
    .r
        width: calc(100% - 150px)
.news
    .date
        margin-right: 0px
.articleWrp
    .newsByTheme
        .date
            white-space: nowrap
            @media (max-width: 576px)
                white-space: unset
