.h2Title
    font-weight: 500
    font-size: 48px
    line-height: 130%
    letter-spacing: -0.02em
    color: #111325
    margin-top: 0px
    margin-bottom: 55px
    @media (max-width: 820px)
        font-size: 40px
        line-height: 52px
    @media (max-width: 576px)
        font-size: 25px
        line-height: 32px
        margin-bottom: 30px
.description, .description > p
    font-size: 24px
    line-height: 145%
    letter-spacing: -0.02em
    color: #111325
    @media (max-width: 820px)
        font-size: 18px
        line-height: 26px
.imageBg .description > p
    color: #fff
.btnLink
    font-weight: 500
    font-size: 20px
    line-height: 140%
    text-align: center
    border-radius: 50px
    padding: 20px 30px
    display: inline-flex
    align-items: center
    transition: .3s
    .icon
        margin-left: 15px
        font-size: 15px
    &.large
        background-color: var(--colorTheme)
        color: #fff
        .icon
            color: #F6F5FA
    &.middle
        border: 2px solid #111325
        i
            color: var(--colorTheme)
    &.small
        color: var(--colorTheme)
        padding: 0px
        .icon
            color: var(--colorTheme)
.greenBg
    .btnLink
        &.large
            background-color: #fff
            color: #000
            .icon
                color: #000
        &.middle
            border: 2px solid #fff
            color: #fff
        &.small
            color: #fff
        .icon
            color: #fff
.whiteBg, .whiteBg > .container
    background-color: #fff
.greyBg, .greyBg > .container
    background-color: #F6F5FA
.greenBg, .greenBg > .container
    background-color: #75AD40
.project
    section
        @include sectionPadding
        @media (max-width: 1024px)
            padding: 40px 0px 40px 0px
.projectAccrodion
    padding: 20px
    ul
        text-decoration: none !important
    .desc > p
        margin: 0px
    & > div
        padding: 0px !important
.container
    background: inherit
.color_theme
    background-color: var(--colorTheme)
.white
    .description > *
        color: #fff
.smallSize
    .h2Title
        font-size: 40px
        line-height: 52px
        @media (max-width: 576px)
            font-size: 25px
            line-height: 32px
    .description > *
        font-size: 18px
        line-height: 26px
.smallSize
    padding: 80px 0px
