h1
    font-family: Gilroy
    font-style: normal
    font-weight: 600
    font-size: 30px
    line-height: 120%
    color: #111325
h2
    font-family: Gilroy
    font-style: normal
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
.text, li
    @include text-2
h6
    font-family: Gilroy
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 130%
    color: #111325
li
    position: relative
    &:not(:last-of-type)
        margin-bottom: 15px
    &::before
        width: 27px
        height: 27px
        border-radius: 4px
        border: 1px solid $c-green
        display: block
        text-align: center
        position: absolute
        top: 0px
        line-height: 27px
        color: $c-green
        left: -40px
ul
    padding-left: 40px
    li
         &::before
            font-family: 'agroPortal' !important
            content: "\e90f"
            font-size: 12px
ol
    counter-reset: section
    padding-left: 40px
    li
        &::before
            counter-increment: section
            content: counter(section)
.count
    font-family: Gilroy
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 120%
    text-transform: uppercase
    color: #75AD40
.listWidget
    display: flex
    justify-content: space-between
    padding-left: 0px
    flex-wrap: wrap
    @media (max-width: 576px)
        flex-direction: column
        align-items: center
        li
            width: 100%
    li
        position: static
        width: 50%
        display: flex
        &::before
            display: none
        p
            font-family: Gilroy
            font-style: normal
            font-weight: 500
            font-size: 16px
            line-height: 125%
            color: #111325
            margin: 0px
.smallText
    font-style: italic
    font-weight: 500
    font-size: 16px
    line-height: 145%
    letter-spacing: -0.02em
    color: #75AD40
.social
    padding-left: 0px
    display: flex
    justify-content: center
    grid-gap: 50px
    @media (max-width: 576px)
        flex-direction: column
        align-items: center
    li
        position: static
        display: flex
        flex-direction: column
        align-items: center
        &::before
            display: none
        p
            font-family: Gilroy
            font-style: normal
            font-weight: normal
            font-size: 20px
            line-height: 115%
            color: #111325
            margin: 10px
.downloadLogo
    @media (max-width: 576px)
        flex-direction: column
        a:first-of-type
            margin-bottom: 20px
    a
        font-family: Gilroy
        font-style: normal
        font-weight: 500
        font-size: 24px
        line-height: 120%
        text-transform: uppercase
        color: #75AD40
        position: relative
        display: flex
        align-items: center
        img
            margin-right: 20px
.textContainer
    .hr
        margin-top: 15px
.listWidget
    .l
        width: 55px
        margin-right: 20px
