<template>
   <router-view></router-view>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: "Agro-Portal",
  components: {
    // appHeader,
    // appFooter,
    // topSide,
  },
  computed: {
      layout() {
          return this.$route.meta.layout || "main-layout"
      }
  },
  methods: {
    ...mapActions(['setCurrentSize','setSubRubrics'])
  },
  mounted () {
    window.addEventListener('resize', () => {
      this.setCurrentSize(window)
    })
    this.setCurrentSize(window)
  },
};
</script>

<style lang="sass">
@import ./assets/global
body
  background-color: #f6f6f6
.container
  background-color: #fff
</style>
