<template>
    <header class="header">
        <div class="header__top" v-if="getSize == 'desktop'">
            <router-link
                :to="{
                    name: 'Home',
                    params: {
                        locale:
                            this.$i18n.locale == 'uk'
                                ? null
                                : this.$i18n.locale,
                    },
                }"
            >
                <img src="../../assets/logo.png" alt="logo" />
            </router-link>
            <app-lang-switcher @changeLanguage="menuReInit"></app-lang-switcher>
            <menu-social-link></menu-social-link>
        </div>

        <div class="header__top-m" v-else>
            <router-link
                :to="{
                    name: 'Home',
                    params: {
                        locale:
                            this.$i18n.locale == 'uk'
                                ? null
                                : this.$i18n.locale,
                    },
                }"
            >
                <img src="../../assets/logo.png" alt="logo" />
            </router-link>
            <div class="group">
                <app-lang-switcher
                    @changeLanguage="menuReInit"
                ></app-lang-switcher>
                <!-- <router-link :to="{ name: 'Search', query: { q: '' } }">
                    <i class="icon ic-search"></i>
                </router-link> -->
                 <button @click="searcHandler">
                    <i class="icon ic-search"></i>
                </button>
                <button
                    @click="isMenuOpen = !isMenuOpen"
                    class="burger"
                    :class="{ active: isMenuOpen }"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="mobMenu" :class="{ show: isMenuOpen }">
                    <div class="mobContent">
                        <div class="header__top-m">
                            <router-link
                                :to="{
                                    name: 'Home',
                                    params: {
                                        locale:
                                            this.$i18n.locale == 'uk'
                                                ? null
                                                : this.$i18n.locale,
                                    },
                                }"
                            >
                                <img src="../../assets/logo.png" alt="logo" />
                            </router-link>
                            <div class="group">
                                <app-lang-switcher
                                    @changeLanguage="menuReInit"
                                ></app-lang-switcher>
                                <!-- <router-link
                                    :to="{
                                        name: 'Search',
                                        query: { q: '', page: '1' },
                                    }"
                                >
                                    <i class="icon ic-search"></i>
                                </router-link> -->
                                 <button @click="searcHandler">
                                    <i class="icon ic-search"></i>
                                </button>
                                <button
                                    @click="isMenuOpen = !isMenuOpen"
                                    class="burger"
                                    :class="{ active: isMenuOpen }"
                                >
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="wrp">
                            <div class="topMenu">
                                <accordion>
                                    <accordion-item
                                        v-for="(menuItem, idx) in topMenu.items"
                                        :key="idx"
                                    >
                                        <template v-if="menuItem.children">
                                            <template
                                                slot="accordion-trigger"
                                                id="c1"
                                                >{{ menuItem.name }}
                                                <span
                                                    class="icon ic-dropdown"
                                                ></span>
                                            </template>
                                            <template
                                                slot="accordion-content"
                                                v-for="(
                                                    item, idx
                                                ) in menuItem.children"
                                            >
                                                <li :key="idx">
                                                    <router-link
                                                        :to="{ path: item.url }"
                                                        >{{
                                                            item.name
                                                        }}</router-link
                                                    >
                                                </li>
                                            </template>
                                        </template>
                                        <template v-else>
                                            <template
                                                slot="accordion-trigger"
                                                id="c1"
                                            >
                                                <router-link
                                                    :to="menuItem.url"
                                                    >{{
                                                        menuItem.name
                                                    }}</router-link
                                                >
                                            </template>
                                        </template>
                                    </accordion-item>
                                </accordion>
                            </div>

                            <div class="header__bot">
                                <ul class="botMenu">
                                    <li
                                        v-for="(menuItem, idx) in botMenu.items"
                                        :key="idx"
                                    >
                                        <router-link
                                            :to="{path: menuItem.url}"
                                            >{{ menuItem.name }}</router-link
                                        >
                                    </li>
                                </ul>
                            </div>
                            <div class="df jcsb ait socialBlock">
                                <menu-social-link></menu-social-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <i class="hr"></i>

        <nav class="navMenu">
            <ul ref="navMenu">
                <li
                    v-for="(menuItem, idx) in topMenu.items"
                    :key="idx"
                    class="menuItem"
                >
                    <span v-if="menuItem.children" class="hasSubmenu"
                        >{{ menuItem.name }}
                        <i class="icon ic-dropdown"></i>
                        <transition name="fade">
                            <div class="submenuWrapper">
                                <ul class="submenu">
                                    <li
                                        v-for="(
                                            submenuItem, idx
                                        ) in menuItem.children"
                                        :key="idx"
                                    >
                                        <router-link
                                            :to="{ path: submenuItem.url }"
                                            >{{ submenuItem.name }}</router-link
                                        >
                                    </li>
                                </ul>
                                <img
                                    v-if="menuItem.banner"
                                    :src="path(menuItem.banner.img_desktop)"
                                    :alt="menuItem.banner.img_desktop_alt"
                                />
                            </div>
                        </transition>
                    </span>
                    <router-link
                        class="menuItem"
                        v-else
                        :to="{ path: menuItem.url }"
                        >{{ menuItem.name }}</router-link
                    >
                </li>
            </ul>
            <div class="scrollX" @click="scrollX">
                <i class="icon ic-chewron"></i>
            </div>
            <!-- <router-link
                v-if="getSize == 'desktop'"
                :to="{ name: 'Search', query: { q: '', page: '1' } }"
            >
                <i class="icon ic-search"></i>
            </router-link> -->
            <div class="searchWrp">
                <input
                    type="text"
                    @keyup.enter="searcHandler"
                    class="searchInput"
                    v-model="searchInputVal"
                    :placeholder="$t('search')"
                />
                <button @click="searcHandler">
                    <i class="icon ic-search"></i>
                </button>
            </div>
        </nav>

        <template v-if="getSize == 'desktop'">
            <i class="hr"></i>
            <div class="header__bot">
                <ul>
                    <li v-for="(menuItem, idx) in botMenu.items" :key="idx">
                        <!-- <router-link
                            :to="{
                                path: menuItem.url
                            }"
                            >{{ menuItem.name }}</router-link> -->
                        <router-link
                            :to="{path: menuItem.url}"
                            >{{ menuItem.name }}</router-link>
                    </li>
                </ul>
            </div>
        </template>

        <i class="hr"></i>

        <div class="df jcsb ait socWrapper" v-if="getSize != 'desktop'">
            <menu-social-link></menu-social-link>
        </div>
    </header>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import appLangSwitcher from "../navigation/app-langSwitcher.vue";
import menuSocialLink from "../navigation/menu-social-link.vue";
import Accordion from "../elements/Accordion.vue";
import AccordionItem from "../elements/Accordion-item.vue";
export default {
    name: "app-header",
    components: {
        appLangSwitcher,
        menuSocialLink,
        Accordion,
        AccordionItem,
    },
    data() {
        return {
            topMenu: [],
            botMenu: [],
            searchInputVal: "",
            isMenuOpen: false,
        };
    },
    computed: {
        ...mapGetters(["getSize", "getBanners"]),
    },
    watch: {
        isMenuOpen(newValue) {
            const body = document.body;
            if (newValue == true) {
                body.classList.add("overflow");
                body.addEventListener("touchmove", (e) => {
                    e.preventDefault();
                });
            } else {
                body.classList.remove("overflow");
            }
        },
        $route() {
            this.isMenuOpen = false;
            // this.menuReInit();
        },
    },
    methods: {
        ...mapActions(["setBanners"]),
        scrollX(){
            console.log(this.$refs.navMenu);
            this.$refs.navMenu.scrollLeft += 100;
        },
        searcHandler() {
            this.$router.push({
                name: "Search",
                params: {
                    locale:
                        this.$i18n.locale == "uk" ? null : this.$i18n.locale,
                },
                query: { q: this.searchInputVal },
            });
            this.searchInputVal = "";
        },
        menuReInit() {
            this.axios
                .post("/api/menu/get-by-ids", {
                    ids: [14, 142],
                    lang: this.currentLang,
                })
                .then((res) => {
                    this.topMenu = res.data.data[14];
                    this.botMenu = res.data.data[142];
                });
            this.axios
                .post("/api/re/get-by-ids", {
                    lang: this.currentLang,
                    ids: [1, 2, 3, 4, 5, 6, 7, 8],
                })
                .then((res) => {
                    // this.banners = res.data.data;
                    this.setBanners(res.data.data);
                });
        },
    },
    created() {
        this.axios
            .post("/api/menu/get-by-ids", {
                ids: [14, 142],
                lang: this.currentLang,
            })
            .then((res) => {
                this.topMenu = res.data.data[14];
                this.botMenu = res.data.data[142];
            });
    },
    mounted() {
        //    setTimeout(() => {
        //     document.querySelector('#footerScroll').addEventListener('click', () => {
        //         console.log('asd');
        //         this.isMenuOpen = false
        //     })
        //    }, 1000)
    },
};
</script>

<style lang="sass" scoped>
.header__top
    display: grid
    grid-gap: 20px
    align-items: center
    grid-template-columns: 1fr 1fr 2fr
    &-m
        padding: 5px 0px
        display: flex
        justify-content: space-between
        img
            max-height: 45px
        .group
            display: flex
            align-items: center
            & > *
                margin-left: 20px
            button
                background-color: transparent
                border: none
.hr
    width: 100%
    height: 1px
    // margin: 10px 0px
    background-color: $c-gray-light-1
.navMenu
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    ul
        width: 80%
        display: flex
        margin: 0px
        .menuItem
            transition: .3s
            white-space: nowrap
            & > *
                transition: inherit
            &:hover
                background-color: $c-green
                .menuItem, span
                    color: $c-white
            .menuItem, span
                display: block
                padding: 15px 16px
                @include menu-2
                color: #555555
    .submenuWrapper
        position: absolute
        left: 0px
        top: 46px
        width: 100%
        background-color: $c-gray-light-0
        padding: 15px
        display: grid
        grid-template-columns: 3fr 1fr
        visibility: hidden
        opacity: 0
        transition: .3s
        z-index: 10
        left: 50%
        transform: translateX(-50%)
        width: calc(100% - 30px)
        @media (max-width: 576px)
            grid-template-columns: 1fr
        &.show
            visibility: visible
            transform: translateY(0)
        .submenu
            display: grid
            width: 100%
            grid-template-columns: repeat(3, 1fr )
        li
            padding: 10px
            color: #555555
            display: flex
            align-items: center
            a
                display: block
                width: 100%
            &:hover
                background-color: $c-green
                color: $c-white
.header__bot ul
    display: flex
    margin: 0px
    padding: 15px 0px
.header__bot li
    @include menu-2
    font-size: 13px
    display: block
    border: 1px solid $c-green
    padding: 5px 10px
    border-radius: 25px
    margin-right: 5px
    transition: .3s
    &:hover
        background-color: $c-green
        a
            color: #fff
.social-m
    margin-top: 10px
    margin-bottom: 0px
    & + a
        font-weight: 600
        font-size: 10px
        line-height: 100%
        text-transform: uppercase
        color: #555555
        display: flex
        flex-direction: column-reverse
        align-items: flex-end
        i
            font-size: 15px
            margin-bottom: 5px
.social-m li
  font-size: 20px
  margin-right: 15px
.commonClass
    width: 100%
    object-fit: contain
li.menuItem
    @media (max-width: 820px)
        white-space: nowrap
.navMenu ul
    @media (max-width: 820px)
        width: calc(100% - 33px)
        overflow-x: scroll
.scrollX
    position: absolute
    right: 0px
    top: 0px
    background-color: #fff
    height: 100%
    display: none
    padding: 0px 15px
    align-items: center
    justify-content: center
    border-left: 1px solid #DEDDE7
    @media (max-width: 820px)
        display: flex
.hasSubmenu
    cursor: pointer
    i
        color: inherit
        font-size: 12px
.hasSubmenu:hover .submenuWrapper
    visibility: visible
    opacity: 1
.mobMenu
    display: flex
    flex-direction: column
    position: fixed
    top: 0px
    left: 0px
    margin: 0px !important
    width: 100%
    height: var(--windowHeight)
    z-index: 100
    background-color: rgba(0, 0, 0, 0.2)
    transform: translateX(100%)
    transition: .3s
    .header__bot
        padding: 10px
    &.show
        transform: translateX(0)
    .wrp
        display: flex
        height: 88%
        flex-direction: column
    .socialBlock
        margin-top: auto
        padding: 0px 20px
    .header__top-m
        padding: 10px 15px
    .mobContent
        width: 50%
        margin-left: auto
        height: 100%
        background-color: #fff
        @media (max-width: 576px)
            width: 100%
        .social-m + a
            margin-right: 10px
.botMenu
    flex-wrap: wrap
    li
        margin-bottom: 10px
        white-space: nowrap
.burger
    span
        display: block
        width: 20px
        height: 2px
        background-color: #555555
        margin: 3px 0px
        transition: .3s
    &.active
        span:nth-child(1)
            transform: rotate(45deg)
            margin-bottom: -5px
        span:nth-child(2)
            display: none
        span:nth-child(3)
            margin-bottom: 3px
            transform: rotate(-45deg)
.commonClass
    margin-top: 15px
.sticky
    .header__bot, i + a
        display: none
.header__top-m, .header__top, .navMenu, .header__bot, .socWrapper
    background-color: #fff
    padding: 0px 15px
    transition: .3s
.header__top-m, .header__top
    align-items: center
.searchWrp
    width: 100px
    display: flex
    align-items: center
    justify-content: space-between
    @media (max-width: 1023px)
        display: none
    button
        border: none
        background-color: #fff
.searchInput
    border: none
    width: 90%
    outline: none
    color: $c-green
    &::placeholder
        color: $c-green
</style>
