<template>
    <app-header-component></app-header-component>
    <!-- <desktop-header v-if="getSize == 'desktop'"></desktop-header> -->
    <!-- <tablet-header v-else></tablet-header> -->
</template>

<script>
import { mapGetters } from 'vuex'
import appHeaderComponent from './app-header-g.vue'
// import desktopHeader from './app-header-desktop.vue'
// import tabletHeader from './app-header-tablet.vue'
export default {
  name: 'app-headerWrapper',
  components: {
    appHeaderComponent,
    // desktopHeader,
    // tabletHeader
  },
  computed: {
    ...mapGetters(['getSize'])
  },
};
</script>

<style lang="sass" scoped>

</style>
