<template>
	<div
		class="day"
		:class="{
			selected: isStart || isEnd,
			inrange: (isStart || isEnd || isInrange) && rangeEnd,
			start: isStart,
			end: isEnd,
		}"
		@click="$emit('click', date)"
	>
		<span>{{ dateTxt }}</span>
	</div>
</template>

<script>
export default {
	name: "DayCell",
	props: ["date", "selectedDate", "rangeStart", "rangeEnd"],
	computed: {
		dateTxt() {
			return this.date.getDate();
		},
		isStart() {
			return (
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.date)) ==
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.rangeStart))
			);
		},
		isEnd() {
			return (
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.date)) ==
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.rangeEnd))
			);
		},
		isInrange() {
			return (
				this.rangeEnd != null &&
				this.date >= this.rangeStart &&
				this.date <= this.rangeEnd
			);
		},
		isSelected() {
			return (
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.date)) ==
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.rangeStart))
			);
		},
		isCurrentDay() {
			return (
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date(this.date)) ==
				Intl.DateTimeFormat("uk", {
					year: "numeric",
					month: "numeric",
					day: "numeric",
				}).format(new Date())
			);
		},
	},
	mounted() {},
};
</script>

<style lang="sass">
.day
	margin: 2px 0
	position: relative
	display: flex
	justify-content: center
	align-items: center

	font-style: normal
	font-weight: 500
	font-size: 16px
	line-height: 130%
	color: #31333C
	&:before
		content: ""
		height: 100%
		width: 100%
		position: absolute
		top: 50%
		left: 50%
		z-index: 2
		transform: translate(-50%, -50%)
		cursor: pointer
		transition: 0.2s ease
		border-radius: 50%

	&.selected
		color: #fff
		&:before
			background: #75AD40 !important
	&.inrange
		&:after
			content: ""
			height: 100%
			width: 100%
			position: absolute
			top: 0%
			left: 0%
			z-index: 1
			cursor: pointer
			transition: 0.2s ease
			background: #CEE8B5
		&.start::after
			border-top-left-radius: 50% !important
			border-bottom-left-radius: 50% !important
		&.end::after
			border-top-right-radius: 50% !important
			border-bottom-right-radius: 50% !important

	span
		position: relative
		z-index: 2
		cursor: pointer

	// &:hover,
	// &.current
	// 	&:before
	// 		background-color: gray
</style>