<!DOCTYPE html>
<html lang="{{app()->getLocale()}}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    @include('front.home.meta')
    <script charset="UTF-8" src="//web.webpushs.com/js/push/7b08f639bdab0d3320d1fb2eb1cb31fa_1.js" async></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45077513-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-45077513-2');

    </script>
</head>

<body>
    @include('front.home.body')
    <!-- <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.
        </strong>
    </noscript> -->
    <div id="app"></div>
    <!-- built files will be auto injected -->

</body>

</html>
