<template>
    <div class="mainWrapper">
        <div class="container">
            <app-header></app-header>
        </div>
        <div class="errorLayout">
            <div class="df ait errWrapper">
                <h1>404</h1>
                <p>{{ $t('text404') }}</p>
            </div>
            <div class="searchWrp">
                <input type="text" @keyup.enter="searchRedirect" v-model="searchQuery" :placeholder="$t('i_search')"/>
                <button class="icon ic-search" @click="searchRedirect"></button>
            </div>
        </div>
        <div class="container-full">
            <!-- <top-side></top-side> -->
            <footer>
                <ul class="social">
                    <li v-for="(item, idx) in getSocialLinks" :key="idx">
                        <a :href="item.link" target="_blank">
                            <i :class="item.icon" class="icon"></i>
                            <span>{{ item.name }}</span>
                        </a>
                    </li>
                </ul>
                <i class="hr"></i>
            </footer>
        </div>
    </div>
</template>

<script>
import appHeader from "@/components/header/app-header.vue";
import { mapGetters } from "vuex";
export default {
    name: "error-layout",
    components: {
        appHeader,
    },
    data() {
        return {
            searchQuery: ''
        }
    },
    computed: {
        ...mapGetters(["getSocialLinks"]),
    },
    methods: {
        searchRedirect() {
            this.$router.push({name: 'Search', query: {q: this.searchQuery}})
        }
    },
    created(){
        if ( this.$route.fullPath.split('/').splice(1,1).join() == 'ru' ){
            this.$i18n.local = 'ru'
        }
    },
};
</script>

<style lang="sass" scoped>
.mainWrapper
    display: flex
    flex-direction: column
    min-height: 100vh
.errorLayout
    display: flex
    justify-content: center
    flex-grow: 1
    align-items: center
    flex-direction: column
h1
    font-family: Gilroy
    font-style: normal
    font-weight: normal
    font-size: 71px
    line-height: 80%
    text-align: center
    color: #A5BE8C
    margin-right: 20px
p
    font-family: Gilroy
    font-style: normal
    font-weight: 500
    font-size: 24px
    line-height: 120%
    color: #111325
footer
    background-color: #3C3F49
    padding: 30px 30px
.errWrapper
    display: flex
    justify-content: center
    max-width: 450px
.social
  color: $c-white
  margin-top: 70px
  display: flex
  justify-content: center
  margin-bottom: 35px
  li
    &:not(:last-of-type)
      margin-right: 50px
      @media (max-width: 640px)
        margin-right: 10px
    a
      display: flex
      flex-direction: column
      align-items: center
    &:hover
      i
        background-color: #555861
    @media (max-width: 820px)
        span
            display: none
  i
    transition: .3s
    color: inherit
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    font-size: 22px
    border-radius: 50%
    border: 1px solid #555861
    margin-bottom: 10px
.searchWrp
    max-width: 450px
    width: 100%
    border: 1px solid #DEDDE7
    background-color: #fff
    display: flex
    justify-content: space-between
    input
        padding: 12px 15px
        border: none
        outline: none
        width: 100%
        background-color: transparent
    button
        background-color: transparent
        border: none
        i::before
            color: #8A8F9D
</style>
