<template>
    <div class="app">
        <div class="headerContainer headerSticky z2">
            <app-header class=""></app-header>
        </div>
        <div class="container z2">
            <a
                class="commonClass"
                v-if="getBanners && getBanners[1]"
                :href="bannerLink(getBanners[1].link)"
                target="_blank"
            >
                <img
                    class="commonClass"
                    :src="path(getBanners[1].img_desktop)"
                    :alt="path(getBanners[1].img_desktop_alt)"
                />
            </a>
        </div>
        <router-view :key="$route.fullPath" class="z3" />
        <div class="container-full">
            <!-- <top-side></top-side> -->
            <app-footer id="footer-container" class="z2"></app-footer>
            <a class="btnUp" @click="toTop">
                <i class="icon ic-up"></i>
            </a>
        </div>
        <div class="qqq123" v-if="getBanners && getBanners[5]">
            <a
                :href="bannerLink(getBanners[5].link)"
                target="_blank"
                class="commonClass"
            >
                <div class="s">
                    <div class="t">
                        <picture>
                            <source
                                :srcset="path(getBanners[5].img_desktop)"
                                media="(min-width: 1680px)"
                            />
                            <source
                                :srcset="path(getBanners[5].img_desktop3)"
                                media="(min-width: 1367px)"
                            />
                            <source
                                :srcset="path(getBanners[5].img_desktop2)"
                                media="(max-width: 1366px)"
                            />
                            <img
                                :src="path(getBanners[5].img_desktop)"
                                alt=""
                            />
                        </picture>
                    </div>
                </div>
            </a>
        </div>
        <div class="fixedBlock" :class="{ hide: isBannerHide }">
            <span class="close" @click="isBannerHide = !isBannerHide"
                ><i class="icon ic-dropdown"></i
            ></span>
            <a v-if="getBanners && getBanners[6]" :href="bannerLink(getBanners[6].link)">
                <img
                    :src="path(getBanners[6].img_desktop)"
                    :alt="getBanners[6].img_desktop_alt"
                    @load="imgHeight($event.target)"
                />
            </a>
        </div>
        <transition name="fade">
            <div class="cookie" v-if="!isPrivatPolicyAproove && !isAproove">
                <div class="cookie-content">
                     <p>{{ $t("cookieText") }}</p>
                    <div class="btns">
                        <a @click="agree">{{ $t("aproove") }}</a>
                        <a @click="isAproove = !isAproove"
                            ><i class="icon ic-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import appHeader from "@/components/header/app-header.vue";
import appFooter from "@/components/footer/app-footer.vue";
import { mapGetters, mapActions } from "vuex";
export default {
    name: "Main-loyaout",
    components: {
        appHeader,
        appFooter,
    },
    data() {
        return {
            isBannerHide: false,
            isAproove: false,
        };
    },
    computed: {
        ...mapGetters(["getBanners"]),
        isPrivatPolicyAproove() {
            if (this.$cookies.get("PrivatPolicy") == "aproove") {
                return true;
            } else {
                return false;
            }
        },
    },
    methods: {
        agree() {
            this.isAproove = true;
            this.$cookies.set("PrivatPolicy", "aproove");
        },
        toTop() {
            window.scrollTo(0, 0);
        },
        ...mapActions(["setBanners"]),
        imgHeight(e) {
            document.body.style.setProperty(
                "--imgoffset",
                "-" + window.getComputedStyle(e).getPropertyValue("height")
            );
        },
    },
    created() {
        if (this.getBanners == null) {
            this.axios
                .post("/api/re/get-by-ids", {
                    lang: this.currentLang,
                    ids: [1, 2, 3, 4, 5, 6, 7, 8],
                })
                .then((res) => {
                    // this.banners = res.data.data;
                    this.setBanners(res.data.data);
                });
        }
    },
    watch: {
        $route() {
            document.body.classList.remove("overflow");
        },
        //banner state
        // isBannerHide(newVal) {
        //     if (newVal) {
        //         localStorage.setItem("hideBanner", true);
        //     } else {
        //         localStorage.setItem("hideBanner", false);
        //     }
        // },
    },
    mounted() {
        const root = document.documentElement;
        root.style.setProperty("--windowHeight", window.innerHeight + "px");
        // при прокрутке и ресайзе панели могут прятаться
        window.addEventListener("scroll", function () {
            root.style.setProperty("--windowHeight", window.innerHeight + "px");
            myFunction();
            const navMenu = document.querySelector(".headerContainer");
            if (window.pageYOffset > 0) {
                navMenu.classList.add("isSticky");
            } else {
                navMenu.classList.remove("isSticky");
            }
        });
        window.addEventListener("resize", function () {
            root.style.setProperty("--windowHeight", window.innerHeight + "px");
        });
        !localStorage.lang ? localStorage.setItem("lang", "uk") : null;
        localStorage.hideBanner == "true"
            ? (this.isBannerHide = true)
            : (this.isBannerHide = false);

        const upBtn = document.querySelector(".btnUp");

        var sticky = 500;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                upBtn.classList.add("show");
                // navMenu.classList.add("sticky");
            } else {
                upBtn.classList.remove("show");
                // navMenu.classList.remove("sticky");
            }
        }
        if (!this.$cookies.get("PrivatPolicy")) {
            this.$cookies.set("PrivatPolicy", "notAproove");
        }
    },
};
</script>

<style lang="sass" scoped>
// .leftImg, .rightImg
//     position: fixed
//     top: 0px
//     width: 460px
//     @media (min-width: 1366px) and (max-width: 1600px)
//         width: 300px
// .leftImg
//     left: 0px
// .rightImg
//     right: 0px
.app
    position: relative
    &::before, &::after
        content: ''
        position: absolute
        height: 100%
        width: 1px
        background-color: #dedde7
        top: 0px
        left: 0px
.btnUp
    position: fixed
    bottom: 20px
    display: flex
    align-items: center
    justify-content: center
    right: 480px
    background: rgba(220, 220, 230, 0.71)
    border-radius: 11px
    height: 42px
    width: 42px
    cursor: pointer
    z-index: 100
    transition: .3s
    opacity: 0
    i
        font-size: 24px
        transition: .3s
    &:hover
        background-color: #A5BE8C
    &.show
        opacity: 1
    @media (max-width: 1680px)
        right: 370px
    @media (max-width: 1440px)
        right: 260px
    @media (max-width: 1366px)
        right: 210px
    @media (max-width: 1024px)
        right: 30px
.z2
    position: relative
    z-index: 2
.qqq123
    position: fixed
    top: 0
    width: 100%
    height: 100%
    z-index: 1
    @media (max-width: 1280px)
        display: none
    .s
        position: absolute
    div
        // width: 1440px
        left: 50%
        transform: translateX(-50%)
        height: auto !important
        @media (min-width: 1681px)
            width: 1920px
        @media (max-width: 1680px)
            width: 1680px
        @media (max-width: 1440px)
            width: 1440px
        @media (max-width: 1366px)
            width: 1366px
    .t
        position: relative
        display: block
    a
        display: block
        width: 100%
        position: relative
        z-index: 1
    picture, img
        width: 100%
        // object-fit: contain
.fixedBlock
    position: fixed
    background-color: #fff
    bottom: 0px
    left: 50%
    transform: translateX(-50%)
    transition: .3s
    max-width: 970px
    margin: 0 auto
    width: 100%
    z-index: 100
    &.hide
        bottom: var(--imgoffset)
        .close
            i
                transform: rotate(180deg)
    img
        display: table
        width: 100%
    .close
        position: absolute
        left: 50%
        transform: translateX(-50%)
        display: flex
        justify-content: center
        align-items: center
        width: 66px
        height: 24px
        top: -23px
        cursor: pointer
        background: rgba(220, 220, 230, 0.71)
        border-radius: 14px 14px 0px 0px
.z3
    position: relative
    z-index: 3
.headerContainer
    z-index: 4
    max-width: 1000px
    margin: 0 auto
.headerSticky
    position: sticky
    background-color: transparent
    top: 0px
@keyframes anim1
    0%
        transform: translateY(-100%)
    100%
        transform: translateY(0%)
.commonClass
    width: 100%
.container .commonClass
    margin-top: 15px
</style>
