<template>
  <transition name="fade" v-if="!firstScreenLoaded && isUiLocked">
    <div class="mainPreloader">
      <img src="@/assets/preloaderLogo.png" alt="" />
    </div>
  </transition>
  <div class="app project" v-else>
    <div>
      <project-header
        :headerData="topAnkerList"
        :bgClass="backgroundClass"
        @openMenu="openMenu"
      ></project-header>
      <component
        @bgClass="bgClass"
        v-for="(item, idx) in componetList"
        :key="idx"
        :is="item.component"
        :propData="item.content"
        class="compWrapper"
        :class="{
          normalSize: item.content.font_size == 'normal',
          smallSize: item.content.font_size == 'small',
        }"
        @imgLoad="firstScreenLoad"
      ></component>
      <div class="projectFooter">
        <app-footer id="footer-container" class="z2"></app-footer>
      </div>
      <side-menu
        @openMenu="openMenu"
        :isShow="sideMenuShow"
        :ankerList="ankerList"
        @ankerClick="ankerClick"
      ></side-menu>
    </div>
  </div>
</template>

<script>
import appFooter from "@/components/footer/app-footer.vue";
import { mapActions, mapGetters } from "vuex";
import ImageAndText from "../pages/project/imgAndText.vue";
import FullSizeImg from "../pages/project/fullSizeImg.vue";
import simpleText from "../pages/project/simpleText.vue";
import Images from "../pages/project/images.vue";
import Gallery from "../pages/project/gallery.vue";
import Advantages from "../pages/project/advantages.vue";
import QuotesLand from "../pages/project/quotes-land.vue";
import Steps from "../pages/project/steps.vue";
import Accordion from "../pages/project/accordion.vue";
import AdvantagesWithImage from "../pages/project/advantages-with-image.vue";
import SeeAlsoLanding from "../pages/project/see-also-landing.vue";
import SeeAlsoArticle from "../pages/project/see-also-article.vue";
import FirstScreen from "../pages/project/first-screen.vue";
import Telegram from "../components/article/telegram.vue";
import WidgetSocial from "../components/textPage/widget-social.vue";
import WidgetPressKit from "../components/textPage/widget-press-kit.vue";
import ProjectHeader from "../pages/project/projectHeader.vue";
import Ticker from "../pages/project/ticker.vue";
import SideMenu from "../pages/project/sideMenu.vue";
import BlogTable from "../pages/project/blog-table.vue";
export default {
  components: {
    "simple-text-land": simpleText,
    "image-element": FullSizeImg,
    "image-and-text-land": ImageAndText,
    "images-land": Images,
    "gallery-land": Gallery,
    advantages: Advantages,
    "quotes-land": QuotesLand,
    steps: Steps,
    appFooter,
    Accordion,
    AdvantagesWithImage,
    "see-also-landing": SeeAlsoLanding,
    SeeAlsoArticle,
    "first-screen": FirstScreen,
    Telegram,
    "press-kit": WidgetPressKit,
    "steps-socials": WidgetSocial,
    ProjectHeader,
    Ticker,
    SideMenu,
    "table-component": BlogTable,
  },
  name: "Project-loyaout",
  data() {
    return {
      isBannerHide: true,
      constructorData: null,
      ColorTheme: null,
      isLoaded: false,
      sideMenuShow: false,
      backgroundClass: null,
      firstScreenLoaded: false,
    };
  },
  computed: {
    ...mapGetters(["getBanners", "isUiLocked"]),
    componetList() {
      let a = [];
      if (this.constructorData) {
        this.constructorData.forEach((el) => {
          a.push(el);
        });
        return a;
      } else {
        return null;
      }
    },
    ankerList() {
      const temp = [];
      if (this.constructorData) {
        this.constructorData.forEach((el) => {
          if (el.content.anker_title) {
            temp.push({
              title: el.content.anker_title,
              link: el.content.anker_link,
              ankerId: el.content.anker_id,
            });
          }
        });
      }
      return temp;
    },
    topAnkerList() {
      const temp = [];
      this.constructorData.forEach((el) => {
        if (el.content.anker_top == "1") {
          temp.push({
            title: el.content.anker_title,
            link: el.content.anker_link,
            ankerId: el.content.anker_id,
          });
        }
      });
      return temp;
    },
  },
  methods: {
    ankerClick() {
      this.sideMenuShow = !this.sideMenuShow;
    },
    firstScreenLoad() {
      this.firstScreenLoaded = !this.firstScreenLoaded;
    },
    openMenu(val) {
      this.sideMenuShow = val;
    },
    bgClass(val) {
      this.backgroundClass = val;
    },
    ...mapActions(["unlockUi", "lockUi"]),
  },
  async created() {
    this.lockUi();
    try {
      const res = await this.axios.post("/api/landing/get-by-slug", {
        lang: this.currentLang,
        slug: this.$route.params.projectName,
      });
      this.constructorData = res.data.data.constructor;
      this.ColorTheme = res.data.data.model.color_theme;
      if (this.ColorTheme) {
        document.body.style.setProperty("--colorTheme", this.ColorTheme);
      } else {
        document.body.style.setProperty("--colorTheme", "#75AD40");
      }
      document.title = res.data.data.translate.meta_title || "AgroPortal.ua";
      setTimeout(() => {
        this.unlockUi();
      }, 1000);
    } catch (err) {
      if (err.response.status === 302) {
        //   window.location.href = this.$route.fullPath.split('/').splice(2,2).join().replace(',','/')
        this.$router.replace({
          name: "Project",
          params: {
            projectName: this.$route.params.projectName,
            locale: this.$i18n.locale == "ru" ? null : null,
          },
        });
        window.location.href = this.$route.fullPath
      }
    }
  },
};
</script>

<style lang="sass">
@import '@/assets/sass/projectTextStyle'
.projectFooter, .projectFooter .container
    background-color: #3C3F49
.project
    .container
        max-width: 1200px
.textWrp > p
    & > ul, & > ol
        padding-left: 40px
        li
            position: relative
            margin-bottom: 15px
            &::before
                content: ""
                font-family: "agroPortal" !important
                color: var(--colorTheme)
                font-size: 20px
                position: absolute
                left: -40px
</style>
<style lang="sass" scoped>
.globalWrapper
    padding: 0px
.app
    position: relative
    background-color: unset
    &::before, &::after
        content: ''
        position: absolute
        height: 100%
        width: 1px
        background-color: #dedde7
        top: 0px
        left: 0px
.btnUp
    position: fixed
    bottom: 20px
    display: flex
    align-items: center
    justify-content: center
    right: 480px
    background: rgba(220, 220, 230, 0.71)
    border-radius: 11px
    height: 42px
    width: 42px
    cursor: pointer
    z-index: 100
    transition: .3s
    opacity: 0
    i
        font-size: 24px
        transition: .3s
    &:hover
        background-color: #A5BE8C
    &.show
        opacity: 1
    @media (max-width: 1680px)
        right: 370px
    @media (max-width: 1440px)
        right: 260px
    @media (max-width: 1366px)
        right: 210px
    @media (max-width: 1024px)
        right: 30px
.z2
    position: relative
    z-index: 2
.mainPreloader
    width: 100%
    margin: 0 auto
    height: 100vh
    background-color: #fff
    display: flex
    justify-content: center
    align-items: center
    img
        animation: anim1 2s infinite
@keyframes anim1
    0%
        transform: scale(1)
    50%
        transform: scale(1.3)
    100%
        transform: scale(1)
</style>
