<template>
    <section class="whiteBg" :id="propData.anker_id">
        <div class="container">
            <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            <accordion>
                <accordion-item
                    class="projectAccrodion"
                    v-for="(item, idx) in propData.list"
                    :key="idx"
                >
                    <template>
                        <template slot="accordion-trigger">
                            <p class="number" v-if="propData.type == 'with_num'">{{ idx > 10 ? idx : '0'+idx }}.</p>
                            <p class="title">{{ item.title }}</p>
                            <span class="icon ic-dropdown"></span>
                        </template>
                        <template slot="accordion-content">
                            <p class="desc" v-html="item.text"></p>
                            <img :src="path(item.image)" alt="image">
                        </template>
                    </template>
                </accordion-item>
            </accordion>
        </div>
    </section>
</template>

<script>
import Accordion from "../../components/elements/Accordion.vue";
import AccordionItem from "../../components/elements/Accordion-item.vue";
export default {
    components: {
        Accordion,
        AccordionItem,
    },
    props: {
        propData: {
            type: [Object, Array],
        },
    },
};
</script>

<style lang="sass" scoped>
.accordion
    width: 60%
    margin-left: auto
    @media (max-width: 1024px)
        width: 100%
.h2Title
    margin-bottom: 55px
.projectAccrodion
    border-top: 2px solid var(--colorTheme)
    border-bottom: 2px solid var(--colorTheme)
    margin-bottom: -2px
    padding-bottom: 0px
    .desc, li
        margin: 0px
        font-size: 24px
        font-weight: normal
        text-decoration: none
        line-height: 145%
        letter-spacing: -0.02em
        color: #111325
        margin-bottom: 10px
        @media (max-width: 1024px)
            font-size: 18px
    .title
        font-weight: 500
        font-size: 24px
        line-height: 145%
        display: flex
        align-items: center
        letter-spacing: -0.02em
        color: #111325
        margin: 0px
        margin-bottom: 20px
        @media (max-width: 576px)
            font-size: 20px
    .number
        margin-right: 20px
        font-weight: 500
        font-size: 40px
        line-height: 130%
        letter-spacing: -0.02em
        color: var(--colorTheme)
        margin-top: 0px
        margin-bottom: 0px
    img
        margin-bottom: 20px
</style>

