<template>
    <section :id="propData.anker_id" :class="bgColor">
        <div class="container">
            <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            <div class="advantagesWrapper">
                <div class="advantagesItem" v-for="(item, idx) in propData.list" :key="idx">
                    <p class="num">{{ item.num }}</p>
                    <p class="title">{{ item.title }}</p>
                    <p class="descr">{{ item.text }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
         bgColor() {
            return this.propData.background != "color_theme"
                ? this.propData.background + "Bg"
                : this.propData.background;
        },
    },
};
</script>

<style lang="sass" scoped>
.title
    font-weight: 400
    font-size: 24px
    line-height: 145%
    letter-spacing: -0.02em
    color: #111325
    margin-bottom: 20px
    margin-top: 0px
.h2Title
    margin-bottom: 65px
    @media (max-width: 820px)
        margin-bottom: 40px
.descr
    font-weight: normal
    font-size: 18px
    line-height: 145%
    color: #111325
    margin-top: 0px
.advantagesWrapper
    display: grid
    grid-gap: 45px
    grid-template-columns: repeat(3, 1fr)
    @media (min-width: 1025px) and (max-width: 1200px)
        grid-template-columns: repeat(2,1fr)
    @media (max-width: 1024px)
        grid-template-columns: 1fr
.num
    font-style: normal
    font-weight: 500
    font-size: 70px
    line-height: 130%
    letter-spacing: -0.02em
    color: var(--colorTheme)
    margin: 0px
    @media (max-width: 820px)
        font-size: 50px
</style>
