<template>
    <div
        class="tableItem"
        ref="tableItem"
        :class="{
            custom: itemCount == 'custom',
            mobile: getSize == 'mobile' && mobileTable,
        }"
    >
        <!-- :style="{width: `calc(${el.column_width} - 10px)`}" -->
        <p
            v-for="(el, idx) in item"
            :key="idx"
            class="td"
            :style="{ width: el.column_width }"
            v-html="el.column_text"
        ></p>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "blog-item",
    props: {
        item: [Object, Array],
        mobileTable: Boolean,
    },
    computed: {
        ...mapGetters(["getSize"]),
        itemCount() {
            if (this.item.length == 2) {
                return "custom";
            }
            return ''
        },
    },
    mounted() {},
};
</script>

<style lang="sass" scoped>
.dark
    .tableItem
        border-color: #2F2F3E
.tableItem
    display: flex
    align-items: center
    border-bottom: 2px solid #DEDDE7
    border-top: 2px solid #DEDDE7
    justify-content: space-between
    padding: 20px 0px
    margin-bottom: -2px
    .heading
        font-weight: 600
        font-size: 28px
        line-height: 140%
    .second-text, p
        font-size: 24px
        line-height: 145%
        margin: 0px
    .link
        font-size: 17px
        line-height: 160%
.custom
    @media (max-width: 576px)
        p:first-of-type
            width: 20% !important
        p:last-of-type
            width: 80% !important
.mobile
    flex-wrap: wrap
</style>
