<template>
    <section class="tableWrp innerWrapper" :id="propData.anker_id">
        <div class="container">
            <!-- <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2> -->
            <div class="blogWrapper">
                <template v-if="getSize == 'desktop' || getSize == 'tablet'">
                    <h2 class="h2Title" v-if="propData.title && propData.rows">
                        {{ propData.title }}
                    </h2>
                    <blog-table-item
                        v-for="(item, idx) in propData.rows"
                        :key="idx"
                        :item="item"
                    ></blog-table-item>
                </template>
                <template v-else>
                    <!-- <template v-if="!propData.mob_rows">
                    <blog-table-item
                        v-for="(item, idx) in propData.rows"
                        :key="idx"
                        :item="item"
                    ></blog-table-item>
                </template> -->
                    <template>
                        <h2
                            class="h2Title"
                            v-if="
                                propData.title &&
                                propData.mob_rows
                            "
                        >
                            {{ propData.title }}
                        </h2>
                        <blog-table-item
                            v-for="(item, idx) in propData.mob_rows"
                            :key="idx"
                            :item="item"
                            :mobileTable="true"
                        ></blog-table-item>
                    </template>
                </template>
            </div>
        </div>
    </section>
</template>

<script>
import blogTableItem from "./blog-table-item.vue";
import { mapGetters } from "vuex";
export default {
    components: { blogTableItem },
    name: "blog-table",
    props: {
        propData: {
            type: [Object, Array],
            require: true,
        },
    },
    computed: {
        ...mapGetters(["getSize"]),
    },
    mounted() {
        const tdList = document.querySelectorAll(".tableItem");
        tdList.forEach((td) => {
            if (td.classList.contains("mobile")) {
                td.classList.remove("custom");
            }
        });
    },
};
</script>

<style lang="sass" scoped></style>
