<template>
    <section
        :id="propData.anker_id"
        :class="bgColor"
        :style="{
            backgroundImage: 'url(' + path(propData.image) + ')',
        }"
    >
        <img style="display: none" :src="path(propData.image)" @load="imgLoad">
        <div id="video-bg" v-if="propData.video" :class="bgColor">
        <video
            width="100%"
            height="100%"
            preload="auto"
            no-controls
            autoplay
            loop
            playsinline
            muted
            ref="videoBg"
        >
             <source :src="`./..${propData.video}`" />
            <source :src="pathVideo(propData.video)" />
        </video>
        </div>
        <div class="container">
            <div class="textWrp">
                <h1>{{ propData.title }}</h1>
                <p class="desc" v-html="propData.text"></p>
            </div>
            <div class="btnWrapper">
                <a
                    :class="btnType"
                    target="_blank"
                    class="btnLink"
                    v-if="propData.btn_link"
                    :href="propData.btn_link"
                    >{{ propData.btn_title }} <i class="icon ic-arrow-right"></i
                ></a>
                <a
                    :class="btnType2"
                    class="btnLink"
                    target="_blank"
                    v-if="propData.btn2_link"
                    :href="propData.btn2_link"
                    >{{ propData.btn2_title }}
                    <i class="icon ic-arrow-right"></i
                ></a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
        btnType() {
            return this.propData.btn_type;
        },
        btnType2() {
            return this.propData.btn2_type;
        },
        bgColor() {
            const temp =
                this.propData.image || this.propData.video ? "hasBg" : "noBg";
            this.$emit("bgClass", temp);
            return temp;
        },
    },
    methods: {
        imgLoad() {
            this.$emit('imgLoad')
        }
    },
    mounted () {
        this.$refs.videoBg.onprogress = () => {
            this.$emit('imgLoad')
        }
    },
};
</script>

<style lang="sass" scoped>
#video-bg
    position: absolute
    width: 100%
    height: 100%
    z-index: -2
    top: 0px
    left: 0px
    video
        object-fit: cover
.middle
    .icon
        display: none
.container
    margin-top: 120px
    @media (max-width: 1440px)
        margin-top: 50px
section
    position: relative
    z-index: 1
    height: 100vh
    background-color: #fff
    background-size: cover
    display: flex
    align-items: center
    &.hasBg
        position: relative
        z-index: 1
        display: flex
        &::before
            content: ''
            position: absolute
            top: 0px
            right: 0px
            left: 0px
            bottom: 0px
            background: rgba(0, 0, 0, 0.63)
            z-index: -1
        .middle
            color: #fff !important
            border: 2px solid #fff
        h1, .desc
            color: #fff
        .btnWrapper
            display: flex
            justify-content: center
            margin-top: 50px
        .textWrp
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            margin: 0 auto
.container
    background: transparent !important
h1
    font-weight: 600
    font-size: 70px
    line-height: 110%
    color: #111325
    margin-bottom: 20px
    margin-top: 0px
    @media (max-width: 1440px)
        font-size: 60px
    @media (max-width: 576px)
        font-size: 31px
.desc
    font-weight: 500
    font-size: 28px
    line-height: 140%
    color: #111325
    margin: 0px
    @media (max-width: 1440px)
        font-size: 24px
    @media (max-width: 576px)
        font-size: 20px
.textWrp
    max-width: 800px
.btnWrapper
    display: flex
    justify-content: flex-end
    .btnLink:first-of-type
        margin-right: 19px
    @media (max-width: 576px)
        flex-direction: column
        .btnLink
            margin-bottom: 20px
</style>
