<template>
    <section :id="propData.anker_id" :class="{ w80: propData.width == '80%' }">
        <img
            :src="path(propData.image)"
            alt="fullSizeImage"
            v-if="propData.image && !propData.video"
        />
        <video
            width="100%"
            height="100%"
            preload="auto"
            no-controls
            autoplay
            loop
            playsinline
            muted
            v-else
        >
            <source :src="`./..${propData.video}`" />
            <source :src="pathVideo(propData.video)" />
        </video>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
};
</script>

<style lang="sass" scoped>
section
    padding: 0px !important
img
    width: 100%
.w80
    width: 80%
    margin: 0 auto
</style>
