<template>
    <section :id="propData.anker_id" class="whiteBg">
        <div class="container">
            <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            <p class="description" v-html="propData.text"></p>
            <a
                :class="btnType"
                target="_blank"
                class="btnLink"
                v-if="propData.btn_link"
                :href="propData.btn_link"
                >{{ propData.btn_title }} <i class="icon ic-arrow-right"></i
            ></a>
            <div class="imgWrp" :class="itemCount">
                <div v-for="(item, idx) in propData.list" :key="idx">
                    <img :src="path(item.image)" :alt="item.image">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
        itemCount() {
            return 'itemCount'+Object.keys(this.propData.list).length
        },
        btnType() {
            return this.propData.btn_type;
        },
    },
};
</script>

<style lang="sass" scoped>
.imgWrp
    display: grid
    img
        @media (max-width: 1024px)
            margin: 0 auto
        @media (max-width: 576px)
            width: 100%
.itemCount3
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px
    @media (max-width: 820px)
        grid-template-columns: 1fr
.itemCount2
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px
    @media (max-width: 820px)
        grid-template-columns: 1fr
.itemCount1
    grid-template-columns: 1fr
.btnLink
    margin-bottom: 24px
</style>
