<template>
  <section :id="propData.anker_id" :class="bgColor">
    <div
      class="container"
      :class="{
        t50i50: propData.column_width == 5,
        t30i70: propData.column_width == 3,
        t70i30: propData.column_width == 7,
      }"
    >
      <div
        class="blockWrapper"
        :class="{ reverse: propData.image_position == 'left' }"
      >
        <div class="imgWrapper">
          <img :src="path(propData.image)" alt="" />
        </div>
        <div class="textWrapper">
          <div class="sticky">
            <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            <p class="description" v-html="propData.description"></p>
            <a
              :class="btnType"
              class="btnLink"
              target="_blank"
              v-if="propData.btn_link"
              :href="propData.btn_link"
              >{{ propData.btn_title }} <i class="icon ic-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    propData: {
      type: [Array, Object],
    },
  },
  computed: {
    btnType() {
      return this.propData.btn_type;
    },
    bgColor() {
      return this.propData.background != "color_theme"
        ? this.propData.background + "Bg"
        : this.propData.background;
    },
  },
};
</script>

<style lang="sass" scoped>
.sticky
    position: sticky
    top: 0px
.blockWrapper
    width: 100%
    display: flex
    justify-content: space-between
    .imgWrapper
        width: calc(40% - 10px)
        div
            width: 100%
    .textWrapper
        width: calc(60% - 10px)
    &.reverse
        flex-direction: row-reverse
.sectionTitle
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
.t50i50
    width: 100%
    .imgWrapper, .textWrapper
        width: calc(50% - 10px)
.t30i70
    width: 100%
    @media (max-width: 820px)
        .blockWrapper
            flex-direction: column
    .imgWrapper
        width: calc(70% - 10px)
        @media (max-width: 820px)
            width: 100%
    .textWrapper
        width: calc(30% - 10px)
        @media (max-width: 820px)
            width: 100%
.t70i30
    width: 100%
    .imgWrapper
        width: calc(30% - 10px)
    .textWrapper
        width: calc(70% - 10px)
.imgWrapper
    img
        width: 100%
        position: sticky
        top: 0px
.t30i70, .t50i50, .t70i30
    @media (max-width: 1024px)
        .blockWrapper
            flex-direction: column
        .imgWrapper, .textWrapper
            width: 100%
        .h2Title
            margin-top: 45px
</style>
