<template>
    <header class="projHeader" :class="bgClass">
        <a href="/" class="logo">
            <img
                src="../../assets/logo-dark.png"
                alt="logo"
                v-if="bgClass === 'noBg'"
            />
            <img src="../../assets/dark.png" alt="logo" v-else />
        </a>
        <nav>
            <ul v-if="getSize === 'desktop'">
                <li v-for="(item, idx) in headerData" :key="idx">
                    <a :href="item.link" v-if="item.link && item.ankerId">{{
                        item.title
                    }}</a>
                    <router-link
                        v-else
                        :to="{
                            name: 'Project',
                            params: { projectName: $route.params.projectName },
                            hash: '#' + item.ankerId,
                        }"
                        >{{ item.title }}</router-link
                    >
                </li>
            </ul>
            <button class="menu_trigger" @click="openSideMenu">
                Меню <i class="icon ic-burger"></i>
            </button>
        </nav>
    </header>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    props: {
        headerData: {
            type: Array,
        },
        bgClass: {
            type: String,
        },
    },
    methods: {
        openSideMenu() {
            this.$emit("openMenu", true);
        },
    },
    computed: {
        ...mapGetters(["getSize"]),
    },
};
</script>

<style lang="sass" scoped>
header
    position: absolute
    top: 0px
    z-index: 1000
    width: 100%
.projHeader
    display: flex
    justify-content: space-between
    padding: 24px 50px
    align-items: center
    @media (max-width: 576px)
        padding: 21px 15px
    nav
        display: flex
        align-items: center
        @media (max-width: 1024px)
            justify-content: space-between
        ul
            display: flex
            margin: 0px
            li
                margin-right: 25px
                a
                    font-weight: 500
                    font-size: 20px
                    line-height: 140%
                    text-align: center
                    color: #111325
    .menu_trigger
        background-color: var(--colorTheme)
        color: #fff
        border: none
        border-radius: 50px
        padding: 17px 20px
        display: flex
        align-items: center
        .icon
            color: inherit
            margin-left: 15px
.hasBg
    li a
        color: #fff !important
</style>
