<template>
  <section :id="propData.anker_id" :class="bgColor">
    <div class="container">
      <div class="quote" v-if="propData.type == 'image_top'">
        <img :src="path(propData.image)" alt="" />
        <p class="fioText" v-html="propData.fio_text"></p>
        <p class="fio">
          {{ propData.fio }}, <span>{{ propData.fio_text }}</span>
        </p>
      </div>
      <div class="quote-left" v-else>
        <div class="imgWrp">
          <div class="icon-q">
            <img src="../../assets/ic-q.svg" alt="icon" />
          </div>
          <img :src="path(propData.image)" alt="" />
        </div>
        <div class="textWrp">
          <p class="fioText" v-html="propData.text"></p>
          <p class="fio">
            {{ propData.fio }}, <span>{{ propData.fio_text }}</span>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    propData: {
      type: [Array, Object],
    },
  },
  computed: {
    bgColor() {
      return this.propData.background != "color_theme"
        ? this.propData.background + "Bg"
        : this.propData.background;
    },
  },
};
</script>

<style lang="sass" scoped>
.icon-q
    position: absolute
    bottom: 0px
    background-color: var(--colorTheme)
    width: 86px
    height: 86px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    img
        border-radius: unset !important
    @media (max-width: 1024px)
        left: 30%
    @media (max-width: 576px)
        left: 20%
        width: 60px
        height: 60px
        img
            width: 32px !important
            height: 32px
.imgWrp
    margin-right: 65px
    width: 280px
    position: relative
    height: fit-content
    @media (max-width: 820px)
        width: 100%
        display: flex
        justify-content: center
        @media (max-width: 576px)
            margin-bottom: 35px
            img
                width: 194px
.quote-left
    display: flex
    @media (max-width: 820px)
        flex-direction: column
        text-align: center
    img
        border-radius: 100%
    .textWrp
        width: calc(100% - 290px)
        @media (max-width: 820px)
            width: 100%
.fioText
    font-style: italic
    font-weight: 500
    font-size: 30px
    line-height: 145%
    letter-spacing: -0.02em
    color: #111325
    @media (max-width: 820px)
        font-size: 24px
        line-height: 34px
    @media (max-width: 576px)
        font-size: 20px
        line-height: 29px
.fio
    font-weight: 600
    font-size: 18px
    line-height: 145%
    color: #111325
    span
        font-weight: normal
.quote
    text-align: center
    max-width: 790px
    margin: 0 auto
    position: relative
    img
        border-radius: 70px
        margin: 0 auto
        @media (max-width: 576px)
            width: 194px
    &::before
        content: ''
        width: 114px
        height: 82px
        position: absolute
        top: 60%
        transform: translateY(-50%)
        left: -188px
        background-image: url(../../assets/images/ic-quote.png)
        @media (max-width: 1024px)
            left: 10px
    &::after
        content: ''
        width: 114px
        height: 82px
        position: absolute
        top: 60%
        transform: translateY(-50%) rotate(180deg)
        right: -188px
        background-image: url(../../assets/images/ic-quote.png)
        @media (max-width: 1024px)
            right: 10px
    &::after, &::before
        @media (max-width: 1024px)
            width: 84px
            height: 61px
            background-size: contain
            background-repeat: no-repeat
        @media (max-width: 576px)
            width: 52px
            height: 38px
            position: static
            display: flex
            margin: 0 auto
    @media (max-width: 576px)
        display: flex
        flex-direction: column
        img
            order: 1
            margin-bottom: 33px
        &::before
            order: 2
            margin-top: 20px
        .fioText
            order: 3
        .fio
            order: 4
            margin-bottom: 60px
        &::after
            order: 5
</style>
