<template>
    <section :id="propData.anker_id" :class="bgColor">
        <div class="container">
            <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            <div class="see-also-list" :class="blockType">
                <div class="see-also-item" v-for="(item, idx) in propData.list" :key="idx">
                    <a :href="item.url || item.link" target="_blank">
                        <img :src="path(item.image)" alt="">
                        <p class="text">
                            {{ item.text }}
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
        blockType() {
            return this.propData.type;
        },
        bgColor() {
            return this.propData.background != "color_theme"
                ? this.propData.background + "Bg"
                : this.propData.background;
        },
    },
};
</script>

<style lang="sass" scoped>
.text
    background-color: var(--colorTheme)
    padding: 34px
    margin: 0px
    font-weight: 500
    font-size: 30px
    line-height: 145%
    letter-spacing: -0.02em
    color: #FFFFFF
    @media (max-width: 576px)
        font-size: 20px
        line-height: 29px
        padding: 15px
.see-also-list
    display: grid
    grid-template-columns: 1fr
    &.small_icon
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 30px
        @media (max-width: 820px)
            grid-template-columns: 1fr
    &.large_icon
        img
            width: 100%
.see-also-item
    margin-bottom: 30px
</style>
