<template>
    <section :id="propData.anker_id" :class="bgColor">
        <template v-if="blockType == 'less'">
            <div class="container">
                <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
                <div class="see-also-list less">
                    <div
                        class="see-also-item"
                        v-for="(item, idx) in propData.list"
                        :key="idx"
                    >
                        <a :href="item.url">
                            <img :src="path(item.image)" alt="" />
                            <p class="text">
                                {{ item.title }}
                            </p>
                            <!-- <date>
                            {{ item.public_date }}
                        </date> -->
                        </a>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="container">
                <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            </div>
            <Flickity ref="flickity" class="slider" :options="sliderOptions">
                <a
                    :href="item.url"
                    class="slide"
                    v-for="(item, index) in propData.list"
                    :key="index"
                >
                    <img
                        :src="path(item.image)"
                        :alt="path(item.image)"
                        @load="imgLoaded"
                    />
                    <p class="desc">{{ item.title }}</p>
                    <p class="date">
                        {{ item.public_date }}
                    </p>
                </a>
            </Flickity>
            <div class="nav">
                <span class="icon ic-arrow-left prev" @click="onPrev"></span>
                <span class="icon ic-arrow-right next" @click="onNext"></span>
            </div>
        </template>
    </section>
</template>

<script>
import Flickity from "vue-flickity";
export default {
    data() {
        return {
            sliderOptions: {
                cellAlign: "left",
                contain: true,
                pageDots: false,
                prevNextButtons: false,
                adaptiveHeight: true,
                imagesLoaded: true,
                currentImg: 0,
            },
        };
    },
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    components: {
        Flickity,
    },
    computed: {
        blockType() {
            return this.propData.list && this.propData.list.length > 2 ? "more" : "less";
        },
        bgColor() {
            return this.propData.background != "color_theme"
                ? this.propData.background + "Bg"
                : this.propData.background;
        },
    },
    methods: {
        onNext() {
            this.$refs.flickity.next();
        },
        onPrev() {
            this.$refs.flickity.previous();
        },
        imgLoaded() {
            this.$refs.flickity.resize();
        },
    },
};
</script>

<style lang="sass" scoped>
.slider
    .slide
        width: 360px
        display: flex
        flex-direction: column
        padding: 0 15px
        margin-bottom: 20px
        img
            height: 203px
            display: block
        .desc
            font-weight: normal
            font-size: 24px
            line-height: 145%
            letter-spacing: -0.02em
            color: #111325
            height: 140px
            overflow-y: hidden
            text-overflow: ellipsis
            @media (max-width: 820px)
                font-size: 16px
            @media (max-width: 820px)
                height: auto
        .date
            font-weight: 500
            font-size: 18px
            line-height: 135%
            letter-spacing: 0.01em
            color: var(--colorTheme)
.nav
    margin-right: 5%
    display: flex
    margin-top: 25px
    justify-content: flex-end
    align-items: center
    padding: 32px 0 24px
    grid-gap: 10px
    padding-top: 0px !important
    padding-bottom: 0px
    img
        margin: 0 10px
    .prev, .next
        width: 66px
        height: 66px
        display: flex
        justify-content: center
        align-items: center
        // border: 1px solid $c-green-on-black
        color: var(--colorTheme)
        cursor: pointer
        transition: .3s
        background-color: $c-gray-light-1
        &:hover
            color: $c-white
            border-color: var(--colorTheme)
            background-color: var(--colorTheme)
.see-also-list.less
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 30px
    @media (max-width: 1200px)
        grid-template-columns: 1fr
    .see-also-item
        background-color: #fff
        & > a
            padding: 20px
            display: flex
            img
                max-width: 195px
                margin-right: 26px
            .text
                font-size: 18px
                line-height: 145%
                color: #111325
                @media (max-width: 1024px)
                    font-size: 16px
</style>
