<template>
    <div class="sideMenu" :class="{ active: isShow }">
        <button class="close" @click="close">
            Закрити<i class="icon ic-close"></i>
        </button>
        <ul>
            <li v-for="(item, idx) in ankerList" :key="idx">
                <i class="icon ic-arrow-right"></i>
                <a :href="item.link" v-if="item.link && item.ankerId">{{
                    item.title
                }}</a>
                <router-link
                    v-else
                    @click.native="ankerClick"
                    :to="{
                        name: 'Project',
                        params: { projectName: $route.params.projectName },
                        hash: '#' + item.ankerId,
                    }"
                    >{{ item.title }}</router-link
                >
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    props: {
        ankerList: {
            type: Array,
        },
        isShow: {
            type: Boolean,
            default: false,
        },
    },
    methods: {
        close() {
            this.$emit("openMenu", false);
        },
        ankerClick(){
            this.$emit('ankerClick')
        }
    },
};
</script>

<style lang="sass" scoped>
li
    display: flex
    .icon
        color: #FFFFFF
        transition: .3s
        opacity: 0
        margin-right: -10px
        line-height: 30px
    &:hover
        .icon
            opacity: 1
            margin-right: 10px
.sideMenu
    max-width: 600px
    width: 100%
    background-color: var(--colorTheme)
    position: fixed
    z-index: 1001
    top: 0px
    right: 0px
    height: 100vh
    padding: 50px 75px 0px 75px
    transition: .3s
    transform: translateX(100%)
    @media (max-width: 600px)
        padding: 30px
    &.active
        transform: translateX(0)
    .close
        border: none
        background-color: transparent
        color: #fff
        margin-bottom: 20px
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%
        font-size: 20px
        line-height: 140%
        font-weight: 500
        i
            color: inherit
            font-size: 16px
            margin-left: 15px
    ul
        overflow-y: scroll
        height: 90vh
        li
            &:not(:last-of-type)
                margin-bottom: 25px
                @media (max-width: 1024px)
                    margin-bottom: 43px
                @media (max-width: 820px)
                    margin-bottom: 36px
            a
                font-weight: 500
                font-size: 30px
                line-height: 110%
                letter-spacing: -0.02em
                color: #FFFFFF
                @media (max-width: 1024px)
                    font-size: 27px
                @media (max-width: 820px)
                    font-size: 24px
.sideMenu ul
    &::-webkit-scrollbar
        display: none
</style>
