<template>
    <section :id="propData.anker_id" :class="bgColor">
        <div class="container">
            <div
                class="textWrp"
                :class="textAlignAndColor"
                :style="`width: ${propData.text_width}%`"
            >
                <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
                <p class="description" v-html="propData.description"></p>
                <a
                    :class="btnType"
                    v-if="propData.btn_link"
                    class="btnLink"
                    target="_blank"
                    :href="propData.btn_link"
                    >{{ propData.btn_title }} <i class="icon ic-arrow-right"></i
                ></a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
        btnType() {
            return this.propData.btn_type;
        },
        textAlignAndColor() {
            return [this.propData.text_align, this.propData.text_color];
        },
        textColor() {
            return this.propData.text_color;
        },
        bgColor() {
            return this.propData.background != "color_theme"
                ? this.propData.background + "Bg"
                : this.propData.background;
        },
    },
};
</script>

<style lang="sass" scoped>
.imageBg
    background: url('../../assets/textBlockBg.jpg')
    .container
        background: unset !important
    .description, .description > p, .h2Title
        color: #fff !important
.textWrp
    &.right
        margin-left: auto
    &.white
        .h2Title, .description, .description > p
            color: #fff
.h2Title
    margin-bottom: 15px !important
.textWrp
    @media (max-width: 1024px)
        width: 100% !important
</style>
