<template>
    <section :id="propData.anker_id" :class="bgColor" class="whiteBg">
        <div class="container">
            <h2 class="h2Title" v-if="propData.title">{{ propData.title }}</h2>
            <ul>
                <li class="stepItem" v-for="(item, idx) in propData.list" :key="idx">
                    <div class="l-side">
                        <div class="number">
                            {{ idx > 10 ? idx : '0'+idx }}
                        </div>
                    </div>
                    <div class="text">
                        <p class="title">{{ item.title }}</p>
                        <p class="desc" v-html="item.text"></p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
        btnType() {
            return this.propData.btn_type;
        },
        bgColor() {
            return this.propData.background + "Bg";
        },
    },
};
</script>
<style lang="sass">
.stepItem
    .desc > p
        font-size: 24px
        margin: 0px
        line-height: 145%
        letter-spacing: -0.02em
        color: #111325
        @media (max-width: 820px)
            font-size: 18px
</style>
<style lang="sass" scoped>
ul
    width: 60%
    margin-left: auto
    @media (max-width: 820px)
        width: 100%
.stepItem
    display: flex
    margin-bottom: 20px
    .l-side
        position: relative
        &:not(:last-of-type)
        &::before
            content: ''
            position: absolute
            bottom: 0px
            left: 39%
            transform: translateX(50%)
            width: 2px
            height: 100%
            background-color: var(--colorTheme)
    .text
        width: calc(100% - 86px)
    .title
        font-weight: 500
        font-size: 30px
        line-height: 145%
        letter-spacing: -0.02em
        color: #111325
        margin: 0px
        margin-bottom: 20px
        @media (max-width: 1024px)
            font-size: 29px
        @media (max-width: 576px)
            font-size: 20px
            line-height: 145%
    .desc
        font-size: 24px
        margin: 0px
        line-height: 145%
        letter-spacing: -0.02em
        color: #111325
    &:last-of-type
        .l-side::before
            display: none
    .number
        margin-right: 20px
        font-style: normal
        font-weight: 500
        font-size: 40px
        line-height: 130%
        display: flex
        align-items: center
        text-align: center
        letter-spacing: -0.02em
        color: var(--colorTheme)
        justify-content: center
        width: 66px
        border: 2px solid var(--colorTheme)
        border-radius: 50px
        text-align: center
        height: 94px
        background-color: #fff
        position: relative
        z-index: 1
        &::before
            content: ''
            background-color: #fff
            width: 100%
            height: 20px
            position: absolute
            bottom: -22px
            left: 0px
</style>
