<template>
    <section
        :id="propData.anker_id"
        :class="bgColor"
        :style="{ backgroundImage: 'url(' + path(propData.image) + ')' }"
    >
        <ul :class="textColor">
            <li v-for="(item, idx) in propData.list" :key="idx">
                <p v-if="item.type == 'text'">{{ item.data }}</p>
                <img v-else :src="path(item.data)" alt="" />
            </li>
        </ul>
        <ul :class="textColor">
            <li v-for="(item, idx) in propData['list-2']" :key="idx">
                <p v-if="item.type == 'text'">{{ item.data }}</p>
                <img v-else :src="path(item.data)" alt="" />
            </li>
        </ul>
    </section>
</template>

<script>
export default {
    props: {
        propData: {
            type: [Array, Object],
        },
    },
    computed: {
        bgColor() {
            return this.propData.text_bg_color != "color_theme"
                ? this.propData.text_bg_color + "Bg"
                : this.propData.text_bg_color;
        },
        textColor(){
            return this.propData.text_color
        }
    },
};
</script>

<style lang="sass" scoped>
.white p
    color: #fff
section
    overflow-x: hidden
    padding: 100px 0px !important
    @media (max-width: 1024px)
        padding: 35px 0px !important
ul
    display: flex
    align-items: center
    margin: 0px
    &:first-of-type
       animation: text-move 30s linear infinite
       margin-bottom: 11px
    &:last-of-type
       animation: text-move-r 30s linear infinite
li
    margin-right: 20px
    p
        font-weight: 500
        font-size: 88px
        line-height: 100%
        letter-spacing: -0.005em
        text-transform: uppercase
        color: #111325
        margin: 0px
        white-space: nowrap
        @media (max-width: 1024px)
            font-size: 58px
        @media (max-width: 576px)
            font-size: 25px
    img
        // width: 200px
        height: 108px
        // object-fit: cover
        border-radius: 178px
        max-width: unset
        @media (max-width: 1024px)
            height: 76px
        @media (max-width: 576px)
            height: 32px
@keyframes text-move
    0%
        transform: translateX(0%)
    50%
        transform: translateX(-30%)
    100%
        transform: translateX(0%)
@keyframes text-move-r
    0%
        transform: translateX(-30%)
    50%
        transform: translateX(0%)
    100%
        transform: translateX(-30%)
</style>
