<template>
    <ul class="breadcrumbs">
        <!-- TODO v-for -->
        <!-- <li>
            <router-link :to="'/'"> Головна </router-link>
        </li>
        <li>
            <router-link :to="'/'"> Новини </router-link>
        </li>
        <li>
            <router-link :to="'/'"> Рослинництво </router-link>
        </li> -->
        <li v-for="(item, idx) in breadcrumbsData" :key="idx">
            <a :href="item.url">
                {{ item.name }}
            </a>
        </li>
    </ul>
</template>

<script>
export default {
    name: "app-breadcrumbs",
    props: {
        breadcrumbsData: {
            type: Array,
        },
    },
};
</script>

<style lang="sass" scoped>
.breadcrumbs
    display: flex
    @media (max-width: 640px)
        margin-top: 0px
    li
        @include menu-3
        color: $c-green
        position: relative
        &:not(:last-of-type)
            margin-right: 5px
            &::after
                content: "\e902"
                font-family: 'agroPortal' !important
                font-size: 10px
                color: $c-gray-light-2
                margin-left: 5px
        &:last-of-type
            color: $c-gray-light-2
        &:first-letter
            text-transform: uppercase
</style>
