<template>
    <div class="pagination">
        <div class="pagiWrap">
            <template v-for="(item, idx) in paginateData" >
                <router-link
                    v-if="item.type == 'prev'"
                    class="prev"
                    ref="prev"
                    :class="{disabled: currentPage == 1}"
                    @click="setPage(item.type)"
                    :to="{name: $route.name, params: {locale: $i18n.locale == 'uk' ? null : $i18n.locale}, query: {tag: $route.query.tag ,q: $route.query.q, page: currentPage - 1}}"
                    :key="idx"
                >
                    <i class="icon ic-arrow-left"></i>
                </router-link>
                <router-link
                    v-if="item.type == 'page'"
                    @click="setPage(item.pageName)"
                    :class="{ active: item.current }"
                    :key="idx"
                    :to="{name: $route.name, params: {locale: $i18n.locale == 'uk' ? null : $i18n.locale}, query: {tag: $route.query.tag ,q: $route.query.q, page: item.pageName, t: $route.query.t }}"
                >
                    {{ item.pageName }}
                </router-link>
                <span v-if="item.type == 'dot'" :key="idx">...</span>
                <router-link
                    v-if="item.type == 'next'"
                    class="next"
                    :class="{disabled: getAllPages == currentPage}"
                    ref="next"
                    @click="setPage(item.type)"
                    :to="{name: $route.name, params: {locale: $i18n.locale == 'uk' ? null : $i18n.locale}, query: {tag: $route.query.tag ,q: $route.query.q, page: currentPage + 1}}"
                    :key="idx"
                >
                    <i class="icon ic-arrow-right"></i>
                </router-link>
            </template>
        </div>
        <router-link :to="{name: $route.name, params: {locale: $i18n.locale == 'uk' ? null : $i18n.locale}, query: {tag: $route.query.tag ,q: $route.query.q, page: currentPage + 1}}" @click="setPage('next')" v-if="getSize != 'desktop'" class="nextPage">{{ $t('nextPage') }}</router-link>
    </div>
    <!-- <div v-else class="preload">
        <div class="loader"></div>
    </div> -->
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
export default {
    name: "app-pagination",
    props: {
        paginate: {
            type: Object,
            default: () => {},
        },
    },
    data() {
        return {
            currentPage: 1,
            pagiLoad: true
        };
    },
    computed: {
        ...mapGetters(["getSize"]),
        getAllPages() {
            return Math.ceil(this.paginate.total / this.paginate.per_page);
        },
        paginateData() {
            if (this.currentPage) {
                let paginate = [];
                if (this.currentPage > 1)
                    paginate.push({ type: "prev", show: true });
                else paginate.push({ type: "prev", show: false });
                let pre = this.currentPage;
                if (pre > 4) {
                    paginate.push({ type: "page", pageName: 1 });
                    paginate.push({ type: "dot" });
                    for (
                        let i = this.currentPage - 2;
                        i < this.currentPage;
                        i++
                    ) {
                        paginate.push({
                            type: "page",
                            pageName: i,
                            current: false,
                        });
                    }
                } else {
                    for (let i = 1; i < this.currentPage; i++) {
                        paginate.push({
                            type: "page",
                            pageName: i,
                            current: false,
                        });
                    }
                }
                let page = this.getAllPages - this.currentPage;
                if (page > 4) {
                    for (
                        let i = this.currentPage;
                        i < this.currentPage + 3;
                        i++
                    ) {
                        if (i == this.currentPage)
                            paginate.push({
                                type: "page",
                                pageName: i,
                                current: true,
                            });
                        else
                            paginate.push({
                                type: "page",
                                pageName: i,
                                current: false,
                            });
                    }
                    paginate.push({ type: "dot" });
                    paginate.push({ type: "page", pageName: this.getAllPages });
                } else {
                    for (let i = this.currentPage; i <= this.getAllPages; i++) {
                        if (i == this.currentPage)
                            paginate.push({
                                type: "page",
                                pageName: i,
                                current: true,
                            });
                        else
                            paginate.push({
                                type: "page",
                                pageName: i,
                                current: false,
                            });
                    }
                }
                if (this.currentPage < this.getAllPages)
                    paginate.push({ type: "next", show: true });
                else paginate.push({ type: "next", show: false });
                return paginate;
            }
            return null;
        },
    },
    watch: {
        currentPage(val) {
            this.$emit("changePage", val)
        }
    },
    methods: {
        ...mapActions(["setPagiLoad"]),
        setPage(item) {
            switch (item) {
                case "prev":
                    this.getPageNumber(this.currentPage - 1);
                    break;
                case "next":
                    this.getPageNumber(this.currentPage + 1);
                    break;
                default:
                    this.getPageNumber(item);
                    break;
            }
        },
        getPageNumber(num) {
            let slug = '',
                url = '',
                params = {
                    lang: this.currentLang,
                    page: num,
                };
            if ( this.$route.name == "Rubric") {
                slug = this.$route.params.rubric;
                url = '/api/news/category';
                params.category_slug = slug
                this.$emit('RubricPagePagination', num)
            }
            else if ( this.$route.name == "RubricArticle" ) {
                slug = `${this.$route.params.rubric}/${this.$route.params.subRubric}`;
                url = '/api/news/category';
                params.category_slug = slug
            }
            else if ( this.$route.name ==  "Search") {
                slug = this.$route.query.q;
                url = '/api/news/search';
                params.q = slug
                params.page = num
                if ( this.$route.query.t ) {
                    this.$emit('SearchPagePagination', num, 1)
                } else {
                    this.$emit('SearchPagePagination', num)
                }
            } else {
                slug = this.$route.query.tag;
                url = '/api/tags/get-by-tag';
                params.tag_name = slug
            }
            // this.setPagiLoad('hide')
            // this.$emit('dataChangeStart')
            this.pagiLoad = false;
            this.axios
                .post(url, params)
                .then((res) => {
                    this.$emit("getNewArticles", {model: res.data.data.items.models, pageNumb: num});
                    this.currentPage = +res.data.data.items.paginate.current_page;
                }).finally(() => {
                    this.pagiLoad = true;
                })
        },
    },
    mounted () {
        this.$emit("changePage", this.currentPage)
        if ( this.$route.name ==  "Search" || this.$route.name == "RubricArticle" || this.$route.name == "Rubric" || this.$route.name == "Archive" || this.$route.name ==  "TagPage") {
            this.currentPage = +this.$route.query.page ? +this.$route.query.page : 1
        }
    },
};
</script>

<style lang="sass" scoped>
.pagiWrap
    @media (max-width: 1024px)
        margin-bottom: 10px
.nextPage
    background-color: #F6F5FA !important
    font-weight: 500
    font-size: 13px
    line-height: 100%
    text-align: center
    padding: 15px 17px !important
    color: #8A8F9D !important
    display: block
    margin-top: 10px
    @media (max-width: 1024px)
        width: 90%
.pagination
    display: flex
    margin-top: 30px
    justify-content: center
    @media (max-width: 1024px)
        flex-wrap: wrap
        flex-direction: column
        align-items: center
    button, span, a
        color: $c-gray-light-2
        border: none
        background-color: transparent
        padding: 10px 15px
        @media (max-width: 576px)
            padding: 5px 8px
        &.prev, &.next
            color: $c-gray-light-1
        i
            color: inherit
        &.active
            color: $c-green !important
            background-color: $c-gray-light-1 !important
        &:hover
            color: $c-green
            background-color: $c-gray-light-0
.preload
    display: flex
    justify-content: center
.loader
    width: 100%
    background-color: #fff
    border: 5px solid #f3f3f3
    border-top: 5px solid #9E9EA7
    border-radius: 50%
    width: 50px
    height: 50px
    animation: spin 2s linear infinite
@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
.disabled
    pointer-events: none
.search
    .pagination
        margin-bottom: 20px
</style>
