<template>
    <ul class="lang-switcher df">
        <li :class="{active: $i18n.locale == 'uk'}">
            <router-link @click.native="chooseLang" :to="uaLang">Укр</router-link>
        </li>
        <span></span>
        <li :class="{active: $i18n.locale == 'ru'}">
            <router-link @click.native="chooseLang" :to="ruLang">Рус</router-link>
        </li>
    </ul>
</template>

<script>
import { rtParams } from '@/utils.js'
import { mapActions } from 'vuex';
export default {
    name: "language-switcher",
    data() {
        return {
            language: [
                {
                    name: 'Укр',
                    lang: 'uk'
                },
                {
                    name: 'Рус',
                    lang: 'ru'
                },
            ],
        };
    },
    computed: {
        ...rtParams,
        uaLang(){
                return { name: this.$route.name, params: this.uaLocaleParam, query: this.$route.query }
        },
        ruLang() {
                return { name: this.$route.name, params: this.ruLocaleParam, query: this.$route.query }
        }
    },
    methods: {
        ...mapActions(["setFooterData", "setHedaerSocialLink"]),
        chooseLang() {
            const temp = [];
            console.log(this.$i18n);
            this.$emit('changeLanguage')
            this.axios
            .post("/api/settings/all", {
                lang: this.currentLang,
            })
            .then((res) => {
                temp.push(
                    res.data.data.header_facebook,
                    res.data.data.header_instagram,
                    res.data.data.header_rss,
                    res.data.data.header_telegram,
                    res.data.data.header_tiktok,
                    res.data.data.header_youtube,
                )
                this.setHedaerSocialLink(temp)
                this.setFooterData(res.data.data)
            });
        }
    },
};
</script>

<style lang="sass" scoped>
.lang-switcher
    display: flex
    align-items: center
    @media (min-width: 1024px)
        margin-left: 22px
    span
        height: 38px
        width: 1px
        background-color: #DEDDE7
        margin: 0px 15px
.lang-switcher li
    @include btn-text
    cursor: pointer
    color:  $c-gray-text-icons
    &:hover
        color: $c-green-bright
.lang-switcher li
    position: relative
    transition: .3s
    // &:first-of-type::after
    //     cursor: unset !important
    //     margin-left: 15px
    //     content: '|'
    //     height: 33px
    //     width: 1px
    //     margin-right: 15px
    //     color: #DEDDE7 !important
    // &.active
        // color: $c-green-bright
    & > .router-link-exact-active
        color: $c-green-bright
</style>
