<template>
    <ul class="social df" v-if="getSize == 'desktop'">
        <li>
            <a
                v-if="getHedaerSocialLink"
                :href="getHedaerSocialLink[0]"
                target="_blank"
                ><i class="icon ic-fb"></i
            ></a>
        </li>
        <li>
            <a
                v-if="getHedaerSocialLink"
                :href="getHedaerSocialLink[3]"
                target="_blank"
                ><i class="icon ic-tl"></i
            ></a>
        </li>
        <li>
            <a
                v-if="getHedaerSocialLink"
                :href="getHedaerSocialLink[1]"
                target="_blank"
                ><i class="icon ic-inst"></i
            ></a>
        </li>
        <li>
            <a
                v-if="getHedaerSocialLink"
                :href="getHedaerSocialLink[5]"
                target="_blank"
                ><i class="icon ic-youtube"></i
            ></a>
        </li>
        <li>
            <a
                v-if="getHedaerSocialLink"
                :href="getHedaerSocialLink[4]"
                target="_blank"
                ><i class="icon ic-tik-tok"></i
            ></a>
        </li>
            <li>
        <a v-if="getHedaerSocialLink" :href="getHedaerSocialLink[6]"
        target="_blank"
          ><i class="icon ic-linkedin2"></i
        ></a>
      </li>
        <li>
            <router-link
                v-if="getHedaerSocialLink"
                :to="{ path: getHedaerSocialLink[2] }"
                ><i class="icon ic-rss"></i
            ></router-link>
        </li>
        <li>
            <a
                class="footerScroll"
                @click.prevent="footerScroll"
                >{{ $t('subscribe') }} <i class="icon ic-arrow-right"></i
            ></a>
        </li>
    </ul>
    <div v-else class="socialWrap">
        <ul class="social-m df">
            <li>
                <a
                    v-if="getHedaerSocialLink"
                    :href="getHedaerSocialLink[0]"
                    target="_blank"
                    ><i class="icon ic-fb"></i
                ></a>
            </li>
            <li>
                <a
                    v-if="getHedaerSocialLink"
                    :href="getHedaerSocialLink[3]"
                    target="_blank"
                    ><i class="icon ic-tl"></i
                ></a>
            </li>
            <li>
                <a
                    v-if="getHedaerSocialLink"
                    :href="getHedaerSocialLink[1]"
                    target="_blank"
                    ><i class="icon ic-inst"></i
                ></a>
            </li>
            <li>
                <a
                    v-if="getHedaerSocialLink"
                    :href="getHedaerSocialLink[5]"
                    target="_blank"
                    ><i class="icon ic-youtube"></i
                ></a>
            </li>
            <li>
                <a
                    v-if="getHedaerSocialLink"
                    :href="getHedaerSocialLink[4]"
                    target="_blank"
                    ><i class="icon ic-tik-tok"></i
                ></a>
            </li>
            <li>
                <a
                v-if="getHedaerSocialLink"
                :href="getHedaerSocialLink[6]"
                ><i class="icon ic-linkedin2"></i
            ></a>
        </li>
            <li>
                <router-link
                    v-if="getHedaerSocialLink"
                    :to="{ path: getHedaerSocialLink[2] }"
                    ><i class="icon ic-rss"></i
                ></router-link>
            </li>
        </ul>
        <a
            class="footerScroll"
            @click.prevent="footerScroll"
            >{{ $t('subscribe') }} <i class="icon ic-arrow-right"></i
        ></a>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "socialLinkMenu",
    computed: {
        ...mapGetters(["getHedaerSocialLink", "getSize"]),
    },
    methods: {
        footerScroll() {
            const footerScrollPosition = document.querySelector('#footer-container').offsetTop;
            window.scrollTo(0, footerScrollPosition - 150)
        }
    },
};
</script>

<style lang="sass" scoped>
.social
    margin-left: auto
.social li
  &:not(:last-of-type)
    margin-right: 4px
    a
      width: 40px
      height: 40px
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      border: 1px solid $c-green-bright
      font-size: 20px
      transition: .3s
      &:hover
          background-color: $c-green
          i
              color: #fff
      i
          transition: .3s
  &:last-of-type a
    @include btn-text
    display: flex
    color: $c-gray-text-icons
    align-items: center
    height: 100%
    margin-left: 20px
    transition: .3s
    i
      color: inherit
      margin-left: 15px
    &:hover
        color: $c-green
.social-m
    margin-top: 10px
    margin-bottom: 0px
    & + a
        font-weight: 600
        font-size: 10px
        line-height: 100%
        text-transform: uppercase
        color: #555555
        display: flex
        flex-direction: column-reverse
        align-items: flex-end
        i
            font-size: 15px
            margin-bottom: 5px
.social-m
    display: flex
    justify-content: space-between
    .ic-linkedin2
        font-size: 17px
.social-m li
  font-size: 20px
  margin-right: 15px
.socialWrap
    display: flex
    justify-content: space-between
    width: 100%
.footerScroll
    cursor: pointer
</style>
