<template>
  <div>
    <template v-if="currentPage == 1">
      <div class="firstArticle" v-if="articleList[0]">
        <router-link
          class="df jcsb"
          :class="{ hasVideo: articleList[0].model.video == 1 }"
          :to="{ path: articleList[0].model.landing_link  || articleList[0].model.url }"
        >
          <div class="l">
            <div class="imgWrp">
              <img :src="path(articleList[0].model.image)" alt="" />
            </div>
          </div>
          <div class="r df fdc">
            <div class="infoWarpper">
              <span>{{ articleList[0].model.public_date }}</span
              ><span
                >{{ articleList[0].model.views }} <i class="icon ic-eye"></i
              ></span>
              <p class="title">
                {{ articleList[0].translate.name }}
              </p>
              <p
                class="desc"
                v-html="articleList[0].translate.annot"
                v-if="articleList[0].translate.annot != ''"
              ></p>
            </div>
          </div>
        </router-link>
      </div>
      <i class="hr"></i>
      <a
        class="commonClass"
        v-if="getBanners && getBanners[3]"
        :href="bannerLink(getBanners[3].link)"
        target="_blank"
      >
        <img
          :src="path(getBanners[3].img_desktop)"
          alt="commonClass.img_desktop_alt"
        />
      </a>
      <i class="hr"></i>

      <ul class="importantArticles df" v-if="importantArticle">
        <li v-for="(item, idx) in importantArticle" :key="idx">
          <router-link
            class="df jcsb"
            :class="{
              hasVideo: item.model.video == 1,
            }"
            :to="{ path: item.model.landing_link || item.model.url }"
          >
            <div class="l">
              <div class="imgWrp">
                <img :src="path(item.model.image)" alt="" />
              </div>
            </div>
            <div class="r df fdc">
              <div class="infoWarpper">
                <span>{{ item.model.public_date }}</span
                ><span>{{ item.model.views }} <i class="icon ic-eye"></i></span>
                <p class="title">
                  {{ item.translate.name }}
                </p>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
      <i class="hr"></i>
    </template>
    <ul v-if="articleList.length > 4">
      <template v-for="(item, idx) in modifiedList">
        <component
          class="rubricItem articleItem"
          v-if="item.model && item.translate"
          :key="idx"
          :is="item.type == 'banner' ? 'native-banner' : 'article-item'"
          :image="path(item.model.image)"
          :title="item.translate.name"
          :descr="item.translate.annot"
          :date="item.model.public_date"
          :viwed="item.model.views"
          :articleType="'category'"
          :categoryText="item.model.category_title"
          :categoryUrl="item.model.category_url"
          :tags="item.translate.tags_obj"
          :url="item.model.url"
          :landingUrl="item.model.landing_link"
          :hasVideo="item.model.video"
          :bannerData="item.model"
        ></component>
      </template>
    </ul>
    <pagination-app
      :paginate="paginate"
      @getNewArticles="getNewArticles"
      @changePage="changePage"
      @RubricPagePagination="RubricPagePagination"
    ></pagination-app>
    <br />
    <div class="rubricItem articleItem bannerNative" v-if="getBanners && getBanners[7]">
      <a :href="this.getBanners[7].link" target="_blank" class="bannerWrapper">
        <picture>
          <img
            :src="path(this.getBanners[7].img_desktop)"
            :alt="this.getBanners[7].alt"
          />
        </picture>
        <div class="r">
          <p>{{ this.getBanners[7].text }}</p>
          <button>
            {{ this.getBanners[7].btn_name }}
            <i class="icon ic-arrow-right"></i>
          </button>
        </div>
      </a>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import articleItem from "../contentZone/app-articleItem.vue";
import AppNativeBanner from "../contentZone/app-native-banner.vue";
import paginationApp from "../navigation/app-pagination.vue";

export default {
    name: "article-warpper",
    components: {
        "article-item": articleItem,
        "native-banner": AppNativeBanner,
        paginationApp,
    },
    props: {
        newsArticleList: {
            type: Array,
            default: () => [],
        },
        paginate: {
            type: Object,
        },
    },
    data() {
        return {
            articleList: null,
            bannerList: [],
            currentPage: 1,
            modList: [],
        };
    },
    watch: {
        currentPage(newValue) {
            this.$emit('currentPage', newValue)
        }
    },
    methods: {
        RubricPagePagination(num) {
            this.$emit("ParrentPagePagination", num);
        },
        getNewArticles(items) {
            console.log(items);
            window.scrollTo(0, 0);
            this.articleList = items.model;
        },
        changePage(pageNumber) {
            this.currentPage = pageNumber;
        },
    },
    computed: {
        ...mapGetters(["getBanners"]),
        importantArticle(){
            const temp = [];
            // if ( this.articleList.length >= 4 ) {
                // let i = 1;
                this.articleList.forEach((element, idx) => {
                    if ( idx <= 3 ) {
                        temp.push(element)
                    }
                });
                temp.shift()
                return temp
        },
        modifiedList() {
            let temp = [];
            for (let i = 0; i <= this.articleList.length - 1; i++) {
                if (i % 11 != 0 || i == 0) {
                    //  TODO vuex
                    temp.push(this.articleList[i]);
                } else {
                    if ( this.getBanners && this.getBanners[8] ) {
                        temp.push({
                            type: "banner",
                            model: this.getBanners[8],
                            translate: "banner",
                        });
                    }
                }
            }
            if (this.currentPage > 1) {
                return temp;
            } else {
                return temp.splice(4, 20);
            }
        },
    },
    created() {
        this.articleList = this.newsArticleList;
    },
    mounted () {
        if ( this.getBanners && this.getBanners[8] ) {

        let temp =
            {
                type: "banner",
                model: this.getBanners[8],
                translate: "banner",
            };
      this.newsArticleList.splice(11, 0, temp)
    }
    },
};
</script>

<style lang="sass" scoped>
@import '@/assets/sass/blocks'
h1
    margin-top: 0px
ul
    margin: 0px
.importantArticles
    margin-top: 15px
    @media (max-width: 820px)
        flex-direction: column
    li
        width: 34%
        padding: 0px 15px
        border-bottom: none
        word-wrap: break-word
        &:not(:last-of-type)
            border-right: 1px solid #DEDDE7
            @media (max-width: 576px)
                border-right: none
        @media (max-width: 820px)
            width: 100%
            border: none
        a
            display: flex
            flex-direction: column
        .l
            margin-right: 0px
.hr
    margin: 15px 0px
.firstArticle
    .title
        margin-top: 0px
    .l
        width: 65%
        @media (max-width: 820px)
            width: 100%
    .r
        width: 35%
        @media (max-width: 820px)
            width: 100%
    @media (max-width: 820px)
        a
            display: flex
            flex-direction: column
    .title
        transition: .3s
    &:hover
        .title
            color: $c-green
    @media (max-width: 576px)
        .title
            margin-top: 6px
.importantArticles
    li
        .title
            transition: .3s
        &:hover
            .title
                color: $c-green
.hasVideo .l .imgWrp
    position: relative
    &::before
        content: ''
        position: absolute
        background-color: red
        width: 30px
        height: 30px
        background: url(../../assets/images/play.png) center/cover no-repeat
        bottom: 10px
        left: 5px
.commonClass img
    width: 100%
.article
    transition: .3s
    margin-bottom: 10px
    &:last-of-type
        margin-bottom: 15px
    .l
        width: 55%
        margin-right: 10px
    .r
        width: 45%
    &:hover
        color: $c-green
.article .title
    @include subtitle-3
.footerArticle
    .title
        @include subtitle-1
        font-weight: 400
.tags
    display: flex
    flex-wrap: wrap
    li
        padding: 2px
        background: #F6F5FA
        border: 1px solid #DEDDE7
        box-sizing: border-box
        border-radius: 1px
        font-weight: 500
        font-size: 10px
        margin-bottom: 5px
        &:not(:last-of-type)
            margin-right: 5px
.fdc
    .l
        margin-right: 0px
        width: 100%
    .r
        width: 100%
    .article .l
        margin-right: 10px
.bannerWrapper
    display: flex
    width: 100%
    grid-gap: 10px
    img
        width: auto
        height: auto
        max-width: 470px
        min-width: 150px
        display: block
    .r
        display: flex
        flex-direction: column
        justify-content: space-between
        @media (max-width: 576px)
            width: 100%
    p
        @include subtitle-2
        margin-top: 0px
    button
        background-color: $c-green
        color: #fff
        border: none
        display: flex
        padding: 15px
        align-items: center
        justify-content: flex-end
        font-weight: 600
        font-size: 16px
        line-height: 100%
        i
            margin-left: 10px
            color: inherit
    @media (max-width: 991px)
        flex-direction: column
        img
            max-width: unset
            width: 100%
.viewd
    display: flex
li
    border-bottom: 1px solid $c-gray-light-1
    padding-bottom: 15px
    margin-bottom: 15px
.bannerNative
    margin-top: 15px
    margin-bottom: 0%
    border-bottom: none
</style>
