<template>
 <!-- custom: itemCount == 'custom', -->
  <div
    class="tableItem"
    ref="tableItem"
    :class="{

      mobile: getSize == 'mobile' && mobileTable,
    }"
  >
    <!-- :style="{width: `calc(${el.column_width} - 10px)`}" -->
    <p
      v-for="(el, idx) in item"
      :key="idx"
      class="td"
      :style="{ width: el.column_width }"
      v-html="el.column_text"
    ></p>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "blog-item",
  props: {
    item: [Object, Array],
    mobileTable: Boolean,
  },
  computed: {
    ...mapGetters(["getSize"]),
    // itemCount() {
    //   if (this.item.length == 2) {
    //     return "custom";
    //   } else {
    //       return null
    //   }
    // },
  },
  mounted() {},
};
</script>

<style lang="sass" scoped>
.dark
    .tableItem
        border-color: #2F2F3E
.tableItem
    display: flex
    align-items: center
    border-bottom: 1px solid #DEDDE7
    justify-content: space-between
    padding: 15px 10px
    transition: .3s
    &:first-of-type
        border-top: 1px solid #DEDDE7
    &:nth-child(odd)
        background-color: #F6F5FA
    &:hover
        background-color: #DEDDE7
    .heading
        font-weight: 600
        font-size: 28px
        line-height: 140%
    .second-text, p
        font-size: 17px
        line-height: 160%
    .link
        font-size: 17px
        line-height: 160%
    .td
        margin: 0px
        font-weight: 400
        font-size: 16px
        line-height: 145%
        letter-spacing: -0.02em
        color: #111325
.custom
    @media (max-width: 576px)
        p:first-of-type
            width: 20% !important
        p:last-of-type
            width: 80% !important
.mobile
    flex-wrap: wrap
</style>
