<template>
    <div class="tableWrp innerWrapper" :id="propData.content.anker_title">
        <h2 class="sectionTitle" v-if="propData.content.anker_title">{{ propData.content.anker_title }}</h2>
        <div class="blogWrapper">
            <template v-if="getSize == 'desktop' || getSize == 'tablet'">
                <table-item
                    v-for="(item, idx) in propData.content.rows"
                    :key="idx"
                    :item="item"
                ></table-item>
            </template>
            <template v-else>
                <template v-if="!propData.content.mob_rows">
                    <table-item
                        v-for="(item, idx) in propData.content.rows"
                        :key="idx"
                        :item="item"
                    ></table-item>
                </template>
                <template v-else>
                    <table-item
                        v-for="(item, idx) in propData.content.mob_rows"
                        :key="idx"
                        :item="item"
                        :mobileTable="true"
                    ></table-item>
                </template>
            </template>
        </div>
    </div>
</template>

<script>
import tableItem from "./article-table-item.vue"
import { mapGetters } from "vuex";
export default {
    components: { tableItem },
    name: "blog-table",
    props: {
        propData: {
            type: [Object, Array],
            require: true
        }
    },
    computed: {
        ...mapGetters(["getSize"])
    },
    mounted() {
        const tdList = document.querySelectorAll(".tableItem");
        tdList.forEach(td => {
            if (td.classList.contains("mobile")) {
                td.classList.remove("custom");
            }
        });
    }
};
</script>

<style lang="sass" scoped></style>
