<template>
    <div class="galleryWrp">
        <h2 class="h2Title">{{ propData.content.title }}</h2>
        <Flickity ref="flickity" class="slider" :options="sliderOptions">
            <div
                class="slide"
                v-for="(item, index) in propData.content.list"
                :key="index"
            >
                <img
                    :src="path(item.image)"
                    :alt="path(item.image)"
                    @load="imgLoaded"
                />
                <p class="desc">{{ item.description }}</p>
            </div>
        </Flickity>
        <div class="nav">
            <span class="icon ic-arrow-left prev" @click="onPrev"></span>
            <span class="icon ic-arrow-right next" @click="onNext"></span>
        </div>
        <app-modal
            v-if="modalGal"
            :compdata="propData.content.list"
            @close="hideModal"
            :curIndex="currentImg"
        ></app-modal>
    </div>
</template>

<script>
import Flickity from "vue-flickity";
import appModal from "@/components/common/app-modal.vue";
export default {
    name: "gallery-block",
    props: {
        propData: {
            type: [Object, Array],
        },
    },
    components: {
        Flickity,
        appModal,
    },
    data() {
        return {
            modalGal: false,
            sliderOptions: {
                cellAlign: "left",
                contain: true,
                pageDots: false,
                prevNextButtons: false,
                adaptiveHeight: true,
                imagesLoaded: true,
                currentImg: 0,
            },

            delay: 300,
            clicks: 0,
            timer: null,
        };
    },
    methods: {
        hideModal(){
            this.modalGal = !this.modalGal
            this.$emit('closePopUp')
        },
        onNext() {
            this.$refs.flickity.next();
        },
        onPrev() {
            this.$refs.flickity.previous();
        },
        onImgClick(index) {
            this.currentImg = index;
            this.modalGal = !this.modalGal;
        },
        imgLoaded() {
            this.$refs.flickity.resize();
        },
    },
    mounted() {
        setTimeout(() => {
            this.$refs.flickity.resize();
            this.$refs.flickity.on(
                "staticClick",
                (event, pointer, cellElement, cellIndex) => {
                    this.onImgClick(cellIndex + 1);
                    this.$emit('showPopUp')
                }
            );
        }, 10);
    },
};
</script>

<style lang="sass">
.galleryWrp
        margin: 32px 0
        padding-left: 0px
        @media (max-width: 1599px)
            padding-left: 0px
        @media (max-width: 1199px)
            padding-left: 0px
        .slider
            .slide
                padding: 0 5px
                // max-width: 100%
                width: 100%
                img
                    // height: 448px
                    display: block
                    // max-width: unset
                    @media (max-width: 575px)
                        // width: 100%
        .nav
            display: flex
            justify-content: flex-end
            align-items: center
            padding: 32px 0 24px
            grid-gap: 10px
            padding-top: 0px !important
            padding-bottom: 0px
            img
                margin: 0 10px
            .prev, .next
                width: 50px
                height: 40px
                display: flex
                justify-content: center
                align-items: center
                border: 1px solid $c-green-on-black
                color: $c-green-on-black
                cursor: pointer
                transition: .3s
                &:hover
                    color: $c-white
                    border-color: $c-green
                    background-color: $c-green
.desc
    @include text-3
    color: $c-gray-light-2
    margin: 5px 0px !important
</style>
