<template>
    <div class="imgWrapperG">
        <h2>{{ propData.content.title }}</h2>
        <div class="imgWrapper" :class="imageCounter">
            <template v-for="(item, idx) in propData.content.list">
                <a :href="item.link" target="_blank" :key="idx">
                    <img :src="path(item.image)" :alt="item.description" />
                    <p class="desc">{{ item.description }}</p>
                </a>
            </template>
        </div>
    </div>
</template>

<script>
export default {
    name: "images-block",
    props: {
        propData: {
            type: Object,
        },
    },
    computed: {
        imageCounter() {
            const count = Object.keys(this.propData.content.list).length;
            if (count == 1) {
                return "one-image";
            } else if (count == 2) {
                return "two-image";
            } else {
                return "three-image";
            }
        },
    },
};
</script>

<style lang="sass" scoped>
.imgWrapper
    display: flex
    justify-content: space-between
.one-image
    div
        width: 100%
.two-image
    div
        width: calc(50% - 10px)
.three-image
    div
        width: calc(33% - 10px)
.imageCounter div
    display: flex
    flex-direction: column
.desc
    font-weight: 500
    font-size: 13px
    line-height: 130%
    color: #8A8F9d
h2
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
</style>
