<template>
    <div
        :class="{
            t50i50: propData.content.column_width == 5,
            t30i70: propData.content.column_width == 3,
            t70i30: propData.content.column_width == 7,
        }"
    >
        <h2 class="sectionTitle">{{ propData.content.title }}</h2>
        <div
            class="blockWrapper"
            :class="{ reverse: propData.content.image_position == 'left' }"
        >
            <div class="imgWrapper">
                <img :src="path(propData.content.image)" alt="" />
                <p class="img_descr">{{ propData.content.image_description }}</p>
            </div>
            <div
                class="textWrapper"
                v-html="propData.content.description"
            ></div>
        </div>
    </div>
</template>

<script>
export default {
    name: "image-and-text",
    props: {
        propData: {
            type: Object,
        },
    },
};
</script>

<style lang="sass" scoped>
.blockWrapper
    width: 100%
    display: flex
    justify-content: space-between
    .imgWrapper
        width: calc(40% - 10px)
        div
            width: 100%
    .textWrapper
        width: calc(60% - 10px)
    &.reverse
        flex-direction: row-reverse
.sectionTitle
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
.t50i50
    width: 100%
    .imgWrapper, .textWrapper
        width: calc(50% - 10px)
.t30i70
    width: 100%
    .imgWrapper
        width: calc(70% - 10px)
    .textWrapper
        width: calc(30% - 10px)
.t70i30
    width: 100%
    .imgWrapper
        width: calc(30% - 10px)
    .textWrapper
        width: calc(70% - 10px)
.imgWrapper
    img
        width: 100%
.t30i70, .t50i50, .t70i30
    @media (max-width: 1024px)
        .blockWrapper
            flex-direction: column
        .imgWrapper, .textWrapper
            width: 100%
.img_descr
    font-weight: 500
    font-size: 13px
    line-height: 130%
    color: #8A8F9D
</style>
