<template>
    <div>
        <h2>{{ propData.content.title }}</h2>
        <template v-if="propData.content.type == 'ul'">
            <ul>
                <template v-for="(item, idx) in propData.content.list">
                    <li v-if="item.item" :key="idx">{{ item.item }}</li>
                </template>
            </ul>
        </template>
        <template v-else>
            <ol>
                <template v-for="(item, idx) in propData.content.list">
                    <li v-if="item.item" :key="idx">{{ item.item }}</li>
                </template>
            </ol>
        </template>

    </div>
</template>

<script>
export default {
    name: "list",
    props: {
        propData: {
            type: Object,
        },
    },
};
</script>

<style lang="sass" scoped>
h2
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
</style>

