<template>
    <div class="quote quote-v1" v-if="propData.content.image">
        <!-- <h2>{{ propData.content.title }}</h2> -->
        <img :src="path(propData.content.image)" alt="propData.content.image" />
        <div class="textWrp">
            <div class="title">{{ propData.content.title }}</div>
            <p class="text" v-html="propData.content.text"></p>
        </div>
    </div>
    <div class="quote quote-v2" v-else-if="!propData.content.image && propData.content.title">
        <div class="title">{{ propData.content.title }}</div>
        <p class="text" v-html="propData.content.text"></p>
    </div>
    <div class="quote quote-v3" v-else-if="!propData.content.title">
        <p class="text" v-html="propData.content.text"></p>
    </div>
</template>

<script>
export default {
    name: "quotes",
    props: {
        propData: {
            type: Object,
        },
    },
};
</script>

<style lang="sass" scoped>
.textWrp .text
    margin-top: -10px
.quote-v1
    display: flex
    justify-content: space-between
    img
        border: 3px solid #DEDDE7
        border-radius: 50%
        max-height: 120px
    .textWrp
        width: calc(100% - 155px)
        .text
            border-left: none
            padding-left: 0px
.quote-v3
    .text
        border-left: none!important
.title
    @include subtitle-1
    color: $c-green
.quote .text
    font-style: italic
    border-left: 3px solid #A5BE8C
    border-radius: 3px
    padding-left: 15px
    font-size: 16px
    line-height: 145%
    letter-spacing: -0.02em
    & > p
        font-style: italic !important
        font-weight: normal
        font-size: 16px
        line-height: 145%
        letter-spacing: -0.02em
        color: #555861
h2
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
</style>
