<template>
    <div>
        <span class="hr"></span>
        <h2>{{ propData.content.title }}</h2>
        <!-- <div :class="itemCounter">
            <a
                :href="item.url"
                class="seeAlsoBlock"
                v-for="(item, idx) in propData.content.list"
                :key="idx"
            >
                <div class="text">
                    <p class="title">{{ item.title }}</p>
                    <p class="desc" v-html="item.text"></p>
                </div>
                <i class="icon ic-arrow-right"></i>
            </a>
        </div> -->
        <div :class="itemCounter">
            <router-link :to="item.url" class="seeAlsoBlock-n" v-for="(item, idx) in propData.content.list" :key="idx">
                <img :src="path(item.image)" alt="">
                <div class="text">
                    <p v-html="item.title"></p>
                    <i class="icon ic-arrow-right"></i>
                </div>
            </router-link>
            </div>
        <span class="hr"></span>
    </div>
</template>

<script>
export default {
    name: "see-also",
    props: {
        propData: {
            type: Object,
        },
    },
    computed: {
        itemCounter() {
            const count = Object.keys(this.propData.content.list).length;
            if (count == 1) {
                return "one-item";
                // } else if (count == 2) {
                //     return "two-image";
                // }
            } else {
                return "two-item";
            }
        },
    },
};
</script>

<style lang="sass" scoped>
.seeAlsoBlock
    display: flex
    margin: 15px 0px
    border: 1px solid $c-green-on-black
    box-sizing: border-box
    position: relative
    padding: 15px
    .desc
        font-weight: inherit !important
        font-size: inherit !important
        line-height: inherit !important
        letter-spacing: inherit !important
        color:  inherit !important
    i
        color: $c-green-on-black
        position: absolute
        bottom: 10px
        right: 10px
    .title
        @include subtitle-2
        color: $c-black-text
        margin-top: 0px
    .desc
        font-weight: 500
        font-size: 13px
        line-height: 130%
        color: #111325
.two-item
    display: flex
    justify-content: space-between
    .seeAlsoBlock, .seeAlsoBlock-n
        width: calc(50% - 10px)
    @media (max-width: 820px)
        flex-wrap: wrap
        .seeAlsoBlock, .seeAlsoBlock-n
            width: 100%
h2
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
.seeAlsoBlock-n
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 10px
    background-color: #F6F5FA
    margin-bottom: 15px
    img
        width: 124px
        margin-right: 10px
    p
        font-weight: 500
        font-size: 16px
        line-height: 125%
        color: #111325
        margin-top: 0px
    i
        color: #75AD40
        text-align: right
    .text
        width: calc(100% - 134px)
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
</style>
