<template>
    <div>
        <h2>{{ propData.content.title }}</h2>
        <p v-html="propData.content.description"></p>
    </div>
</template>

<script>
export default {
    name: "simpleText",
    props: {
        propData: {
            type: Object,
        },
    },
};
</script>

<style lang="sass" scoped>
h2
    font-weight: 600
    font-size: 26px
    line-height: 120%
    color: #111325
</style>
