<template>
    <div :class="{container: !propData.content }">
        <span class="hr" v-if="propData.content"></span>
        <a :href="link" class="tgBlock">
            <img :src="require(`@/assets/images/tg.png`)" alt="">
            <div class="text">
                <p class="title">{{ title }}</p>
                <p class="desc">{{ subTitle }}</p>
            </div>
            <i class="icon ic-arrow-right"></i>
        </a>
        <span class="hr"></span>
    </div>
</template>

<script>
export default {
    name: "telegram",
    props: {
        propData: {
            type: Object,
        },
    },
    computed: {
        link() {
            return this.propData.content ? this.propData.content.link : this.propData.link
        },
        title(){
            return this.propData.content ? this.propData.content.title : this.propData.title
        },
        subTitle(){
             return this.propData.content ? this.propData.content.subtitle : this.propData.subtitle
        }
    },
};
</script>

<style lang="sass" scoped>
.tgBlock
    display: flex
    margin: 15px 0px
    align-items: center
    border: 1px solid #039BE5
    box-sizing: border-box
    padding: 15px
    img
        margin-right: 15px
    p
        margin: 0px
    i
        margin-left: auto
        color: #039BE5
    .title
       @include menu-2
       color: $c-gray-light-2
    .desc
        font-weight: 600
        font-size: 16px
        line-height: 100%
        color: #039BE5
</style>
